// Proxy Options Specific Rules
@import '_mixins';

.server {
  .server-options {
    height: 219px;
    width: 258px;
    border: 1px solid #f0405e;
    border-radius: 3px;

    &__section-header {
      padding-top: 71px;
    }

    &__label {
      @include server-select-font();
      height: 12px;
      margin-bottom: 3px;
      margin-top: 9px;
      padding-left: 0.5px;
    }

    &__input-group {
      margin: 0 11.5px !important;
      padding-bottom: 2px;
    }

    &__input {
      @include server-select-font();

      &--bordered {
        border: 1px solid #F0405E;
      }

      &--field {
        width: 234px;
        height: 29px;
        &:disabled {
          background: rgb(229, 229, 229);
          cursor: not-allowed;
        }
      }

      &--select {
          width: 234px;
          height: 29px;
      }
    }

    &__submit-row {
      align-self: flex-end;
    }

    &__create {
      margin-right: -3px;
      width: 110px;
      height: 29px;
      cursor: pointer;
      background: #F0405E;
      border: none;
      border-radius: 3px;
      font-family: AvenirNext-Medium;
      font-size: 12px;
      color: #EFEFEF;
      letter-spacing: 0;
    }

    &__destroy {
      margin-right: -17px;
      width: 110px;
      height: 29px;
      cursor: pointer;
      background: #46ADB4;
      border: none;
      border-radius: 3px;
      font-family: AvenirNext-Medium;
      font-size: 12px;
      color: #EFEFEF;
      letter-spacing: 0;
    }
  }
}
