// Tasks Table Specific Rules
@import '_mixins';

%server-table__text-field {
  text-overflow: ellipsis;
}

%server-table__header__field {
  margin: 0;

  &>p {
    font-family: AvenirNext-Medium;
    font-size: 12px;
    color: #161318;
    letter-spacing: 0;
    margin: 5px 0;
  }
}

.server {
  .server-table-container {
    width: 741px;
    height: 300px;
    border: 1px solid #F0405E;
    border-radius: 3px;
    margin: 0 16px 0 0 !important;

    .server-table__wrapper {
      min-width: 0;
      width: 100%;
      overflow: hidden;
      display: block;
    }

    .server-table__header {
      margin: 0;
      padding-bottom: 1px;
      height: 26px;
      min-height: 26px;

      .server-table__header__type {
        @extend %tasks-table__header__field;
        width: 26px;

        &>p {
          text-align: center;
        }
      }

      .server-table__header__size {
        @extend %tasks-table__header__field;
        width: 129px;
      }

      .server-table__header__location {
        @extend %tasks-table__header__field;
        width: 73px;
      }

      .server-table__header__charges {
        @extend %tasks-table__header__field;
        width: 268px;
      }

      .server-table__header__status {
        @extend %tasks-table__header__field;
        width: 54px;
      }

      .server-table__header__actions {
        @extend %tasks-table__header__field;
        width: 50px;
      }
    }
  }

  .server-table {
    border-collapse: collapse;
    border-spacing: 0 10px;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;

    &__section-header {
      padding-top: 1px;
    }

    .blank {
      padding-left: 10px;
    }

    .extend {
      padding-right: 4px;
    }

    .pad-left {
      padding-left: 5px;
      padding-bottom: 0;
    }

    .server-row-container {
      border-bottom: #dfdfdf solid 1px;

      .server-row {
        display: flex;
        height: 30px;

        img {
          @include image();
        }


        &__type {
          width: 26px;
          text-align: center;
        }

        &__size {
          @extend %tasks-table__text-field;
          width: 129px;
        }

        &__location {
          text-overflow: ellipsis;
          width: 73px;
        }

        &__charges {
          @extend %tasks-table__text-field;
          width: 268px;

          &>p {
            text-overflow: ellipsis;
          }
        }

        &__status {
          @extend %tasks-table__text-field;
          width: 54px;
        }

        &__actions {
          width: 50px;

          &__button {
            padding-bottom: 3px;
            width: 16px;
          }
        }
      }
    }
  }
}
