.container {
    margin: 0 15px;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
  }
    /* grid start */
  .row {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-around;
    margin: 0 -15px;
  }
  .row--start {
    justify-content: flex-start;
  }
  .row--end {
    justify-content: flex-end;
  }
  .row--between {
    justify-content: space-between;
  }
  .row--expand {
    flex: 1 1 auto;
  }
  .row--gutter-left {
    margin-left: 0 !important;
  }
  .row--gutter-right {
    margin-right: 0 !important;
  }
  .row--gutter {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  
  .col {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around;
    margin: 0 15px;
  }
  .col--start {
    justify-content: flex-start;
  }
  .col--end {
    justify-content: flex-end;
  }
  .col--between {
    justify-content: space-between;
  }
  .col--expand {
    flex: 1 1 auto;
  }
  .col--no-gutter-left {
    margin-left: -1.5px !important;
  }
  .col--no-gutter-right {
    margin-right: 0 !important;
  }
  .col--no-gutter {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  /* grid end */


  /* server credentials start */
  .server .server-credentials {
    margin-top: 1px;
    height: 167px;
    width: 277px;
    border: 1px solid #f0405e;
    border-radius: 3px;
  }
  .server .server-credentials__section-header {
    padding-top: 0px;
  }
  .server .server-credentials__label {
    font-family: AvenirNext-Medium;
    font-size: 9px;
    color: #161318;
    letter-spacing: 0;
    height: 12px;
    margin-bottom: 3px;
    margin-top: 9px;
    padding-left: 0.5px;
  }
  .server .server-credentials__input-group {
    margin: 0 11.5px !important;
    padding-top: -1px;
    padding-bottom: 2px;
  }
  .server .server-credentials__input {
    font-family: AvenirNext-Medium;
    font-size: 9px;
    color: #161318;
    letter-spacing: 0;
  }
  .server .server-credentials__input--bordered {
    border: 1px solid #F0405E;
  }
  .server .server-credentials__input--field {
    width: 252px;
    height: 29px;
  }
  .server .server-credentials__input--field:disabled {
    background: #e5e5e5;
    cursor: not-allowed;
  }
  .server .server-credentials__submit-row {
    align-self: flex-end;
  }
  .server .server-credentials__submit {
    margin-right: -1px;
    width: 83px;
    height: 29px;
    cursor: pointer;
    background: #F0405E;
    border: none;
    border-radius: 3px;
    font-family: AvenirNext-Medium;
    font-size: 12px;
    color: #EFEFEF;
    letter-spacing: 0;
  }
  /* server credentials end */

  /* proxy options start */
  .server .proxy-options {
    margin-left: -10px;
    height: 219px;
    width: 258px;
    border: 1px solid #f0405e;
    border-radius: 3px;
  }
  .server .proxy-options__section-header {
    padding-top: 71px;
  }
  .server .proxy-options__label {
    font-family: AvenirNext-Medium;
    font-size: 9px;
    color: #161318;
    letter-spacing: 0;
    height: 12px;
    margin-bottom: 3px;
    margin-top: 9px;
    padding-left: 0.5px;
  }
  .server .proxy-options__input-group {
    margin: 0 11.5px !important;
    padding-top: -1px;
    padding-bottom: 2px;
  }
  .server .proxy-options__input {
    font-family: AvenirNext-Medium;
    font-size: 9px;
    color: #161318;
    letter-spacing: 0;
  }
  .server .proxy-options__input--bordered {
    border: 1px solid #F0405E;
  }
  .server .proxy-options__input--number {
    width: 56px;
    height: 29px;
  }
  .server .proxy-options__input--location {
    width: 162px;
    height: 29px;
  }
  .server .proxy-options__input--field {
    width: 234px;
    height: 29px;
  }
  .server .proxy-options__generate {
    margin-right: -3px;
    width: 110px;
    height: 29px;
    cursor: pointer;
    background: #F0405E;
    border: none;
    border-radius: 3px;
    font-family: AvenirNext-Medium;
    font-size: 12px;
    color: #EFEFEF;
    letter-spacing: 0;
  }
  .server .proxy-options__destroy {
    margin-right: -17px;
    width: 110px;
    height: 29px;
    cursor: pointer;
    background: #46ADB4;
    border: none;
    border-radius: 3px;
    font-family: AvenirNext-Medium;
    font-size: 12px;
    color: #EFEFEF;
    letter-spacing: 0;
  }
  /* proxy options end */

  /* server options start */
  .server .server-options {
    height: 219px;
    width: 258px;
    border: 1px solid #f0405e;
    border-radius: 3px;
  }
  .server .server-options__section-header {
    padding-top: 71px;
  }
  .server .server-options__label {
    font-family: AvenirNext-Medium;
    font-size: 9px;
    color: #161318;
    letter-spacing: 0;
    height: 12px;
    margin-bottom: 3px;
    margin-top: 9px;
    padding-left: 0.5px;
  }
  .server .server-options__input-group {
    margin: 0 11.5px !important;
    padding-bottom: 2px;
  }
  .server .server-options__input {
    font-family: AvenirNext-Medium;
    font-size: 9px;
    color: #161318;
    letter-spacing: 0;
  }
  .server .server-options__input--bordered {
    border: 1px solid #F0405E;
  }
  .server .server-options__input--field {
    width: 234px;
    height: 29px;
  }
  .server .server-options__input--select {
    width: 234px;
    height: 29px;
  }
  .server .server-options__create {
    margin-right: -3px;
    width: 110px;
    height: 29px;
    cursor: pointer;
    background: #F0405E;
    border: none;
    border-radius: 3px;
    font-family: AvenirNext-Medium;
    font-size: 12px;
    color: #EFEFEF;
    letter-spacing: 0;
  }
  .server .server-options__destroy {
    margin-right: -17px;
    width: 110px;
    height: 29px;
    cursor: pointer;
    background: #46ADB4;
    border: none;
    border-radius: 3px;
    font-family: AvenirNext-Medium;
    font-size: 12px;
    color: #EFEFEF;
    letter-spacing: 0;
  }
  /* server options end */
  
  .server .server-table .server-row-container .server-row__size, .server .server-table .server-row-container .server-row__type, .server .server-table .server-row-container .server-row__location {
    text-overflow: ellipsis;
  }
  
  .server .server-table-container .server-table__header .server-table__header__actions, .server .server-table-container .server-table__header .server-table__header__type, .server .server-table-container .server-table__header .server-table__header__size, .server .server-table-container .server-table__header .server-table__header__location, .server .server-table-container .server-table__header .server-table__header__charges, .server .server-table-container .server-table__header .server-table__header__status {
    margin: 0;
  }
  .server .server-table-container .server-table__header .server-table__header__actions > p, .server .server-table-container .server-table__header .server-table__header__type > p, .server .server-table-container .server-table__header .server-table__header__size > p, .server .server-table-container .server-table__header .server-table__header__location > p, .server .server-table-container .server-table__header .server-table__header__charges > p, .server .server-table-container .server-table__header .server-table__header__status > p {
    font-family: AvenirNext-Medium;
    font-size: 12px;
    color: #161318;
    letter-spacing: 0;
    margin: 0px 0;
  }
  
  .server .server-table-container {
    width: 823px;
    height: 333px;
    border: 1px solid #F0405E;
    border-radius: 3px;
    margin: 0 0px 0 0;
  }
  .server .server-table-container .server-table__wrapper {
    min-width: 0;
    width: 100%;
    overflow: hidden;
    display: block;
  }
  .server .server-table-container .server-table__header {
    margin: 0;
    padding-bottom: 1px;
    height: 26px;
    min-height: 26px;
  }
  .server .server-table-container .server-table__header .server-table__header__type {
    margin-left: -20px !important;
    width: 99px;
  }
  .server .server-table-container .server-table__header .server-table__header__size {
    width: 45px;
  }
  .server .server-table-container .server-table__header .server-table__header__location {
    width: 55px;
  }
  .server .server-table-container .server-table__header .server-table__header__charges {
    width: 15px;
  }
  .server .server-table-container .server-table__header .server-table__header__status {
    width: 35px;
  }
  .server .server-table-container .server-table__header .server-table__header__actions {
    width: 50px;
  }
  .server .server-table {
    border-collapse: collapse;
    border-spacing: 0 10px;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .server .server-table__section-header {
    margin-top: -9px;
  }
  .server .server-table .blank {
    padding-left: 10px;
  }
  .server .server-table .extend {
    padding-right: 4px;
  }
  .server .server-table .pad-left {
    padding-left: 5px;
    padding-bottom: 0;
  }
  .server .server-table .server-row-container {
    border-bottom: #dfdfdf solid 1px;
  }
  .server .server-table .server-row-container .server-row {
    display: flex;
    height: 30px;
  }
  .server .server-table .server-row-container .server-row img {
    cursor: pointer;
    vertical-align: middle;
  }
  .server .server-table .server-row-container .server-row__type {
    margin-left: -2px !important;
    width: 135px;
  }
  .server .server-table .server-row-container .server-row__size {
    text-overflow: ellipsis;
    width: 80px;
  }
  .server .server-table .server-row-container .server-row__location {
    width: 100px;
  }
  .server .server-table .server-row-container .server-row__charges {
    margin-left: 8px !important;
    width: 30px;
  }
  .server .server-table .server-row-container .server-row__charges > p {
    text-align: center;
  }
  .server .server-table .server-row-container .server-row__status {
    width: 67px;
  }
  .server .server-table .server-row-container .server-row__actions {
    width: 50px;
    margin-right: 20px !important;
  }
  .server .server-table .server-row-container .server-row__actions__button {
    padding-bottom: 3px;
    margin-right: 3px;
    width: 16px;
  }
  .server .server-table .server-row-container .server-row__actions__button:nth-child(1) {
    margin-right: 4px;
  }
  .server .server-table .server-row-container .server-row__actions__button:nth-child(2) {
    width: 16px;
  }
  
  .view-line {
    margin: 0;
    border: 1px solid #EDBCC6;
    flex: 1 1 100%;
  }
  
  .section-header {
    max-height: 32px;
    margin: 6px 0;
  }
  .section-header.section-header--no-top {
    margin-top: 0;
  }
  
  .server__title {
    padding-top: 1px !important;
    padding-bottom: 3px !important;
  }
  
  /*# sourceMappingURL=server.css.map */
  