#server-header {
    position: absolute;
    top: 26px;
    left: 140px;
    width: 118px;
    height: 66px;
}

#login-label {
    margin: 0;
    position: absolute;
    top: 101px;
    left: 140px;
}

#login-box {
    position: absolute;
    top: 124px;
    left: 140px;
    width: 277px;
    height: 167px;
    border: 1px solid #F0405E;
    border-radius: 3px;
}

#access-key-label {
    font-family: AvenirNext-Medium;
    font-size: 9px;
    margin: 0;
    position: absolute;
    top: 134px;
    left: 153px;
    width: 80px;
    height: 12px;
}

#access-key {
    position: absolute;
    top:150px;
    left:153px;
    width: 252px;
    height: 29px;
    border: 1px solid #F0405E;
}

#secret-key-label {
    font-family: AvenirNext-Medium;
    font-size: 9px;
    margin: 0;
    position: absolute;
    top: 190px;
    left: 153px;
    width: 80px;
    height: 12px;
}

#secret-key {
    position: absolute;
    top:205px;
    left:153px;
    width: 252px;
    height: 29px;
    border: 1px solid #F0405E;
}

#submit-aws-login {
    position: absolute;
    top: 247px;
    left: 321px;
    width: 83px;
    height: 29px;
    cursor: pointer;
    background: #F0405E;
    border: none;
    border-radius: 3px;
    font-family: AvenirNext-Medium;
    font-size: 12px;
    color: #EFEFEF;
    letter-spacing: 0;
}

#proxies-label {
    margin: 0;
    position: absolute;
    top: 101px;
    left: 432px;
    width: 40px;
    height: 16px;
}

#proxies-box {
    position: absolute;
    top: 124px;
    left: 432px;
    width: 258px;
    height: 219px;
    border: 1px solid #F0405E;
    border-radius: 3px;
}

#number-label {
    font-family: AvenirNext-Medium;
    font-size: 9px;
    margin: 0;
    position: absolute;
    top: 134px;
    left: 445px;
    width: 35px;
    height: 12px;
}

#number {
    position: absolute;
    top:150px;
    left:445px;
    width: 106px;
    height: 29px;
    border: 1px solid #F0405E;
}

#username-proxies-label {
    font-family: AvenirNext-Medium;
    font-size: 9px;
    margin: 0;
    position: absolute;
    top: 190px;
    left: 445px;
    width: 40px;
    height: 12px;
}

#username-proxies {
    position: absolute;
    top:205px;
    left:445px;
    width: 233px;
    height: 29px;
    border: 1px solid #F0405E;
}

#password-proxies-label {
    font-family: AvenirNext-Medium;
    font-size: 9px;
    margin: 0;
    position: absolute;
    top: 245px;
    left: 445px;
    width: 40px;
    height: 12px;
}

#password-proxies {
    position: absolute;
    top:260px;
    left:445px;
    width: 233px;
    height: 29px;
    border: 1px solid #F0405E;
}

#destroy-proxies {
    position: absolute;
    top: 301px;
    left: 445px;
    width: 110px;
    height: 29px;
    cursor: pointer;
    background: #46ADB4;
    border: none;
    border-radius: 3px;
    font-family: AvenirNext-Medium;
    font-size: 12px;
    color: #EFEFEF;
    letter-spacing: 0;
}

#generate-proxies {
    position: absolute;
    top: 301px;
    left: 568px;
    width: 110px;
    height: 29px;
    cursor: pointer;
    background: #F0405E;
    border: none;
    border-radius: 3px;
    font-family: AvenirNext-Medium;
    font-size: 12px;
    color: #EFEFEF;
    letter-spacing: 0;
}

#server-label {
    margin: 0;
    position: absolute;
    top: 101px;
    left: 705px;
    width: 40px;
    height: 16px;
}

#server-box {
    position: absolute;
    top: 124px;
    left: 705px;
    width: 258px;
    height: 219px;
    border: 1px solid #F0405E;
    border-radius: 3px;
}

#type-server-label {
    font-family: AvenirNext-Medium;
    font-size: 9px;
    margin: 0;
    position: absolute;
    top: 134px;
    left: 718px;
    width: 35px;
    height: 12px;
}

#type-server-button {
    position: absolute;
    top:154px;
    left:925px;
    width: 21px;
    height: 21px;
    cursor: pointer;
}

#type-server {
    position: absolute;
    top:150px;
    left:718px;
    width: 233px;
    height: 29px;
    border: 1px solid #F0405E;
}

#size-server-label {
    font-family: AvenirNext-Medium;
    font-size: 9px;
    margin: 0;
    position: absolute;
    top: 190px;
    left: 718px;
    width: 40px;
    height: 12px;
}

#size-server-button {
    position: absolute;
    top:209px;
    left:925px;
    width: 21px;
    height: 21px;
    cursor: pointer;
}

#size-server {
    position: absolute;
    top:205px;
    left:718px;
    width: 233px;
    height: 29px;
    border: 1px solid #F0405E;
}

#location-server-label {
    font-family: AvenirNext-Medium;
    font-size: 9px;
    margin: 0;
    position: absolute;
    top: 245px;
    left: 718px;
    width: 40px;
    height: 12px;
}

#location-server-button {
    position: absolute;
    top:264px;
    left:925px;
    width: 21px;
    height: 21px;
    cursor: pointer;
}

#location-server {
    position: absolute;
    top:260px;
    left:718px;
    width: 233px;
    height: 29px;
    border: 1px solid #F0405E;
}

#destroy-server {
    position: absolute;
    top: 301px;
    left: 718px;
    width: 110px;
    height: 29px;
    cursor: pointer;
    background: #46ADB4;
    border: none;
    border-radius: 3px;
    font-family: AvenirNext-Medium;
    font-size: 12px;
    color: #EFEFEF;
    letter-spacing: 0;
}

#create-server {
    position: absolute;
    top: 301px;
    left: 841px;
    width: 110px;
    height: 29px;
    cursor: pointer;
    background: #F0405E;
    border: none;
    border-radius: 3px;
    font-family: AvenirNext-Medium;
    font-size: 12px;
    color: #EFEFEF;
    letter-spacing: 0;
}

#server-log-label {
    position: absolute;
    top: 335px;
    left: 140px;
    width: 21px;
    height: 16px;
    margin: 0;
}

#server-log-box {
    position: absolute;
    top: 358px;
    left: 140px;
    width: 823px;
    height: 333px;
    border: 1px solid #F0405E;
    border-radius: 3px;
}

.server-log-header {
    position: absolute;
    font-family: AvenirNext-Medium;
    font-size: 12px;
    color: #161318;
    letter-spacing: 0;
}

#server-type-header {
    top: 365px;
    left: 161px;
    width: 28px;
    height: 16px;
    margin: 0;
}

#server-size-header {
    top: 365px;
    left: 355px;
    width: 39px;
    height: 16px;
    margin: 0;
}

#server-location-header {
    top: 365px;
    left: 485px;
    width: 47px;
    height: 16px;
    margin: 0;  
}

#server-charges-header {
    top: 365px;
    left: 615px;
    width: 105px;
    height: 16px;
    margin: 0;
}

#server-status-header {
    top: 365px;
    left: 779px;
    width: 34px;
    height: 16px;
    margin: 0;
}

#server-actions-header {
    top: 365px;
    left: 889px;
    width: 34px;
    height: 16px;
    margin: 0;
}

#server-log-line {
    margin: 0;
    border: 1px solid #EDBCC6;
    position: absolute;
    top:385.5px;
    left:141.3px;
    width:821px;
}