@import '../themes';

// Shared Mixins
@mixin image() {
  cursor: pointer;
  vertical-align: middle;
}

@mixin navbar-font() {
  font-family: AvenirNext-Medium;
  font-size: 9.5px;
  @include themify($themes) {
    color: themed('textColor');
  }
  letter-spacing: 0;
}
