@import './mixins';
@import '../themes';

%icons-base {
  cursor: pointer;
  &--active {
    opacity: 0.8333;
  }
}

%button-base {
  @include navbar-font();
  font-size: 12px;
  width: 65px;
  height: 29px;
  cursor: pointer;
  border: none;
  border-radius: 3px;
}

.react-bodymovin-container > svg {
  cursor: default !important;
}

.active {
  opacity: 0.8333;
}

.navbar {
  height: 100%;
  position: fixed;

  &--separator {
    @include themify($themes) {
      border-style: solid;
      border-width: 1px;
      border-color: themed('navbarDividerColor');
    }
    margin-top: 8.5px;
    margin-bottom: 8.5px;
    height: 100%;
    display: block;
  }

  &__logo {
    margin-top: 15px !important;
  }

  &__icons {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
  }

  &__icon {
    &--tasks {
      @extend %icons-base;
      margin-left: 13px;
      width: 61px;
      height: 49px;
    }
    &--profiles {
      @extend %icons-base;
      width: 44px;
      height: 43px;
    }
    &--servers {
      @extend %icons-base;
      width: 42px;
      height: 46px;
      // temporary while servers page is disabled
      & > div > svg {
        cursor: not-allowed !important;
      }
    }
    &--settings {
      @extend %icons-base;
      margin-left: -2px;
      width: 40px;
      height: 60px;
    }
  }

  &__button {
    &--open-captcha {
      @extend %button-base;
      @include themify($themes) {
        background: themed('buttonColorPrimary');
        color: themed('buttonPrimaryText');
      }
      margin-top: 19px;
      width: 75px;
    }
    &--close-captcha {
      @extend %button-base;
      @include themify($themes) {
        background: themed('buttonColorSecondary');
        color: themed('buttonPrimaryText');
      }
      margin-top: 19px;
      width: 75px;
    }
  }

  &__text {
    &--gap {
      margin-top: 15px !important;
    }

    &--app-name {
      text-transform: capitalize;
      text-align: center;
      margin: 0;
      margin-top: 10px;
      opacity: 0.75;
      color: #46adb4 !important;
    }
    &--app-version {
      text-align: center;
      cursor: pointer;
      opacity: 0.75;
      color: #f0405e !important;
      cursor: pointer;
    }
  }
}
