.navbar__icons--settings, .navbar__icons--servers, .navbar__icons--profiles, .navbar__icons--tasks, .navbar__icons--active {
  cursor: pointer;
}
.navbar {
  height: 100%;
  position: fixed;
}
.navbar--separator {
  margin-top: 8.5px;
  height: calc(100% - 8.5px);
  border: 1px solid #efefef;
  display: block;
}
.navbar__row-item--first {
  margin-top: 15px !important;
}
.navbar__row-item--second {
  margin-top: 55px !important;
}
.navbar__row-item--last {
  margin-bottom: 75px !important;
}
.navbar__icons--active {
  opacity: 0.5;
}
.navbar__icons--tasks {
  margin-left: 5px;
  width: 61px;
  height: 49px;
}
.navbar__icons--profiles {
  width: 44px;
  height: 43px;
}
.navbar__icons--servers {
  width: 42px;
  height: 46px;
}
.navbar__icons--settings {
  width: 40px;
  height: 60px;
}
.navbar__text--app-name {
  text-transform: capitalize;
  text-align: center;
  margin: 0;
  margin-top: 10px;
  opacity: 0.75;
  color: #46adb4;
}
.navbar__text--app-version {
  text-align: center;
  opacity: 0.75;
  color: #f0405e;
}
