/*
 * Implementation of themes
 */
/*
 * Implementation of themes
 */
.navbar__icon--settings, .navbar__icon--servers, .navbar__icon--profiles, .navbar__icon--tasks {
  cursor: pointer;
}
.navbar__button--close-captcha, .navbar__button--open-captcha {
  font-family: AvenirNext-Medium;
  font-size: 9px;
  letter-spacing: 0;
  font-size: 12px;
  width: 65px;
  height: 29px;
  cursor: pointer;
  border: none;
  border-radius: 3px;
}
.theme-light .navbar__button--close-captcha, .theme-light .navbar__button--open-captcha {
  color: #161318;
}
.theme-dark .navbar__button--close-captcha, .theme-dark .navbar__button--open-captcha {
  color: #efefef;
}

.active {
  opacity: 0.8333;
}

.navbar {
  height: 100%;
  position: fixed;
}
.navbar--separator {
  margin-top: 8.5px;
  margin-bottom: 8.5px;
  height: 100%;
  display: block;
}
.theme-light .navbar--separator {
  border-style: solid;
  border-width: 1px;
  border-color: #efefef;
}
.theme-dark .navbar--separator {
  border-style: solid;
  border-width: 1px;
  border-color: #3c3d42;
}
.navbar__logo {
  margin-top: 15px !important;
}
.navbar__icons {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
.navbar__icon--tasks {
  margin-left: 13px;
  width: 61px;
  height: 49px;
}
.navbar__icon--profiles {
  width: 44px;
  height: 43px;
}
.navbar__icon--servers {
  width: 42px;
  height: 46px;
}
.navbar__icon--settings {
  margin-left: -2px;
  width: 40px;
  height: 60px;
}
.navbar__button--open-captcha {
  margin-top: 19px;
  width: 75px;
}
.theme-light .navbar__button--open-captcha {
  background: #f0405e;
  color: #f4f4f4;
}
.theme-dark .navbar__button--open-captcha {
  background: #f0405e;
  color: #f4f4f4;
}
.navbar__button--close-captcha {
  margin-top: 19px;
  width: 75px;
}
.theme-light .navbar__button--close-captcha {
  background: #46adb4;
  color: #f4f4f4;
}
.theme-dark .navbar__button--close-captcha {
  background: #46adb4;
  color: #f4f4f4;
}
.navbar__text--gap {
  margin-top: 15px !important;
}
.navbar__text--app-name {
  text-transform: capitalize;
  text-align: center;
  margin: 0;
  margin-top: 10px;
  opacity: 0.75;
  color: #46adb4 !important;
}
.navbar__text--app-version {
  text-align: center;
  opacity: 0.75;
  color: #f0405e !important;
}
