/*
 * Implementation of themes
 */
.navbar__icon--settings, .navbar__icon--servers, .navbar__icon--profiles, .navbar__icon--tasks {
  cursor: pointer;
}
.active {
  opacity: 0.8333;
}

.navbar {
  height: 100%;
  position: fixed;
}
.navbar--separator {
  margin-top: 8.5px;
  margin-bottom: 8.5px;
  height: 100%;
  display: block;
}
.theme-light .navbar--separator {
  border-style: solid;
  border-width: 1px;
  border-color: #efefef;
}
.theme-dark .navbar--separator {
  border-style: solid;
  border-width: 1px;
  border-color: #3c3d42;
}
.navbar__logo {
  margin-top: 15px !important;
}
.navbar__icons {
  margin-top: 55px !important;
  margin-bottom: 75px !important;
}
.navbar__icon--tasks {
  margin-left: 13px;
  width: 61px;
  height: 49px;
}
.navbar__icon--profiles {
  width: 44px;
  height: 43px;
}
.navbar__icon--servers {
  width: 42px;
  height: 46px;
}
.navbar__icon--settings {
  width: 40px;
  height: 60px;
}
.navbar__text--app-name {
  text-transform: capitalize;
  text-align: center;
  margin: 0;
  margin-top: 10px;
  opacity: 0.75;
  color: #46adb4 !important;
}
.navbar__text--app-version {
  text-align: center;
  opacity: 0.75;
  color: #f0405e !important;
  cursor: pointer;
}
