.tasks-table .tasks-row-container .tasks-row .tasks-sizes, .tasks-table .tasks-row-container .tasks-row .tasks-profile, .tasks-table .tasks-row-container .tasks-row .tasks-sku {
  text-transform: uppercase;
  text-overflow: ellipsis;
}

.tasks-table-container .tasks-table__header .tasks-table__header__actions, .tasks-table-container .tasks-table__header .tasks-table__header__pairs, .tasks-table-container .tasks-table__header .tasks-table__header__sizes, .tasks-table-container .tasks-table__header .tasks-table__header__profile, .tasks-table-container .tasks-table__header .tasks-table__header__sites, .tasks-table-container .tasks-table__header .tasks-table__header__sku, .tasks-table-container .tasks-table__header .tasks-table__header__id, .tasks-table-container .tasks-table__header .tasks-table__header__edit {
  margin: 0;
}
.tasks-table-container .tasks-table__header .tasks-table__header__actions > p, .tasks-table-container .tasks-table__header .tasks-table__header__pairs > p, .tasks-table-container .tasks-table__header .tasks-table__header__sizes > p, .tasks-table-container .tasks-table__header .tasks-table__header__profile > p, .tasks-table-container .tasks-table__header .tasks-table__header__sites > p, .tasks-table-container .tasks-table__header .tasks-table__header__sku > p, .tasks-table-container .tasks-table__header .tasks-table__header__id > p, .tasks-table-container .tasks-table__header .tasks-table__header__edit > p {
  font-family: AvenirNext-Medium;
  font-size: 12px;
  color: #161318;
  letter-spacing: 0;
  margin: 5px 0;
}

.view-line {
  margin: 0;
  border: 1px solid #EDBCC6;
  width: 739px;
}

.section-header {
  max-height: 32px;
  margin: 6px 0;
}
.section-header.section-header--no-top {
  margin-top: 0;
  padding-top: 0;
}

.tasks-table-container {
  display: block;
  width: 741px;
  border: 1px solid #F0405E;
  border-radius: 3px;
  overflow: scroll;
  margin: 0 15px 0 0 !important;
}
.tasks-table-container .tasks-table__header {
  margin: 0 15px;
}
.tasks-table-container .tasks-table__header .tasks-table__header__edit {
  width: 25px;
}
.tasks-table-container .tasks-table__header .tasks-table__header__id {
  width: 42px;
}
.tasks-table-container .tasks-table__header .tasks-table__header__id > p {
  text-align: center;
}
.tasks-table-container .tasks-table__header .tasks-table__header__sku {
  width: 129px;
}
.tasks-table-container .tasks-table__header .tasks-table__header__sites {
  width: 73px;
}
.tasks-table-container .tasks-table__header .tasks-table__header__profile {
  width: 268px;
}
.tasks-table-container .tasks-table__header .tasks-table__header__sizes {
  width: 54px;
}
.tasks-table-container .tasks-table__header .tasks-table__header__pairs {
  width: 50px;
}
.tasks-table-container .tasks-table__header .tasks-table__header__actions {
  width: 42px;
}

.tasks-table {
  display: table;
  border-collapse: collapse;
  border-spacing: 0 10px;
  width: 100%;
}
.tasks-table .blank {
  padding-left: 10px;
}
.tasks-table .extend {
  padding-right: 4px;
}
.tasks-table .pad-left {
  padding-left: 5px;
  padding-bottom: 0;
}
.tasks-table .tasks-row-container {
  width: 100%;
}
.tasks-table .tasks-row-container .tasks-row {
  display: flex;
  height: 30px;
  border-bottom: #dfdfdf solid 1px;
  margin: 0 5px;
  align-items: center;
}
.tasks-table .tasks-row-container .tasks-row.tasks-row--edit {
  padding: 10px 0;
  height: 80px;
  align-items: flex-start;
  border: #b8d9d2 solid 1px;
  margin: 0 10px;
  border-radius: 3px !important;
}
.tasks-table .tasks-row-container .tasks-row .pad-left {
  padding-left: 5px;
  padding-bottom: 0;
}
.tasks-table .tasks-row-container .tasks-row img {
  cursor: pointer;
  vertical-align: middle;
}
.tasks-table .tasks-row-container .tasks-row .tasks-edit {
  width: 25px;
}
.tasks-table .tasks-row-container .tasks-row .tasks-id {
  width: 42px;
}
.tasks-table .tasks-row-container .tasks-row .tasks-sku {
  width: 129px;
}
.tasks-table .tasks-row-container .tasks-row .tasks-sites {
  text-overflow: ellipsis;
  width: 73px;
}
.tasks-table .tasks-row-container .tasks-row .tasks-profile {
  width: 268px;
}
.tasks-table .tasks-row-container .tasks-row .tasks-profile p {
  text-overflow: ellipsis;
}
.tasks-table .tasks-row-container .tasks-row .tasks-sizes {
  width: 54px;
}
.tasks-table .tasks-row-container .tasks-row .tasks-pairs {
  width: 50px;
}
.tasks-table .tasks-row-container .tasks-row .tasks-start {
  padding-bottom: 3px;
  width: 16px;
}
.tasks-table .tasks-row-container .tasks-row .tasks-stop {
  padding-bottom: 3px;
  width: 16px;
}
.tasks-table .tasks-row-container .tasks-row .tasks-destroy {
  padding-bottom: 3px;
  width: 16px;
}

.tasks-create {
  height: 226px;
  width: 277px;
  border: 1px solid #f0405e;
  border-radius: 3px;
}
.tasks-create__label {
  font-family: AvenirNext-Medium;
  font-size: 9px;
  color: #161318;
  letter-spacing: 0;
  height: 12px;
  margin-bottom: 3px;
  margin-top: 11px;
}
.tasks-create__input {
  width: 252px;
  height: 29px;
  border: 1px solid #F0405E;
}
.tasks-create__input--sku {
  text-transform: uppercase;
}
.tasks-create__input--sizes {
  width: 113px;
  height: 29px;
}
.tasks-create__input--pairs {
  width: 53px;
  height: 29px;
}
.tasks-create__submit-row {
  align-self: flex-end;
}
.tasks-create__submit {
  width: 83px;
  height: 29px;
  cursor: pointer;
  background: #F0405E;
  border: none;
  border-radius: 3px;
  font-family: AvenirNext-Medium;
  font-size: 12px;
  color: #EFEFEF;
  letter-spacing: 0;
}

.bulk-action-sidebar .bulk-action-sidebar__button {
  padding-bottom: 12px;
  cursor: pointer;
}

.container {
  margin: 0 15px;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-around;
  margin: 0 -15px;
}
.row--start {
  justify-content: flex-start;
}
.row--end {
  justify-content: flex-end;
}
.row--between {
  justify-content: space-between;
}
.row--expand {
  flex: 1 1 auto;
}
.row--gutter-left {
  margin-left: 0 !important;
}
.row--gutter-right {
  margin-right: 0 !important;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-around;
  margin: 0 15px;
}
.col--start {
  justify-content: flex-start;
}
.col--end {
  justify-content: flex-end;
}
.col--between {
  justify-content: space-between;
}
.col--expand {
  flex: 1 1 auto;
}
.col--no-gutter-left {
  margin-left: 0 !important;
}
.col--no-gutter-right {
  margin-right: 0 !important;
}

/* TEmporary */
.temp-log-box {
  width: 504px;
  height: 300px;
  border: 1px solid #F0405E;
  border-radius: 3px;
}

.temp-table-row {
  height: 330px;
}

/*# sourceMappingURL=tasksTable.css.map */
