@mixin image() {
    cursor: pointer;
    vertical-align: middle;
}

%tasks-table__text-field {
    text-transform: uppercase;
    text-overflow: ellipsis;
}

%tasks-table__header__field {
    margin: 0;

    & > p {
        font-family: AvenirNext-Medium;
        font-size: 12px;
        color: #161318;
        letter-spacing: 0;
        margin: 5px 0;
    }
}

.view-line {
    margin: 0;
    border: 1px solid #EDBCC6;
    width:739px;
}

.section-header {
    max-height: 32px;
    margin: 6px 0;

    &.section-header--no-top {
        margin-top: 0;
        padding-top: 0;
    }
}

.tasks-table-container {
    display: block;
    width: 741px;
    border: 1px solid #F0405E;
    border-radius: 3px;
    overflow: scroll;
    margin: 0 15px 0 0 !important;

    .tasks-table__header {
        margin: 0 15px;

        .tasks-table__header__edit {
            @extend %tasks-table__header__field;
            width: 25px;
        }

        .tasks-table__header__id {
            @extend %tasks-table__header__field;
            width: 42px;

            & > p {
                text-align: center;
            }
        }

        .tasks-table__header__sku {
            @extend %tasks-table__header__field;
            width: 129px;
        }

        .tasks-table__header__sites {
            @extend %tasks-table__header__field;
            width: 73px;
        }

        .tasks-table__header__profile {
            @extend %tasks-table__header__field;
            width: 268px;
        }

        .tasks-table__header__sizes {
            @extend %tasks-table__header__field;
            width: 54px;
        }

        .tasks-table__header__pairs {
            @extend %tasks-table__header__field;
            width: 50px;
        }

        .tasks-table__header__actions {
            @extend %tasks-table__header__field;
            width: 42px;
        }
    }
}

.tasks-table {
    display: table;
    border-collapse: collapse;
    border-spacing: 0 10px;
    width: 100%;

    .blank {
        padding-left: 10px;
    }

    .extend {
        padding-right: 4px;
    }

    .pad-left {
        padding-left: 5px;
        padding-bottom: 0;
    }

    .tasks-row-container {
        width: 100%;

        .tasks-row {
            display: flex;
            height: 30px;
            border-bottom: #dfdfdf solid 1px;
            margin: 0 5px;
            align-items: center;

            &.tasks-row--edit {
                padding: 10px 0;
                height: 80px;
                align-items: flex-start;
                border: #b8d9d2 solid 1px;
                margin: 0 10px;
                border-radius: 3px !important;
            }

            .pad-left {
                padding-left: 5px;
                padding-bottom: 0;
            }

            img { @include image() }

            .tasks-edit {
                width: 25px;
            }

            .tasks-id {
                width: 42px;
            }

            .tasks-sku {
                @extend %tasks-table__text-field;
                width: 129px;
            }

            .tasks-sites {
                text-overflow: ellipsis;
                width: 73px;
            }

            .tasks-profile {
                @extend %tasks-table__text-field;
                width: 268px;

                p {
                    text-overflow: ellipsis;
                }
            }

            .tasks-sizes {
                @extend %tasks-table__text-field;
                width: 54px;
            }

            .tasks-pairs {
                width: 50px;
            }

            .tasks-start {
                padding-bottom: 3px;
                width: 16px;
            }

            .tasks-stop {
                padding-bottom: 3px;
                width: 16px;
            }

            .tasks-destroy {
                padding-bottom: 3px;
                width: 16px;
            }
        }
    }
}

.tasks-create {
    height: 226px;
    width: 277px;
    border: 1px solid #f0405e;
    border-radius: 3px;

    &__label {
        font-family: AvenirNext-Medium;
        font-size: 9px;
        color: #161318;
        letter-spacing: 0;
        height: 12px;
        margin-bottom: 3px;
        margin-top: 11px;
        // width: 42px;
        // height: 12px;
    }

    &__input {
        width: 252px;
        height: 29px;
        border: 1px solid #F0405E;

        &--sku {
            text-transform: uppercase;
        }

        &--sizes {
            width: 113px;
            height: 29px;
        }

        &--pairs {
            width: 53px;
            height: 29px;
        }
    }

    &__submit-row {
        align-self: flex-end;
    }

    &__submit {
        width: 83px;
        height: 29px;
        cursor: pointer;
        background: #F0405E;
        border: none;
        border-radius: 3px;
        font-family: AvenirNext-Medium;
        font-size: 12px;
        color: #EFEFEF;
        letter-spacing: 0;
    }
}

.bulk-action-sidebar {
    & &__button {
        padding-bottom: 12px;
        cursor: pointer;
    }
}

.container {
    margin: 0 15px;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-around;
    margin: 0 -15px;

    &--start {
        justify-content: flex-start;
    }

    &--end {
        justify-content: flex-end;
    }

    &--between {
        justify-content: space-between;
    }

    &--expand {
        flex: 1 1 auto;
    }

    &--gutter-left {
        margin-left: 0 !important;
    }

    &--gutter-right {
        margin-right: 0 !important;
    }
}

.col {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around;
    margin: 0 15px;

    &--start {
        justify-content: flex-start;
    }

    &--end {
        justify-content: flex-end;
    }

    &--between {
        justify-content: space-between;
    }

    &--expand {
        flex: 1 1 auto;
    }

    &--no-gutter-left {
        margin-left: 0 !important;
    }

    &--no-gutter-right {
        margin-right: 0 !important;
    }
}

/* TEmporary */

.temp-log-box {
    width: 504px;
    height: 300px;
    border: 1px solid #F0405E;
    border-radius: 3px;
}

.temp-table-row {
    height: 330px;
}
