@mixin image() {
    cursor: pointer;
    vertical-align: middle;
}

@mixin tasks-select-font() {
    font-family: AvenirNext-Medium;
    font-size: 9px;
    color: #161318;
    letter-spacing: 0;
}

%tasks-table__text-field {
    text-transform: uppercase;
    text-overflow: ellipsis;
}

%tasks-table__header__field {
    margin: 0;

    & > p {
        font-family: AvenirNext-Medium;
        font-size: 12px;
        color: #161318;
        letter-spacing: 0;
        margin: 5px 0;
    }
}

%tasks-log__header__field {
    margin: 0;

    & > p {
        font-family: AvenirNext-Medium;
        font-size: 12px;
        color: #161318;
        letter-spacing: 0;
        margin: 5px 0;
    }
}

.view-line {
    margin: 0;
    border: 1px solid #EDBCC6;
    width: 100%;
    flex: 1 1 100%;
}

.section-header {
    max-height: 32px;
    margin: 6px 0;

    &.section-header--no-top {
        margin-top: 0;
        padding-top: 0;
    }
}

.tasks__title {
    padding-top: 1px !important;
    padding-bottom: 3px !important;
}

.tasks-table-container {
    display: block;
    width: 741px;
    border: 1px solid #F0405E;
    border-radius: 3px;
    overflow: scroll;
    margin: 0 16px 0 0 !important;

    .tasks-table__wrapper {
        min-width: 0;
        width: 100%;
    }

    .tasks-table__header {
        margin: 0;
        padding-bottom: 1px;

        .tasks-table__header__edit {
            @extend %tasks-table__header__field;
            width: 16px;
        }

        .tasks-table__header__id {
            @extend %tasks-table__header__field;
            width: 26px;

            & > p {
                text-align: center;
            }
        }

        .tasks-table__header__product {
            @extend %tasks-table__header__field;
            width: 129px;
        }

        .tasks-table__header__sites {
            @extend %tasks-table__header__field;
            width: 73px;
        }

        .tasks-table__header__profile {
            @extend %tasks-table__header__field;
            width: 268px;
        }

        .tasks-table__header__sizes {
            @extend %tasks-table__header__field;
            width: 54px;
        }

        .tasks-table__header__pairs {
            @extend %tasks-table__header__field;
            width: 50px;
        }

        .tasks-table__header__actions {
            @extend %tasks-table__header__field;
            width: 50px;
        }
    }
}

.tasks-table {
    border-collapse: collapse;
    border-spacing: 0 10px;

    .blank {
        padding-left: 10px;
    }

    .extend {
        padding-right: 4px;
    }

    .pad-left {
        padding-left: 5px;
        padding-bottom: 0;
    }

    .tasks-row-container {
        border-bottom: #dfdfdf solid 1px;

        .tasks-row {
            display: flex;
            height: 30px;
            // align-items: center;

            &.tasks-row--edit-orig {
                margin: 0 10px !important;
                padding: 10px 0 !important;
            }

            &.tasks-row--edit {
                padding: 10px;
                height: 80px;
                align-items: flex-start;
                border: #b8d9d2 solid 1px;
                margin: 0 -5px 5px -5px;
                border-radius: 3px !important;

                .billing {
                    vertical-align: middle;
                    padding-left: 19px;

                    &__label {
                        margin: 0;
                        @include tasks-select-font();
                    }

                    &__select {
                        width: 355px;
                        @include tasks-select-font();
                    }
                }

                .sizes {
                    vertical-align: middle;
                    margin-left: 10px !important;

                    &__label {
                        margin: 0;
                        @include tasks-select-font();
                    }

                    &__select {
                        width: 168px;
                        @include tasks-select-font();
                    }
                }
            
                .pairs {
                    vertical-align: middle;
                    margin-left: 10px !important;

                    &__label {
                        margin: 0;
                        @include tasks-select-font();
                    }

                    &__input {
                        vertical-align:middle;
                        width: 78px;
                        height: 29px;
                        border: #F0405E solid 1px;
                        border-radius: 3px;
                    }
                }

                .submit {
                    margin-top: 12px;

                    &__button {
                        width: 83px;
                        height: 29px;
                        cursor: pointer;
                        background: #F0405E;
                        border: none;
                        border-radius: 3px;
                        font-family: AvenirNext-Medium;
                        font-size: 12px;
                        color: #EFEFEF;
                        letter-spacing: 0;
                    }
                }
            }

            .pad-left {
                padding-left: 5px;
                padding-bottom: 0;
            }

            img { @include image(); }

            .tasks-edit {
                width: 16px;
            }

            .tasks-id {
                width: 26px;
                text-align: center;
            }

            .tasks-product {
                @extend %tasks-table__text-field;
                width: 129px;
            }

            .tasks-sites {
                text-overflow: ellipsis;
                width: 73px;
            }

            .tasks-profile {
                @extend %tasks-table__text-field;
                width: 268px;

                & > p {
                    text-overflow: ellipsis;
                }
            }

            .tasks-sizes {
                @extend %tasks-table__text-field;
                width: 54px;
            }

            .tasks-pairs {
                width: 50px;
            }

            .tasks-actions {
                width: 50px;

                &__button {
                    padding-bottom: 3px;
                    width: 16px;
                }
            }

            .tasks-start {
                padding-bottom: 3px;
                width: 16px;
            }

            .tasks-stop {
                padding-bottom: 3px;
                width: 16px;
            }

            .tasks-destroy {
                padding-bottom: 3px;
                width: 16px;
            }
        }
    }
}

.tasks-create {
    height: 226px;
    width: 277px;
    border: 1px solid #f0405e;
    border-radius: 3px;

    &__section-header {
        padding-bottom: 1px;
    }

    &__label {
        @include tasks-select-font();
        height: 12px;
        margin-bottom: 3px;
        margin-top: 9px;
        padding-left: 0.5px;
    }

    &__input-group {
        margin: 0 11.5px !important;
        padding-bottom: 2px;

        &--last {
            padding-top: 1px;
        }

        &--site {
            padding-left: 14px;
        }

        &--sizes {
            margin-right: 14px !important;
        }
    }

    &__input {
        width: 252px;
        height: 29px;
        @include tasks-select-font();

        &--bordered {
            border: 1px solid #F0405E;
        }

        &--product {
            width: 119px;
            text-transform: uppercase;
            margin-top: 1px;
        }

        &--site {
            width: 119px;
            height: 29px;
        }

        &--sizes {
            width: 185px;
            height: 29px;
        }

        &--pairs {
            width: 53px;
            height: 29px;
        }
    }

    &__submit-row {
        align-self: flex-end;
    }

    &__submit {
        margin-right: -1px;
        width: 83px;
        height: 29px;
        cursor: pointer;
        background: #F0405E;
        border: none;
        border-radius: 3px;
        font-family: AvenirNext-Medium;
        font-size: 12px;
        color: #EFEFEF;
        letter-spacing: 0;
    }
}

.tasks-log {
    width: 504px;
    height: 300px;
    border: 1px solid #F0405E;
    border-radius: 3px;
    margin-left: -1px;

    &__section-header {
        padding-bottom: 3px;
    }

    &__header {
        padding-bottom: 1px;

        &__id {
            @extend %tasks-log__header__field;
            width: 7px;
        }

        &__site {
            @extend %tasks-log__header__field;
            width: 21px;
        }

        &__output {
            @extend %tasks-log__header__field;
            width: 40px;
        }
    }

    &__view-line {          // This prevents the line from extending into the border of the tasks-log
        padding-right: 2px; // (still not sure why it's happening though!)
    }
}

.bulk-action-sidebar {
    & &__button {
        padding-bottom: 15px;
        cursor: pointer;
    }
}

.container {
    margin: 0 15px;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-around;
    margin: 0 -15px;

    &--start {
        justify-content: flex-start;
    }

    &--end {
        justify-content: flex-end;
    }

    &--between {
        justify-content: space-between;
    }

    &--expand {
        flex: 1 1 auto;
    }

    &--gutter-left {
        margin-left: 0 !important;
    }

    &--gutter-right {
        margin-right: 0 !important;
    }

    &--gutter {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}

.col {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around;
    margin: 0 15px;

    &--start {
        justify-content: flex-start;
    }

    &--end {
        justify-content: flex-end;
    }

    &--between {
        justify-content: space-between;
    }

    &--expand {
        flex: 1 1 auto;
    }

    &--no-gutter-left {
        margin-left: 0 !important;
    }

    &--no-gutter-right {
        margin-right: 0 !important;
    }

    &--no-gutter {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}

/* TEmporary */

.temp-table-row {
    height: 330px;
    padding-top: 1px;
}

.temp-debug {
    background-color: gray;
}
