// Create Task Specific Rules
@import '../../styles/themes';
@import '../../styles/mixins';

.tasks {
  .tasks-create {
    max-height: 285px;
    min-height: 225px;
    min-width: 280px;
    @include themify($themes) {
      border-color: themed('tableBorderColor');
      box-shadow: 0 0 10px themed('liveLogTableBorderTop');
    }
    flex-grow: 0.5;
    border-width: 0;
    border-style: solid;
    border-radius: 5px;

    &__section-header {
      padding-bottom: 1px;
    }

    &__label {
      @include select-font;
      @include themify($themes) {
        color: themed('tableHeaderColor');
      }
      height: 12px;
      margin-bottom: 3px;
      margin-top: 9px;
      padding-left: 0.5px;
    }

    &__input-group {
      margin: 0 11.5px !important;
      padding-bottom: 2px;

      &--first {
        margin: 0 11.5px !important;
        padding-bottom: 2px;
        margin-top: 1.5px !important;
      }

      &--middle {
        margin: 0 11.5px !important;
        padding-bottom: 2px;
        margin-bottom: 11px !important;
      }

      &--last {
        margin: 0 11.5px !important;
        padding-bottom: 2px;
        margin-bottom: 10.5px !important;
      }

      &--filter {
        padding-left: 14px;
        margin-bottom: 2px;
      }

      &--store {
        padding-left: 14px;
      }

      &--size {
        padding-left: 14px;
        margin-right: 0 !important;
      }
    }

    &__input {
      &--bordered {
        border-width: 1px;
        border-style: solid;
      }

      &--variation {
        height: 29px;
        max-width: 60px;
        @media screen and (min-width: 1250px) and (min-height: 745px) {
          height: 35px !important;
          transition: ease all 0.5s;
        }

        @include themify($themes) {
          background: themed('inputBackground');
        }
        &:disabled {
          @include themify($themes) {
            background: themed('inputBackgroundDisabled');
          }
        }
        &__short {
          height: 29px;

          @media screen and (min-width: 1250px) and (min-height: 745px) {
            transition: ease all 0.5s;
            height: 35px;
          }

          @include themify($themes) {
            background: themed('inputBackground');
          }
          &:disabled {
            @include themify($themes) {
              background: themed('inputBackgroundDisabled');
            }
          }
        }
      }

      &--checkout-delay {
        height: 29px;
        max-width: 50px;
        @media screen and (min-width: 1250px) and (min-height: 745px) {
          height: 35px !important;
          transition: ease all 0.5s;
        }

        @include themify($themes) {
          background: themed('inputBackground');
        }
        &:disabled {
          @include themify($themes) {
            background: themed('inputBackgroundDisabled');
          }
        }
        &__short {
          height: 29px;

          @media screen and (min-width: 1250px) and (min-height: 745px) {
            transition: ease all 0.5s;
            height: 35px;
          }

          @include themify($themes) {
            background: themed('inputBackground');
          }
          &:disabled {
            @include themify($themes) {
              background: themed('inputBackgroundDisabled');
            }
          }
        }
      }

      &--field {
        height: 29px;
        @media screen and (min-width: 1250px) and (min-height: 745px) {
          height: 35px !important;
          transition: ease all 0.5s;
        }

        @include themify($themes) {
          background: themed('inputBackground');
        }
        &:disabled {
          @include themify($themes) {
            background: themed('inputBackgroundDisabled');
          }
        }
        &__short {
          height: 29px;

          @media screen and (min-width: 1250px) and (min-height: 745px) {
            transition: ease all 0.5s;
            height: 35px;
          }

          @include themify($themes) {
            background: themed('inputBackground');
          }
          &:disabled {
            @include themify($themes) {
              background: themed('inputBackgroundDisabled');
            }
          }
        }
      }

      &--type-FAST {
        color: #858dbb;
      }

      &--type-SAFE {
        color: #8aa27d;
      }

      &--type-CART {
        color: #c7b8ea;
      }
    }

    &__submit-row {
      align-self: flex-end;
    }

    &__amount {
      width: 44px;
      height: 29px;
      cursor: pointer;
      border-width: 1px;
      border-style: solid;
      border-radius: 3px;
      @include font-base;
      font-weight: 500;
      text-align: center;
      @include themify($themes) {
        background: themed('inputBackground');
      }
    }

    &__submit {
      @include button-base;
      margin-right: -1px;
      @include themify($themes) {
        background: themed('buttonColorPrimary');
      }
      color: #f4f4f4 !important;
    }
  }
}
