// Tasks Table Specific Rules
@import '../../styles/themes';
@import '../../styles/mixins';

.tasks {
  .tasks-table-container {
    flex-grow: 5;
    @include themify($themes) {
      border-color: themed('tableBorderColor');
      box-shadow: 0 0 10px themed('liveLogTableBorderTop');
    }
    border-style: solid;
    border-width: 0;
    border-radius: 5px;

    .tasks-table__wrapper {
      min-width: 0;
      width: 100%;
      overflow: hidden;
      display: block;
    }

    .tasks-table__header {
      margin: 0;
      padding-bottom: 1px;
      height: 26px;
      min-height: 26px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;

      @include themify($themes) {
        background-color: themed('liveLogtableRowSelected');
      }

      .tasks-table__header__product {
        @include header-field;
        flex-grow: 5;
        margin-left: 15px;
        width: 100px;
      }

      .tasks-table__header__store {
        @include header-field;
        width: 125px;
        flex-grow: 1;
        margin-left: 15px;
      }

      .tasks-table__header__profile {
        @include header-field;
        width: 125px;
        margin-left: 15px;
        flex-grow: 1;
      }

      .tasks-table__header__sizes {
        @include header-field;
        width: 65px;
        flex-grow: 1;
        margin-left: 15px;
      }

      .tasks-table__header__status {
        @include header-field;
        width: 100px;
        margin-left: 15px;
        flex-grow: 5;
      }
    }
  }

  .tasks-table {
    border-collapse: collapse;
    border-spacing: 0 10px;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;

    &__section-header {
      padding-top: 1px;
    }

    .blank {
      padding-left: 10px;
    }

    .extend {
      padding-right: 4px;
    }

    .pad-left {
      padding-left: 5px;
      padding-bottom: 0;
    }

    .tasks-row-container {
      @include themify($themes) {
        border-bottom-color: themed('tableRowBottomBorderColor');
      }
      border-bottom-style: solid;
      border-bottom-width: 1px;

      .tasks-row {
        display: flex;
        height: 30px;

        &__product {
          @include input-field;
          width: 100px;
          white-space: nowrap;
          text-overflow: ellipsis;
          vertical-align: middle;
          flex-grow: 5;
          margin-left: 15px !important;
          overflow: hidden;
        }

        &__store {
          @include input-field;
          text-overflow: ellipsis;
          width: 125px;
          margin-left: 15px !important;
          flex-grow: 1;
        }

        &__profile {
          @include input-field;
          width: 125px;
          margin-left: 15px !important;
          flex-grow: 1;
        }

        &__sizes {
          @include input-field;
          width: 65px;
          flex-grow: 1;
          margin-left: 15px !important;
        }

        &__status {
          @include input-field;
          width: 100px;
          flex-grow: 5;
          margin-left: 15px !important;
        }
      }

      .tasks-row-selected {
        display: flex;
        height: 30px;
        @include themify($themes) {
          background-color: themed('liveLogTableBorderTop');
        }

        &__product {
          @include input-field;
          width: 100px;
          white-space: nowrap;
          text-overflow: ellipsis;
          vertical-align: middle;
          flex-grow: 5;
          margin-left: 15px !important;
          overflow: hidden;
        }

        &__store {
          @include input-field;
          text-overflow: ellipsis;
          width: 125px;
          margin-left: 15px !important;
          flex-grow: 1;
        }

        &__profile {
          @include input-field;
          width: 125px;
          margin-left: 15px !important;
          flex-grow: 1;
        }

        &__sizes {
          @include input-field;
          width: 65px;
          flex-grow: 1;
          margin-left: 15px !important;
        }

        &__status {
          @include input-field;
          width: 100px;
          flex-grow: 5;
          margin-left: 15px !important;
        }
      }
    }
  }
}
