@import 'themes';
@import 'mixins';
@import 'fonts';

* {
  @include font-base;
  font-size: 9.5px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-rendering: optimizeLegibility;

  @media (min-width: 1250px) and (min-height: 745px) {
    @include font-base;
    font-size: 11px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-rendering: optimizeLegibility;
  }

  :focus {
    outline: 0px solid transparent;
  }
}

/* TEMPORARY UNTIL I FIGURE OUT COMPONENT STYLING FOR REACT-SELECT */
.select__indicator,
.select__clear-indicator {
  padding: 0px 8px !important;
  margin-top: -2px !important;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

/* makes scrollbars invisible */
::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

svg,
button,
img,
a {
  cursor: pointer !important;

  &:hover {
    opacity: 0.8333;
  }
}

html,
body {
  @include base($themes) {
    background: themed('background');
  }
  border-radius: 4px;
  width: 100%;
  height: 100%;
  max-width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

input,
.select__control,
.select__control--menu-is-open {
  height: 29px !important;
  transition: ease all 0.15s;
}

@media (min-width: 1250px) and (min-height: 5px) {
  input,
  button,
  .select__control,
  .select__control--menu-is-open {
    height: 35px !important;
  }
}

#root {
  height: 100%;
  width: 100%;
  margin: 0;
}

td {
  @include font-base;
  font-size: 12px;
  @media (min-width: 1250px) and (min-height: 745px) {
    @include font-base;
    transition: ease all 0.5s;
    font-size: 14px;
  }
}

select {
  -webkit-appearance: none; /* Safari and Chrome */
  -moz-appearance: none;
  appearance: none;
}

#app,
#container-wrapper {
  overflow: hidden;
  height: inherit !important;
  width: 100%;
  margin: 0;
  padding: 0;
}

.titlebar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 25px;
  z-index: 9999;
  cursor: move !important;
  background: transparent;
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

.deactivate-button {
  position: absolute;
  top: 0;
  right: 50px;
  width: 25px;
  height: 25px;
  background: #6d6e70;
  border-bottom-left-radius: 5px;
  -webkit-user-select: none;
  -webkit-app-region: no-drag;
  z-index: 1;
  cursor: pointer !important;

  & > img {
    position: absolute;
    top: 6px;
    right: 6px;
    cursor: pointer !important;
    vertical-align: middle;
    width: 12px;
    height: 12px;
  }
}

.minimize-button {
  position: absolute;
  top: 0;
  right: 25px;
  width: 25px;
  height: 25px;
  background: #edbcc6;
  /* border-bottom-left-radius: 5px; */
  -webkit-user-select: none;
  -webkit-app-region: no-drag;
  z-index: 1;
  cursor: pointer !important;

  & > img {
    position: absolute;
    cursor: pointer !important;
    vertical-align: middle;
    width: 12px;
    height: 12px;
  }
}

.close-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  height: 25px;
  background: #ef415e;
  border-top-right-radius: 4px;
  -webkit-user-select: none;
  -webkit-app-region: no-drag;
  z-index: 1;
  cursor: pointer !important;

  & > img {
    position: absolute;
    top: 6px;
    right: 6px;
    cursor: pointer !important;
    vertical-align: middle;
    width: 12px;
    height: 12px;
  }
}

.theme-icon {
  position: absolute;
  top: 0;
  right: 75px;
  width: 25px;
  height: 25px;
  -webkit-user-select: none;
  -webkit-app-region: no-drag;
  z-index: 1;
  cursor: pointer !important;

  & > img {
    position: absolute;
    @include themify($themes) {
      top: themed('iconPositionTop');
      right: themed('iconPositionRight');
    }
    cursor: pointer !important;
    vertical-align: middle;
    z-index: 1;
    width: 12px;
    height: 12px;
  }
}

.deactivate-button > img,
.minimize-button > img,
.close-button > img,
.theme-icon > img {
  cursor: pointer;
}

.active > svg {
  opacity: 0.533;
  transition: ease all 0.15s;
}

.deactivate-button:hover,
.minimize-button:hover,
.close-button:hover,
.theme-icon:hover {
  opacity: 0.5333;
  cursor: pointer;
  transition: ease all 0.25s;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

input,
select {
  @include themify($themes) {
    background: themed('inputBackground');
  }
  text-transform: none;
  padding-left: 7.5px;
  padding-right: 7.5px;
  border-radius: 3px;
  box-sizing: border-box;
  cursor: pointer;
}

input::placeholder,
select::placeholder {
  @include themify($themes) {
    color: themed('placerholderColor');
  }
}

input:disabled,
select:disabled {
  @include themify($themes) {
    background: themed('inputBackgroundDisabled');
  }
  cursor: not-allowed;
}

.main-container {
  margin-left: 140px; /*width of navbar*/
  margin-top: 25px; /*height of transparent titlebar for dragging*/
  margin-bottom: 30px;
  margin-right: 25px;
  height: calc(100% - 55px);
}

input:focus::-webkit-input-placeholder {
  opacity: 0;
}

input:focus {
  cursor: default;
}

.text-header {
  @include themify($themes) {
    color: themed('pageTitleColor');
  }
  margin: 0;
  font-family: Lato, sans-serif;
  font-weight: 600;
  font-size: 48px;
  letter-spacing: 0.01px;
}

.body-text {
  @include font-base;
  @include themify($themes) {
    color: themed('sectionHeaderColor');
  }
  font-size: 12px;

  @media screen and (min-width: 1250px) and (min-height: 745px) {
    @include font-base;
    @include themify($themes) {
      color: themed('sectionHeaderColor');
    }
    font-size: 14px;
  }
}

.flex-container {
  height: 100%;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

button:enabled:hover {
  opacity: 0.8333;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
