@mixin font-base {
  font-family: Lato, sans-serif;
  font-size: 9.5px;
  @include themify($themes) {
    color: themed('textColor');
  }
  letter-spacing: 0;
}

@mixin input-group {
  @include themify($themes) {
    border-color: themed('tableBorderColor');
    box-shadow: 0 0 10px themed('liveLogTableBorderTop');
  }
  border-width: 0;
  border-style: solid;
  padding-bottom: 3px;
  border-radius: 5px;
}

@mixin input-base {
  height: 29px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
}

@mixin input-field {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
  vertical-align: middle;
}

@mixin header-field {
  margin: 0;

  & > p {
    @include themify($themes) {
      color: themed('textColor');
    }
    @include font-base;
    font-size: 12px !important;
    letter-spacing: 0;
    margin: 5px 0;
  }
}

@mixin select-font {
  @include font-base;
  font-weight: 500;
}

@mixin image {
  cursor: pointer;
  vertical-align: middle;
}

@mixin button-font {
  @include font-base;
  font-size: 12px;
  letter-spacing: 0;
}

@mixin button-base {
  @include button-font;
  width: 83px;
  height: 29px;
  opacity: 1;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  color: #f4f4f4 !important;

  &:hover {
    opacity: 0.8333;
  }

  &:disabled {
    cursor: not-allowed !important;
    opacity: 0.5;
  }
}
