$themes: (
  light: (
    background: #f4f4f4,
    navbarDividerColor: #efefef,
    inputBackground: #eff1ed,
    inputBackgroundDisabled: #dcdcdc,
    liveLogtableRowSelected: #dfdfdf,
    liveLogTableBorderTop: #6d6e70,
    textColor: #161318,
    placerholderColor: #6d6e70,
    pageTitleColor: #6d6e70,
    sectionHeaderColor: #f0405e,
    tableBorderColor: #161318,
    tableHeaderColor: #161318,
    tableEditBorderColor: #b8d9d2,
    tableRowBottomBorderColow: #cbcbcb,
    tableHeaderLineColor: #edbcc6,
    buttonPrimaryText: #f4f4f4,
    buttonColorPrimary: #f0405e,
    buttonColorSecondary: #6d6e70,
    buttonColorWarning: #edbcc6,
    buttonColorError: #161318,
    iconPositionTop: 6px,
    iconPositionRight: 6px,
  ),
  dark: (
    background: #23272a,
    navbarDividerColor: #2c2f33,
    inputBackground: #2c2f33,
    inputBackgroundDisabled: #262626,
    liveLogtableRowSelected: #262626,
    liveLogTableBorderTop: #161318,
    textColor: #efefef,
    placeHolderColor: #6d6e70,
    pageTitleColor: #6d6e70,
    sectionHeaderColor: #f0405e,
    tableBorderColor: #161318,
    tableHeaderColor: #dcdcdc,
    tableEditBorderColor: #b8d9d2,
    tableRowBottomBorderColow: #6d6e70,
    tableHeaderLineColor: #edbcc6,
    buttonPrimaryText: #f4f4f4,
    buttonColorPrimary: #f0405e,
    buttonColorSecondary: #6d6e70,
    buttonColorWarning: #edbcc6,
    buttonColorError: #161318,
    iconPositionTop: 6.5px,
    iconPositionRight: 7px,
  ),
);

/*
 * Implementation of themes
 */
@mixin themify($themes: $themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }

      @content;
      $theme-map: null !global;
    }
  }
}

@mixin base($themes: $themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }

      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}
