%input_field {
  border: 1px solid;
  margin: 9px 0;
  margin-right: 15px;
  height: 29px;
}

.profiles {
  .profiles-payment {
    &__section-header {
      max-height: 32px;
      margin: 6px 0;
    }

    &__input-group {
      border-radius: 3px;

      &--email {
        @extend %input_field;
        width: 249px;
      }

      &--card-number {
        @extend %input_field;
        width: 249px;
      }

      &--expiration {
        @extend %input_field;
        width: 155px;
      }

      &--cvv {
        @extend %input_field;
        width: 78px;
      }
    }
  }
}
