%input_field {
  border: 1px solid;
  margin: 9px 0;
  margin-right: 15px;
  height: 29px;
}

.profiles-rates {
  &__section-header {
    max-height: 32px;
    margin: 6px 0;
  }

  &__input-group {
    border-radius: 3px;
    margin-bottom: 28px;

    &--rate {
      @extend %input_field;
      margin-top: 17px !important;
      width: 249px;
    }

    &--site {
      width: 117px;
      height: 29px;
    }

    &--name {
      width: 117px;
      height: 29px;
    }
  }
}
