/*Profiles CSS*/
input::placeholder, select {
    font-family: AvenirNext-Medium;
    text-transform: capitalize;
    font-size: 9px;
    color: #6D6E70;
    letter-spacing: 0;
}

input, select {
    text-transform: none;
}

.text-header {
    margin:0;
    font-family: AvenirNext-DemiBold;
    font-size: 48px;
    color: #6D6E70;
    letter-spacing: 0.01px;
}

.body-text {
    font-family: AvenirNext-Medium;
    font-size: 12px;
    color: #F0405E;
    letter-spacing: 0;
}

.flex-container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

#profiles-header {
    margin: 0;
    position: absolute;
    top: 26px;
    left: 139px;
    width: 118px;
    height: 66px;
}

#load-profile-label {
    margin: 0;
    position: absolute;
    top: 101px;
    left: 139px;
    width: 66px;
    height: 16px;
}

#load-profile-box {
    border: 1px solid #F0405E;
    border-radius: 3px;
    position: absolute;
    top: 124px;
    left: 139px;
    width: 277px;
    height: 112px;
}

#profile-name-label {
    margin: 0;
    position: absolute;
    top: 134px;
    left: 151px;
    width: 54px;
    height: 12px;
    font-family: AvenirNext-Medium;
    font-size: 9px;
    color: #161318;
    letter-spacing: 0;
}

#profile-load {
    border-radius: 3px;
    position: absolute;
    top: 149px;
    left: 151px;
    width: 254px;
    height: 29px;
    font-family: AvenirNext-Medium;
    font-size: 9px;
    color: #161318;
    letter-spacing: 0;
}

#profile-select-arrow {
    position: absolute;
    top: 154px;
    left: 379px;
    width: 21px;
    height: 21px;
    cursor: pointer;
}

#load-profile {
    background: #F0405E;
    font-family: AvenirNext-Medium;
    font-size: 12px;
    color: #EFEFEF;
    letter-spacing: 0;
    border-radius: 3px;
    border: none;
    position: absolute;
    top: 192px;
    left: 322px;
    width: 83px;
    height: 29px;
    cursor: pointer;
}

#delete-profile {
    background: #46ADB4;
    font-family: AvenirNext-Medium;
    font-size: 12px;
    color: #EFEFEF;
    letter-spacing: 0;
    border-radius: 3px;
    border: none;
    position: absolute;
    top: 192px;
    left: 226px;
    width: 83px;
    height: 29px;
    cursor: pointer;
}

#shipping-label {
    font-family: AvenirNext-Medium;
    font-size: 12px;
    color: #F0405E;
    letter-spacing: 0;
    margin: 0;
    position: absolute;
    top: 264px;
    left: 139px;
    width: 50px;
    height: 16px;
}

#shipping-first-name {
    position: absolute;
    top: 287px;
    left: 139px;
    width: 249px;
    height: 29px;
    border: 1px solid #F0405E;
    border-radius: 3px;
}

#shipping-last-name {
    position: absolute;
    top: 333px;
    left: 139px;
    width: 249px;
    height: 29px;
    border: 1px solid #F0405E;
    border-radius: 3px;
}

#shipping-address-one {
    position: absolute;
    top: 379px;
    left: 139px;
    width: 249px;
    height: 29px;
    border: 1px solid #F0405E;
    border-radius: 3px;
}

#shipping-address-two {
    position: absolute;
    top: 425px;
    left: 139px;
    width: 249px;
    height: 29px;
    border: 1px solid #F0405E;
    border-radius: 3px;
}

#shipping-city {
    position: absolute;
    top: 471px;
    left: 139px;
    width: 147px;
    height: 29px;
    border: 1px solid #F0405E;
    border-radius: 3px;
}

#shipping-province {
    position: absolute;
    top: 471px;
    left: 295px;
    width: 94px;
    height: 29px;
    border-radius: 3px;
    font-family: AvenirNext-Medium;
    font-size: 9px;
    color: #161318;
    letter-spacing: 0;
}

#shipping-zip-code {
    position: absolute;
    top: 516px;
    left: 139px;
    width: 78px;
    height: 29px;
    border: 1px solid #F0405E;
    border-radius: 3px;
}

#shipping-country {
    position: absolute;
    top: 516px;
    left: 224px;
    width: 165px;
    height: 29px;
    border-radius: 3px;
    font-family: AvenirNext-Medium;
    font-size: 9px;
    color: #161318;
    letter-spacing: 0;
}

#shipping-phone {
    position: absolute;
    top: 561px;
    left: 139px;
    width: 147px;
    height: 29px;
    border: 1px solid #F0405E;
    border-radius: 3px;
}

#billing-match-shipping {
    position: absolute;
    top: 564px;
    left: 330px;
    width: 21px;
    height: 21px;
    cursor: pointer;
}

#billing-label {
    font-family: AvenirNext-Medium;
    font-size: 12px;
    color: #F0405E;
    letter-spacing: 0;
    margin: 0;
    position: absolute;
    top: 264px;
    left: 417px;
    width: 35px;
    height: 16px;
}

#billing-first-name {
    position: absolute;
    top: 287px;
    left: 417px;
    width: 249px;
    height: 29px;
    border: 1px solid #F0405E;
    border-radius: 3px;
}

#billing-last-name {
    position: absolute;
    top: 333px;
    left: 417px;
    width: 249px;
    height: 29px;
    border: 1px solid #F0405E;
    border-radius: 3px;
}

#billing-address-one {
    position: absolute;
    top: 379px;
    left: 417px;
    width: 249px;
    height: 29px;
    border: 1px solid #F0405E;
    border-radius: 3px;
}

#billing-address-two {
    position: absolute;
    top: 425px;
    left: 417px;
    width: 249px;
    height: 29px;
    border: 1px solid #F0405E;
    border-radius: 3px;
}

#billing-city {
    position: absolute;
    top: 471px;
    left: 417px;
    width: 147px;
    height: 29px;
    border: 1px solid #F0405E;
    border-radius: 3px;
}

#billing-province {
    position: absolute;
    top: 471px;
    left: 571px;
    width: 94px;
    height: 29px;
    border-radius: 3px;
    font-family: AvenirNext-Medium;
    font-size: 9px;
    color: #161318;
    letter-spacing: 0;
}

#billing-zip-code {
    position: absolute;
    top: 516px;
    left: 417px;
    width: 78px;
    height: 29px;
    border: 1px solid #F0405E;
    border-radius: 3px;
}

#billing-country {
    position: absolute;
    top: 516px;
    left: 502px;
    width: 165px;
    height: 29px;
    border-radius: 3px;
    font-family: AvenirNext-Medium;
    font-size: 9px;
    color: #161318;
    letter-spacing: 0;
}

#billing-phone {
    position: absolute;
    top: 561px;
    left: 417px;
    width: 147px;
    height: 29px;
    border: 1px solid #F0405E;
    border-radius: 3px;
}

#payment-label {
    font-family: AvenirNext-Medium;
    font-size: 12px;
    color: #F0405E;
    letter-spacing: 0;
    margin: 0;
    position: absolute;
    top: 264px;
    left: 698px;
    width: 48px;
    height: 16px;
}

#email {
    position: absolute;
    top: 287px;
    left: 698px;
    width: 249px;
    height: 29px;
    border: 1px solid #F0405E;
    border-radius: 3px;
    text-transform: lowercase;
}

#card-number {
    position: absolute;
    top: 332px;
    left: 698px;
    width: 249px;
    height: 29px;
    border: 1px solid #F0405E;
    border-radius: 3px;
}

#expiration {
    position: absolute;
    top: 377px;
    left: 698px;
    width: 164px;
    height: 29px;
    border: 1px solid #F0405E;
    border-radius: 3px;
}

#cvv {
    position: absolute;
    top: 377px;
    left: 868px;
    width: 78px;
    height: 29px;
    border: 1px solid #F0405E;
    border-radius: 3px;
}

#payment-info-btn {
    position: absolute;
    top: 386px;
    left: 952px;
    width: 12px;
    height: 12px;
    cursor: pointer;
}

#profile-save {
    position: absolute;
    top: 583px;
    left: 782px;
    width: 164px;
    height: 29px;
    border: 1px solid #F0405E;
    border-radius: 3px;
}

#submit-profile {
    background: #F0405E;
    font-family: AvenirNext-Medium;
    font-size: 12px;
    color: #EFEFEF;
    letter-spacing: 0;
    border-radius: 3px;
    border: none;
    position: absolute;
    top: 628px;
    left: 848px;
    width: 98px;
    height: 29px;
    cursor: pointer;
}
