.container {
  margin: 0 15px;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-around;
  margin: 0 -15px;
}
.row--start {
  justify-content: flex-start;
}
.row--end {
  justify-content: flex-end;
}
.row--between {
  justify-content: space-between;
}
.row--expand {
  flex: 1 1 auto;
}
.row--gutter-left {
  margin-left: 15px !important;
}
.row--gutter-right {
  margin-right: 25px !important;
}
.row--gutter {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-around;
  margin: 0 15px;
}
.col--start {
  justify-content: flex-start;
}
.col--end {
  justify-content: flex-end;
}
.col--between {
  justify-content: space-between;
}
.col--expand {
  flex: 1 1 auto;
}
.col--no-gutter-left {
  margin-left: 0 !important;
}
.col--no-gutter-right {
  margin-right: 0 !important;
}
.col--no-gutter {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

/*
 * Implementation of themes
 */
/*
 * Implementation of themes
 */
.profiles .profiles-load {
  height: 112px;
  width: 277px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
}
.theme-light .profiles .profiles-load {
  border-color: #f0405e;
}
.theme-dark .profiles .profiles-load {
  border-color: #f0405e;
}
.profiles .profiles-load__section-header {
  margin-top: 10px;
  padding-bottom: 1px;
}
.profiles .profiles-load__label {
  font-family: AvenirNext-Medium;
  font-size: 9px;
  letter-spacing: 0;
  height: 12px;
  margin-bottom: 3px;
  margin-top: 9px;
  padding-left: 0.5px;
}
.theme-light .profiles .profiles-load__label {
  color: #161318;
}
.theme-dark .profiles .profiles-load__label {
  color: #efefef;
}
.theme-light .profiles .profiles-load__label {
  color: #161318;
}
.theme-dark .profiles .profiles-load__label {
  color: #dcdcdc;
}
.profiles .profiles-load__input-group {
  margin: 0 11.5px !important;
  padding-bottom: 2px;
}
.profiles .profiles-load__input-group--select {
  width: 252px;
  height: 29px;
}
.profiles .profiles-load__input-group--delete {
  font-family: AvenirNext-Medium;
  font-size: 12px;
  letter-spacing: 0;
  border-radius: 3px;
  border: none;
  width: 83px;
  height: 29px;
  cursor: pointer;
  margin-top: 14px;
  margin-right: 14px;
}
.theme-light .profiles .profiles-load__input-group--delete {
  color: #161318;
}
.theme-dark .profiles .profiles-load__input-group--delete {
  color: #efefef;
}
.theme-light .profiles .profiles-load__input-group--delete {
  background: #46adb4;
  color: #f4f4f4;
}
.theme-dark .profiles .profiles-load__input-group--delete {
  background: #46adb4;
  color: #f4f4f4;
}
.profiles .profiles-load__input-group--load {
  font-family: AvenirNext-Medium;
  font-size: 12px;
  letter-spacing: 0;
  border-radius: 3px;
  border: none;
  width: 83px;
  height: 29px;
  cursor: pointer;
  margin-top: 14px;
}
.theme-light .profiles .profiles-load__input-group--load {
  color: #161318;
}
.theme-dark .profiles .profiles-load__input-group--load {
  color: #efefef;
}
.theme-light .profiles .profiles-load__input-group--load {
  background: #f0405e;
  color: #f4f4f4;
}
.theme-dark .profiles .profiles-load__input-group--load {
  background: #f0405e;
  color: #f4f4f4;
}

/*
 * Implementation of themes
 */
.profiles .profiles__fields--save, .profiles .profiles-payment__input-group--cvv, .profiles .profiles-payment__input-group--expiration, .profiles .profiles-payment__input-group--card-number, .profiles .profiles-payment__input-group--email, .profiles .shipping-profiles-location__input-group--phone, .profiles .shipping-profiles-location__input-group--zip-code, .profiles .shipping-profiles-location__input-group--city, .profiles .shipping-profiles-location__input-group--address-two, .profiles .shipping-profiles-location__input-group--address-one, .profiles .shipping-profiles-location__input-group--last-name, .profiles .shipping-profiles-location__input-group--first-name, .profiles .billing-profiles-location__input-group--phone, .profiles .billing-profiles-location__input-group--zip-code, .profiles .billing-profiles-location__input-group--city, .profiles .billing-profiles-location__input-group--address-two, .profiles .billing-profiles-location__input-group--address-one, .profiles .billing-profiles-location__input-group--last-name, .profiles .billing-profiles-location__input-group--first-name {
  border: 1px solid;
  margin: 9px 0;
  margin-right: 15px;
  height: 29px;
}

.profiles .billing-profiles-location__section-header {
  margin: 0;
  margin-top: 25px;
}
.profiles .billing-profiles-location__input-group {
  border-radius: 3px;
}
.profiles .billing-profiles-location__input-group--first-name {
  width: 249px;
}
.profiles .billing-profiles-location__input-group--last-name {
  width: 249px;
}
.profiles .billing-profiles-location__input-group--address-one {
  width: 249px;
}
.profiles .billing-profiles-location__input-group--address-two {
  width: 249px;
}
.profiles .billing-profiles-location__input-group--city {
  width: 140px;
}
.profiles .billing-profiles-location__input-group--province {
  width: 94px;
}
.profiles .billing-profiles-location__input-group--zip-code {
  width: 78px;
}
.profiles .billing-profiles-location__input-group--country {
  width: 155px;
}
.profiles .billing-profiles-location__input-group--phone {
  width: 147px;
}
.profiles .shipping-profiles-location__section-header {
  margin: 0;
  margin-top: 25px;
}
.profiles .shipping-profiles-location__input-group {
  border-radius: 3px;
}
.profiles .shipping-profiles-location__input-group--first-name {
  width: 249px;
}
.profiles .shipping-profiles-location__input-group--last-name {
  width: 249px;
}
.profiles .shipping-profiles-location__input-group--address-one {
  width: 249px;
}
.profiles .shipping-profiles-location__input-group--address-two {
  width: 249px;
}
.profiles .shipping-profiles-location__input-group--city {
  width: 140px;
}
.profiles .shipping-profiles-location__input-group--province {
  width: 94px;
}
.profiles .shipping-profiles-location__input-group--zip-code {
  width: 78px;
}
.profiles .shipping-profiles-location__input-group--country {
  width: 155px;
}
.profiles .shipping-profiles-location__input-group--phone {
  width: 147px;
}

.profiles .profiles__fields--save, .profiles .profiles-payment__input-group--cvv, .profiles .profiles-payment__input-group--expiration, .profiles .profiles-payment__input-group--card-number, .profiles .profiles-payment__input-group--email, .profiles .billing-profiles-location__input-group--first-name, .profiles .billing-profiles-location__input-group--last-name, .profiles .billing-profiles-location__input-group--address-one, .profiles .billing-profiles-location__input-group--address-two, .profiles .billing-profiles-location__input-group--city, .profiles .billing-profiles-location__input-group--zip-code, .profiles .billing-profiles-location__input-group--phone, .profiles .shipping-profiles-location__input-group--first-name, .profiles .shipping-profiles-location__input-group--last-name, .profiles .shipping-profiles-location__input-group--address-one, .profiles .shipping-profiles-location__input-group--address-two, .profiles .shipping-profiles-location__input-group--city, .profiles .shipping-profiles-location__input-group--zip-code, .profiles .shipping-profiles-location__input-group--phone {
  border: 1px solid;
  margin: 9px 0;
  margin-right: 15px;
  height: 29px;
}

.profiles .profiles-payment__section-header {
  max-height: 32px;
  margin: 6px 0;
}
.profiles .profiles-payment__input-group {
  border-radius: 3px;
}
.profiles .profiles-payment__input-group--email {
  width: 249px;
}
.profiles .profiles-payment__input-group--card-number {
  width: 249px;
}
.profiles .profiles-payment__input-group--expiration {
  width: 155px;
}
.profiles .profiles-payment__input-group--cvv {
  width: 78px;
}

.profiles .profiles__fields--save, .profiles .billing-profiles-location__input-group--first-name, .profiles .billing-profiles-location__input-group--last-name, .profiles .billing-profiles-location__input-group--address-one, .profiles .billing-profiles-location__input-group--address-two, .profiles .billing-profiles-location__input-group--city, .profiles .billing-profiles-location__input-group--zip-code, .profiles .billing-profiles-location__input-group--phone, .profiles .shipping-profiles-location__input-group--first-name, .profiles .shipping-profiles-location__input-group--last-name, .profiles .shipping-profiles-location__input-group--address-one, .profiles .shipping-profiles-location__input-group--address-two, .profiles .shipping-profiles-location__input-group--city, .profiles .shipping-profiles-location__input-group--zip-code, .profiles .shipping-profiles-location__input-group--phone, .profiles .profiles-payment__input-group--email, .profiles .profiles-payment__input-group--card-number, .profiles .profiles-payment__input-group--expiration, .profiles .profiles-payment__input-group--cvv {
  border: 1px solid;
  margin: 9px 0;
  margin-right: 15px;
  height: 29px;
}

.profiles--input-fields {
  margin-top: 22px !important;
}
.profiles .profiles__fields--matches {
  margin-top: 0.5px;
  height: 21px;
  width: 21px;
  cursor: pointer;
}
.profiles .profiles__fields--matches:hover {
  opacity: 0.8333;
}
.profiles .profiles__fields--name {
  width: 164px;
  height: 29px;
  border: 1px solid;
  border-radius: 3px;
  margin-left: -25px;
  margin-top: -18px;
}
.profiles .profiles__fields--save {
  margin-top: 15px;
  background: #f0405e;
  color: #efefef;
  font-size: 12px;
  letter-spacing: 0;
  border-radius: 3px;
  border: none;
  width: 98px;
  height: 29px;
  cursor: pointer;
}

/* Temporary */
.temp-debug {
  background-color: gray;
}
