@import './grid.css';
@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&display=swap');

* {
  font-family: 'Lato' sans-serif;
  letter-spacing: 0;
  user-select: none !important;
}

@keyframes rotation {
  0% {
    transform: rotate3d(0);
  }
  50% {
    transform: rotate3d(1, 1, 180, 45deg);
  }
  100% {
    transform: rotate3d(0);
  }
}

#logo {
  width: 250px;
  height: 250px;
  filter: drop-shadow(15px 15px 1px #222222);
}

#logo:hover {
  animation: rotation 2.5s linear infinite;
}

.logo-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

body, html {
  height: 100%;
  width:100%;
  background: #23272a;
  overflow: hidden;
  margin: 0;
}

#titlebar {
  user-select: none;
  position: absolute;
  top:0;
  left:0;
  right:25px;
  height:25px;
  background: transparent;
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

::-webkit-scrollbar {
    display: none;
}

#close {
  position: absolute;
  z-index: 999999;
  cursor: pointer !important;
  top: 5px;
  right: 5px;
  height: 16px;
  width: 16px;
}

#close:hover {
  cursor: pointer !important;
}

#body-text {
  font-size: 12px;
  padding-left: 1px;
  color: #f4f4f4;
  letter-spacing: 0;
  margin: 0;
  margin-top: 9.5px;
  margin-bottom: 9.5px;
}

#authorization-box {
  margin: 0 55px !important;
  border: 1px #f4f4f4 solid;
  border-radius: 3px;
}

#license-key-input {
  width: 278px;
  height: 29px;
  border: 1px #262626 solid;
  box-shadow: 5px 5px 15px #000;
  border-radius: 3px;
  background: #2c2f33;
  outline: none;
  margin: 9.5px;
  padding-left: 7.5px;
  font-size: 12px;
  z-index: 999;
  color: #f4f4f4;
}

#license-key-input:hover {
  opacity: 0.8333;
}

#license-key-input:focus {
  opacity: 1;
}

#license-key-input::placeholder {
  color: #f4f4f4;
  opacity: 0.5;
}

#license-key-submit {
  color: #f4f4f4;
  height: 34px;
  background-color: #161318;
  box-shadow: 5px 5px 15px #000;
  width: 84px;
  outline: none;
  border: none;
  margin-left: 14.5px;
  margin: 9.5px;
  border-radius: 3px;
  cursor: pointer;
  z-index: 999;
}

#license-key-submit:hover {
  opacity: 0.8333;
}
