%button-base {
  @include settings-font();
  font-size: 12px;
  width: 83px;
  height: 29px;
  cursor: pointer;
  border: none;
  border-radius: 3px;
}

.settings {
  &--account-manager {
    &__section-header {
      margin-top: 15px;
    }

    &__adjust-margin {
      margin: 0 23px;
    }

    &__input-group {
      @include themify($themes) {
        border-color: themed('tableBorderColor');
      }
      border-width: 1px;
      border-style: solid;
      padding-bottom: 3px;
      border-radius: 3px;

      &--username {
        @include settings-font();
        border-width: 1px;
        border-style: solid;
        flex-grow: 1;
        height: 29px;
        border-radius: 3px;
      }

      &--password {
        @include settings-font();
        border-width: 1px;
        border-style: solid;
        flex-grow: 1;
        height: 29px;
        border-radius: 3px;
      }

      &--account {
        @include settings-font();
        border-radius: 3px;
      }

      &--label {
        @include settings-font();
        @include themify($themes) {
          color: themed('tableHeaderColor');
        }
        margin: 0;
        margin-bottom: 2px;
      }

      &--save {
        @extend %button-base;
        @include themify($themes) {
          background: themed('buttonColorPrimary') !important;
          color: themed('buttonPrimaryText') !important;
        }
        width: 83px !important;
        &:disabled {
          opacity: 0.5;
          cursor: not-allowed !important;
        }
      }

      &--delete {
        @extend %button-base;
        @include themify($themes) {
          background: themed('buttonColorSecondary') !important;
          color: themed('buttonPrimaryText') !important;
        }
        width: 83px !important;
      }
    }
  }
}
