@import '_mixins';
@import '../themes';

%input-base {
  height: 29px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
}

%button-base {
  @include settings-font();
  font-size: 12px;
  width: 65px;
  height: 29px;
  cursor: pointer;
  border: none;
  border-radius: 3px;
}

.settings-defaults {
  margin-bottom: 10px;
  &__section-header {
    margin-top: 15px;
  }

  &__input-group {
    width: 422px;
    height: 108px;
    @include themify($themes) {
      border-color: themed('tableBorderColor');
    }
    border-width: 1px;
    border-style: solid;
    padding-bottom: 3px;
    border-radius: 3px;

    &--select {
      &__profile {
        @include settings-font();
        width: 170px;
        border-radius: 3px;
      }
      &__sizes {
        @include settings-font();
        width: 170px;
        border-radius: 3px;
      }
    }

    &--label {
      @include settings-font();
      @include themify($themes) {
        color: themed('tableHeaderColor');
      }
      margin: 0;
      margin-bottom: 2px;
    }

    &--save {
      @extend %button-base;
      @include themify($themes) {
        background: themed('buttonColorPrimary');
        color: themed('buttonPrimaryText');
      }
      width: 83px;
    }

    &--clear {
      @extend %button-base;
      @include themify($themes) {
        background: themed('buttonColorSecondary');
        color: themed('buttonPrimaryText');
      }
      width: 83px;
      margin-right: 7.5px;
    }
  }
}

.settings {
  &__label {
    @include settings-font();
    @include themify($themes) {
      color: themed('tableHeaderColor');
    }
    height: 12px;
    margin-bottom: 3px;
    margin-top: 19px;
    padding-left: 0.5px;
  }

  &__button {
    &--open-captcha {
      @extend %button-base;
      @include themify($themes) {
        background: themed('buttonColorPrimary');
        color: themed('buttonPrimaryText');
      }
      margin-top: 19px;
      width: 205px;
    }
    &--close-captcha {
      @extend %button-base;
      @include themify($themes) {
        background: themed('buttonColorSecondary');
        color: themed('buttonPrimaryText');
      }
      margin-top: 19px;
      width: 205px;
    }
  }

  &__input {
    @include settings-font();
  }

  &__input-group {
    &--webhook {
      &__discord {
        @extend %input-base;
        width: 344px;
      }
      &__slack {
        @extend %input-base;
        width: 344px;
      }
    }

    &--monitor-delay {
      @extend %input-base;
      width: 205px;
    }
    &--error-delay {
      @extend %input-base;
      width: 205px;
    }

    &--button {
      &-slack {
        @extend %button-base;
        @include themify($themes) {
          background: themed('buttonColorPrimary');
          color: themed('buttonPrimaryText');
        }
      }

      &-discord {
        @extend %button-base;
        @include themify($themes) {
          background: themed('buttonColorPrimary');
          color: themed('buttonPrimaryText');
        }
      }
    }
  }

  &__extras {
    margin-top: 15px;
  }
}
