.settings {
  &--shipping-manager {
    &__section-header {
      margin-top: 15px;
    }

    &__input-group {
      width: 422px;
      height: 166px;
      @include themify($themes) {
        border-color: themed('tableBorderColor');
      }
      border-width: 1px;
      border-style: solid;
      padding-bottom: 3px;
      border-radius: 3px;

      &--product {
        @include settings-font();
        border-width: 1px;
        border-style: solid;
        height: 29px;
        padding-bottom: 3px;
        border-radius: 3px;
        width: 170px;
        border-radius: 3px;
      }
      &--profile {
        @include settings-font();
        width: 170px;
        border-radius: 3px;
      }
      &--site {
        @include settings-font();
        width: 170px;
        border-radius: 3px;
      }

      &--label {
        @include settings-font();
        @include themify($themes) {
          color: themed('tableHeaderColor');
        }
        margin: 0;
        margin-bottom: 2px;
      }

      &--save {
        @extend %button-base;
        @include themify($themes) {
          background: themed('buttonColorPrimary');
          color: themed('buttonPrimaryText');
        }
        width: 83px;
      }

      &--clear {
        @extend %button-base;
        @include themify($themes) {
          background: themed('buttonColorSecondary');
          color: themed('buttonPrimaryText');
        }
        width: 83px;
        margin-right: 7.5px;
      }
    }
  }
}
