.settings .proxy-list {
  border: 1px solid #f0405e;
  border-radius: 3px;
}
.settings .proxy-list__section-header {
  margin-top: 10px;
  padding-bottom: 1px;
}
.settings .proxy-list__input-group--text {
  font-family: AvenirNext-Medium;
  font-size: 9px;
  color: #161318;
  letter-spacing: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #6D6E70;
  width: 330px;
  height: 545px;
  background: #f4f4f4;
  border-radius: 3px;
  border: none;
  overflow-y: scroll;
  overflow-x: hidden;
}

.settings__input-group--webhook {
  height: 29px;
  border: 1px solid #f0405e;
  border-radius: 3px;
}

.settings__label {
  font-family: AvenirNext-Medium;
  font-size: 9px;
  color: #161318;
  letter-spacing: 0;
  height: 12px;
  margin-bottom: 3px;
  margin-top: 19px;
  padding-left: 0.5px;
}
.settings__input {
  font-family: AvenirNext-Medium;
  font-size: 9px;
  color: #161318;
  letter-spacing: 0;
}
.settings__input-group--webhook {
  width: 344px;
}
.settings__extras {
  margin-top: 15px;
}

/* Temporary */
.temp-debug {
  background-color: gray;
}
