/*
 * Implementation of themes
 */
.invalidProxy {
  color: #f0405e;
}

.settings .proxy-list {
  border: 1px solid #f0405e;
  border-radius: 3px;
}
.settings .proxy-list__section-header {
  margin-top: 10px;
  padding-bottom: 1px;
}
.settings .proxy-list__input-group--text {
  font-family: AvenirNext-Medium;
  font-size: 9px;
  letter-spacing: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 330px;
  height: 545px;
  border-radius: 3px;
  border: none;
  overflow-y: scroll;
  overflow-x: hidden;
}
.theme-light .settings .proxy-list__input-group--text {
  color: #161318;
}
.theme-dark .settings .proxy-list__input-group--text {
  color: #efefef;
}
.theme-light .settings .proxy-list__input-group--text {
  background: #f4f4f4;
  color: #6d6e70;
}
.theme-dark .settings .proxy-list__input-group--text {
  background: #313236;
}

.settings--shipping-manager__section-header {
  margin-top: 15px;
}
.settings--shipping-manager__input-group {
  width: 422px;
  height: 166px;
  border-width: 1px;
  border-style: solid;
  padding-bottom: 3px;
  border-radius: 3px;
}
.theme-light .settings--shipping-manager__input-group {
  border-color: #f0405e;
}
.theme-dark .settings--shipping-manager__input-group {
  border-color: #f0405e;
}
.settings--shipping-manager__input-group--product {
  font-family: AvenirNext-Medium;
  font-size: 9px;
  letter-spacing: 0;
  border-width: 1px;
  border-style: solid;
  height: 29px;
  padding-bottom: 3px;
  border-radius: 3px;
  width: 170px;
  border-radius: 3px;
}
.theme-light .settings--shipping-manager__input-group--product {
  color: #161318;
}
.theme-dark .settings--shipping-manager__input-group--product {
  color: #efefef;
}
.settings--shipping-manager__input-group--profile {
  font-family: AvenirNext-Medium;
  font-size: 9px;
  letter-spacing: 0;
  width: 170px;
  border-radius: 3px;
}
.theme-light .settings--shipping-manager__input-group--profile {
  color: #161318;
}
.theme-dark .settings--shipping-manager__input-group--profile {
  color: #efefef;
}
.settings--shipping-manager__input-group--site {
  font-family: AvenirNext-Medium;
  font-size: 9px;
  letter-spacing: 0;
  width: 170px;
  border-radius: 3px;
}
.theme-light .settings--shipping-manager__input-group--site {
  color: #161318;
}
.theme-dark .settings--shipping-manager__input-group--site {
  color: #efefef;
}
.settings--shipping-manager__input-group--label {
  font-family: AvenirNext-Medium;
  font-size: 9px;
  letter-spacing: 0;
  margin: 0;
  margin-bottom: 2px;
}
.theme-light .settings--shipping-manager__input-group--label {
  color: #161318;
}
.theme-dark .settings--shipping-manager__input-group--label {
  color: #efefef;
}
.theme-light .settings--shipping-manager__input-group--label {
  color: #161318;
}
.theme-dark .settings--shipping-manager__input-group--label {
  color: #dcdcdc;
}
.settings--shipping-manager__input-group--save {
  width: 83px;
}
.theme-light .settings--shipping-manager__input-group--save {
  background: #f0405e;
  color: #f4f4f4;
}
.theme-dark .settings--shipping-manager__input-group--save {
  background: #f0405e;
  color: #f4f4f4;
}
.settings--shipping-manager__input-group--clear {
  width: 83px;
  margin-right: 7.5px;
}
.theme-light .settings--shipping-manager__input-group--clear {
  background: #46adb4;
  color: #f4f4f4;
}
.theme-dark .settings--shipping-manager__input-group--clear {
  background: #46adb4;
  color: #f4f4f4;
}

/*
 * Implementation of themes
 */
/*
 * Implementation of themes
 */
.settings__input-group--error-delay, .settings__input-group--monitor-delay, .settings__input-group--webhook__slack, .settings__input-group--webhook__discord {
  height: 29px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
}

.settings__input-group--button, .settings__button--close-captcha, .settings__button--open-captcha, .settings-defaults__input-group--clear, .settings-defaults__input-group--save, .settings--shipping-manager__input-group--save, .settings--shipping-manager__input-group--clear {
  font-family: AvenirNext-Medium;
  font-size: 9px;
  letter-spacing: 0;
  font-size: 12px;
  width: 65px;
  height: 29px;
  cursor: pointer;
  border: none;
  border-radius: 3px;
}
.theme-light .settings__input-group--button, .theme-light .settings__button--close-captcha, .theme-light .settings__button--open-captcha, .theme-light .settings-defaults__input-group--clear, .theme-light .settings-defaults__input-group--save, .theme-light .settings--shipping-manager__input-group--save, .theme-light .settings--shipping-manager__input-group--clear {
  color: #161318;
}
.theme-dark .settings__input-group--button, .theme-dark .settings__button--close-captcha, .theme-dark .settings__button--open-captcha, .theme-dark .settings-defaults__input-group--clear, .theme-dark .settings-defaults__input-group--save, .theme-dark .settings--shipping-manager__input-group--save, .theme-dark .settings--shipping-manager__input-group--clear {
  color: #efefef;
}

.settings-defaults {
  margin-bottom: 10px;
}
.settings-defaults__section-header {
  margin-top: 15px;
}
.settings-defaults__input-group {
  width: 422px;
  height: 108px;
  border-width: 1px;
  border-style: solid;
  padding-bottom: 3px;
  border-radius: 3px;
}
.theme-light .settings-defaults__input-group {
  border-color: #f0405e;
}
.theme-dark .settings-defaults__input-group {
  border-color: #f0405e;
}
.settings-defaults__input-group--select__profile {
  font-family: AvenirNext-Medium;
  font-size: 9px;
  letter-spacing: 0;
  width: 170px;
  border-radius: 3px;
}
.theme-light .settings-defaults__input-group--select__profile {
  color: #161318;
}
.theme-dark .settings-defaults__input-group--select__profile {
  color: #efefef;
}
.settings-defaults__input-group--select__sizes {
  font-family: AvenirNext-Medium;
  font-size: 9px;
  letter-spacing: 0;
  width: 170px;
  border-radius: 3px;
}
.theme-light .settings-defaults__input-group--select__sizes {
  color: #161318;
}
.theme-dark .settings-defaults__input-group--select__sizes {
  color: #efefef;
}
.settings-defaults__input-group--label {
  font-family: AvenirNext-Medium;
  font-size: 9px;
  letter-spacing: 0;
  margin: 0;
  margin-bottom: 2px;
}
.theme-light .settings-defaults__input-group--label {
  color: #161318;
}
.theme-dark .settings-defaults__input-group--label {
  color: #efefef;
}
.theme-light .settings-defaults__input-group--label {
  color: #161318;
}
.theme-dark .settings-defaults__input-group--label {
  color: #dcdcdc;
}
.settings-defaults__input-group--save {
  width: 83px;
}
.theme-light .settings-defaults__input-group--save {
  background: #f0405e;
  color: #f4f4f4;
}
.theme-dark .settings-defaults__input-group--save {
  background: #f0405e;
  color: #f4f4f4;
}
.settings-defaults__input-group--clear {
  width: 83px;
  margin-right: 7.5px;
}
.theme-light .settings-defaults__input-group--clear {
  background: #46adb4;
  color: #f4f4f4;
}
.theme-dark .settings-defaults__input-group--clear {
  background: #46adb4;
  color: #f4f4f4;
}

.settings__label {
  font-family: AvenirNext-Medium;
  font-size: 9px;
  letter-spacing: 0;
  height: 12px;
  margin-bottom: 3px;
  margin-top: 19px;
  padding-left: 0.5px;
}
.theme-light .settings__label {
  color: #161318;
}
.theme-dark .settings__label {
  color: #efefef;
}
.theme-light .settings__label {
  color: #161318;
}
.theme-dark .settings__label {
  color: #dcdcdc;
}
.settings__button--open-captcha {
  margin-top: 19px;
  width: 205px;
}
.theme-light .settings__button--open-captcha {
  background: #f0405e;
  color: #f4f4f4;
}
.theme-dark .settings__button--open-captcha {
  background: #f0405e;
  color: #f4f4f4;
}
.settings__button--close-captcha {
  margin-top: 19px;
  width: 205px;
}
.theme-light .settings__button--close-captcha {
  background: #46adb4;
  color: #f4f4f4;
}
.theme-dark .settings__button--close-captcha {
  background: #46adb4;
  color: #f4f4f4;
}
.settings__input {
  font-family: AvenirNext-Medium;
  font-size: 9px;
  letter-spacing: 0;
}
.theme-light .settings__input {
  color: #161318;
}
.theme-dark .settings__input {
  color: #efefef;
}
.settings__input-group--webhook__discord {
  width: 344px;
}
.settings__input-group--webhook__slack {
  width: 344px;
}
.settings__input-group--monitor-delay {
  width: 205px;
}
.settings__input-group--error-delay {
  width: 205px;
}
.theme-light .settings__input-group--button {
  background: #f0405e;
  color: #f4f4f4;
}
.theme-dark .settings__input-group--button {
  background: #f0405e;
  color: #f4f4f4;
}
.settings__extras {
  margin-top: 15px;
}

/* Temporary */
.temp-debug {
  background-color: gray;
}
