// Create Task Specific Rules
@import '_mixins';
@import '../themes';

.tasks {
  .tasks-create {
    height: 226px;
    width: 277px;
    @include themify($themes) {
      border-color: themed('tableBorderColor');
    }
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;

    &__section-header {
      padding-bottom: 1px;
    }

    &__label {
      @include tasks-select-font();
      @include themify($themes) {
        color: themed('tableHeaderColor');
      }
      height: 12px;
      margin-bottom: 3px;
      margin-top: 9px;
      padding-left: 0.5px;
    }

    &__input-group {
      margin: 0 11.5px !important;
      padding-bottom: 2px;

      &--last {
        padding-top: 1px;
      }

      &--site {
        padding-left: 14px;
      }

      &--sizes {
        margin-right: 14px !important;
      }
    }

    &__input {
      // @include tasks-select-font();

      &--bordered {
        border-width: 1px;
        border-style: solid;
      }

      &--field {
        width: 119px;
        height: 29px;
        @include themify($themes) {
          background: themed('inputBackground');
        }
        &:disabled {
          @include themify($themes) {
            background: themed('inputBackgroundDisabled');
          }
        }
      }
    }

    &__submit-row {
      align-self: flex-end;
    }

    &__amount {
      width: 44px;
      height: 29px;
      cursor: pointer;
      border-width: 1px;
      border-style: solid;
      border-radius: 3px;
      font-family: AvenirNext-Medium;
      text-align: center;
      @include themify($themes) {
        border-color: themed('tableBorderColor');
        background: themed('inputBackground');
      }
    }

    &__submit {
      margin-right: -1px;
      width: 83px;
      height: 29px;
      cursor: pointer;
      @include themify($themes) {
        background: themed('buttonColorPrimary');
      }
      border: none;
      border-radius: 3px;
      font-family: AvenirNext-Medium;
      font-size: 12px;
      color: #efefef;
      letter-spacing: 0;
    }
  }
}
