// Tasks Log Specific Rules
@import '../themes';

%tasks-log__header__field {
  margin: 0;

  & > p {
    font-family: AvenirNext-Medium;
    font-size: 12px;
    @include themify($themes) {
      color: themed('tableHeaderColor');
    }
    letter-spacing: 0;
    margin: 5px 0;
  }
}

.tasks {
  .tasks-log-container {
    width: 504px;
    height: 300px;
    @include themify($themes) {
      border-color: themed('tableBorderColor');
    }
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;

    &__fullscreen {
      border-width: 1px;
      border-style: solid;
      border-radius: 3px;
      z-index: 999;
      position: absolute;
      @include themify($themes) {
        background-color: themed('background');
      }
      top: 30px;
      left: 125px;
      height: calc(100% - 60px);
      width: calc(100% - 259px);
    }

    .tasks-table__wrapper {
      min-width: 0;
      width: 100%;
      overflow: hidden;
      display: block;
    }
  }

  .tasks-log {
    border-collapse: collapse;
    border-spacing: 0 10px;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    cursor: sw-resize;

    &__fullscreen {
      position: absolute;
      @include themify($themes) {
        background-color: themed('background');
      }
      top: 30px;
      left: 120px;
      width: calc(100% - 230px);
      height: calc(100% - 50px);
      cursor: ne-resize;
      z-index: 999;
    }

    &__header {
      margin: 0;
      padding-bottom: 1px;
      height: 26px;
      min-height: 26px;

      &--id {
        @extend %tasks-log__header__field;
        width: 7px;
        padding-left: 14px;
      }

      &--site {
        @extend %tasks-log__header__field;
        width: 110px;
        padding-left: 15px;
      }

      &--size {
        @extend %tasks-log__header__field;
        width: 65px;
        padding-left: 18px;
      }

      &--output {
        @extend %tasks-log__header__field;
        width: 20px;
        padding-left: 30px;
      }
    }

    &__section-header {
      padding-top: 1px;
      &__fullscreen {
        position: absolute;
        left: 140px;
        top: 10px;
      }
    }

    .blank {
      padding-left: 10px;
    }

    .extend {
      padding-right: 4px;
    }

    .pad-left {
      padding-left: 5px;
      padding-bottom: 0;
    }

    .tasks-row-container {
      @include themify($themes) {
        border-bottom-color: themed('tableRowBottomBorderColow');
      }
      border-bottom-style: solid;
      border-bottom-width: 1px;

      .tasks-row {
        display: flex;
        height: 30px;

        &__log {
          &--id {
            @extend %tasks-table__text-field;
            margin-left: 6.5px;
            margin-right: 0;
          }

          &--site {
            @extend %tasks-table__text-field;
            width: 116px;
          }

          &--size {
            @extend %tasks-table__text-field;
            width: 66px;
          }

          &--output {
            @extend %tasks-table__text-field;
            width: 224px;
            text-overflow: ellipsis;
            white-space: nowrap;
            vertical-align: middle;
          }
        }
      }
    }
  }
}
