// Tasks Table Specific Rules
@import '_mixins';

%tasks-table__text-field {
  text-transform: uppercase;
  text-overflow: ellipsis;
}

%tasks-table__header__field {
  margin: 0;

  & > p {
    font-family: AvenirNext-Medium;
    font-size: 12px;
    color: #161318;
    letter-spacing: 0;
    margin: 5px 0;
  }
}

.tasks {
  .tasks-table-container {
    width: 741px;
    height: 300px;
    border: 1px solid #f0405e;
    border-radius: 3px;
    margin: 0 16px 0 0 !important;

    .tasks-table__wrapper {
      min-width: 0;
      width: 100%;
      overflow: hidden;
      display: block;
    }

    .tasks-table__header {
      margin: 0;
      padding-bottom: 1px;
      height: 26px;
      min-height: 26px;

      .tasks-table__header__edit {
        @extend %tasks-table__header__field;
        width: 16px;
      }

      .tasks-table__header__id {
        @extend %tasks-table__header__field;
        width: 26px;

        & > p {
          text-align: center;
        }
      }

      .tasks-table__header__product {
        @extend %tasks-table__header__field;
        width: 129px;
      }

      .tasks-table__header__sites {
        @extend %tasks-table__header__field;
        width: 73px;
      }

      .tasks-table__header__profile {
        @extend %tasks-table__header__field;
        width: 268px;
      }

      .tasks-table__header__sizes {
        @extend %tasks-table__header__field;
        width: 54px;
      }

      .tasks-table__header__pairs {
        @extend %tasks-table__header__field;
        width: 50px;
      }

      .tasks-table__header__actions {
        @extend %tasks-table__header__field;
        width: 50px;
      }
    }
  }

  .tasks-table {
    border-collapse: collapse;
    border-spacing: 0 10px;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;

    &__section-header {
      padding-top: 1px;
    }

    .blank {
      padding-left: 10px;
    }

    .extend {
      padding-right: 4px;
    }

    .pad-left {
      padding-left: 5px;
      padding-bottom: 0;
    }

    .tasks-row-container {
      border-bottom: #dfdfdf solid 1px;

      .tasks-row {
        display: flex;
        height: 30px;
        // align-items: center;

        &.tasks-row--edit {
          padding: 10px;
          height: 80px;
          align-items: flex-start;
          border: #b8d9d2 solid 1px;
          margin: 0 -5px 5px -5px;
          border-radius: 3px !important;

          .edit-field {
            vertical-align: middle;
            margin: 0 7px !important;
            width: 100px;

            &__label {
              margin: 0;
              @include tasks-select-font();
            }

            &__select {
              @include tasks-select-font();
              &:disabled {
                background: rgb(229, 229, 229);
                cursor: not-allowed;
              }
            }

            &__input {
              vertical-align: middle;
              height: 29px;
              border: #f0405e solid 1px;
              border-radius: 3px;
              &:disabled {
                background: rgb(229, 229, 229);
                cursor: not-allowed;
              }
            }
          }

          .action {
            margin: 12px 7px 0 7px;

            &__button {
              width: 83px;
              height: 29px;
              cursor: pointer;
              border: none;
              border-radius: 3px;
              font-family: AvenirNext-Medium;
              font-size: 12px;
              color: #efefef;
              letter-spacing: 0;

              &--cancel {
                background: #46adb4;
              }

              &--save {
                background: #f0405e;
              }
            }
          }
        }

        img {
          @include image();
        }

        &__edit {
          width: 16px;
        }

        &__id {
          width: 26px;
          text-align: center;
        }

        &__product {
          @extend %tasks-table__text-field;
          width: 129px;
        }

        &__sites {
          text-overflow: ellipsis;
          width: 73px;
        }

        &__profile {
          @extend %tasks-table__text-field;
          width: 268px;

          & > p {
            text-overflow: ellipsis;
          }
        }

        &__sizes {
          @extend %tasks-table__text-field;
          width: 54px;
        }

        &__account {
          width: 50px;
        }

        &__actions {
          width: 50px;

          &__button:first-child {
            margin-left: -5px;
          }

          &__button:nth-child(3) {
            margin-top: 1px;
          }

          &__button {
            padding-bottom: 3px;
            margin-right: 5px;
            width: 16px;
          }
        }
      }
    }
  }
}
