// Tasks Table Specific Rules
@import '_mixins';
@import '../themes';

%tasks-table__text-field {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
}

%tasks-table__header__field {
  margin: 0;

  & > p {
    font-family: AvenirNext-Medium;
    font-size: 12px;
    @include themify($themes) {
      color: themed('tableHeaderColor');
    }
    letter-spacing: 0;
    margin: 5px 0;
  }
}

.tasks {
  .tasks-table-container {
    width: 741px;
    height: 300px;
    @include themify($themes) {
      border-color: themed('tableBorderColor');
    }
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    margin: 0 16px 0 0 !important;

    .tasks-table__wrapper {
      min-width: 0;
      width: 100%;
      overflow: hidden;
      display: block;
    }

    .tasks-table__header {
      margin: 0;
      padding-bottom: 1px;
      height: 26px;
      min-height: 26px;

      .tasks-table__header__edit {
        @extend %tasks-table__header__field;
        width: 5px;
      }

      .tasks-table__header__id {
        @extend %tasks-table__header__field;
        width: 26px;

        & > p {
          text-align: center;
        }
      }

      .tasks-table__header__product {
        @extend %tasks-table__header__field;
        width: 200px;
      }

      .tasks-table__header__sites {
        @extend %tasks-table__header__field;
        width: 125px;
      }

      .tasks-table__header__profile {
        @extend %tasks-table__header__field;
        width: 125px;
      }

      .tasks-table__header__sizes {
        @extend %tasks-table__header__field;
        width: 65px;
      }

      .tasks-table__header__pairs {
        @extend %tasks-table__header__field;
        width: 65px;
      }

      .tasks-table__header__actions {
        @extend %tasks-table__header__field;
        width: 50px;
      }
    }
  }

  .tasks-table {
    border-collapse: collapse;
    border-spacing: 0 10px;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;

    &__section-header {
      padding-top: 1px;
    }

    .blank {
      padding-left: 10px;
    }

    .extend {
      padding-right: 4px;
    }

    .pad-left {
      padding-left: 5px;
      padding-bottom: 0;
    }

    .tasks-row-container {
      width: calc(100% - 30px) !important;
      @include themify($themes) {
        border-bottom-color: themed('tableRowBottomBorderColow');
      }
      border-bottom-style: solid;
      border-bottom-width: 1px;

      .tasks-row {
        display: flex;
        height: 31px;

        &.tasks-row--edit {
          padding: 10px;
          height: 80px;
          align-items: flex-start;
          @include themify($themes) {
            border-color: themed('tableEditBorderColor');
          }
          border-width: 1px;
          border-style: solid;
          margin: 0 -5px 5px -5px;
          border-radius: 3px;

          .edit-field {
            vertical-align: middle;
            margin: 0 7px !important;
            width: 100px;

            &__label {
              margin: 0;
              @include tasks-select-font();
            }

            &__select {
              @include tasks-select-font();
            }

            &__input {
              vertical-align: middle;
              height: 29px;
              border-width: 1px;
              border-style: solid;
              border-radius: 3px;
            }
          }

          .action {
            margin: 12px 7px 0 7px;

            &__button {
              width: 83px;
              height: 29px;
              cursor: pointer;
              border: none;
              border-radius: 3px;
              font-family: AvenirNext-Medium;
              font-size: 12px;
              color: #efefef;
              letter-spacing: 0;

              &--cancel {
                @include themify($themes) {
                  background: themed('buttonColorSecondary');
                }
              }

              &--save {
                @include themify($themes) {
                  background: themed('buttonColorPrimary');
                }
              }
            }
          }
        }

        img {
          @include image();
        }

        &__edit {
          margin-top: 4.5px;
          width: 6px;
        }

        &__id {
          width: 26px;
          text-align: center;

          &--FAST {
            width: 26px;
            text-align: center;
            color: #858dbb;
          }

          &--SAFE {
            width: 26px;
            text-align: center;
            color: #8aa27d;
          }
        }

        &__product {
          @extend %tasks-table__text-field;
          width: 200px;
          white-space: nowrap;
          text-overflow: ellipsis;
          vertical-align: middle;
          max-width: 200px;
          overflow: hidden;

          &--checkout-ready-light {
            @extend %tasks-table__text-field;
            width: 200px;
            white-space: nowrap;
            text-overflow: ellipsis;
            vertical-align: middle;
            max-width: 200px;
            overflow: hidden;
            color: #f68e5f;
          }

          &--checkout-ready-dark {
            @extend %tasks-table__text-field;
            width: 200px;
            white-space: nowrap;
            text-overflow: ellipsis;
            vertical-align: middle;
            max-width: 200px;
            overflow: hidden;
            color: #f5dd90;
          }
        }

        &__sites {
          text-overflow: ellipsis;
          width: 125px;

          &--checkout-ready-light {
            text-overflow: ellipsis;
            width: 125px;
            color: #f68e5f;
          }

          &--checkout-ready-dark {
            text-overflow: ellipsis;
            width: 125px;
            color: #f5dd90;
          }
        }

        &__profile {
          @extend %tasks-table__text-field;
          width: 125px;

          &--checkout-ready-light {
            @extend %tasks-table__text-field;
            width: 125px;
            color: #f68e5f;
          }

          &--checkout-ready-dark {
            @extend %tasks-table__text-field;
            width: 125px;
            color: #f5dd90;
          }

          & > p {
            text-overflow: ellipsis;
          }
        }

        &__sizes {
          @extend %tasks-table__text-field;
          width: 65px;

          &--checkout-ready-light {
            @extend %tasks-table__text-field;
            width: 65px;
            color: #f68e5f;
          }

          &--checkout-ready-dark {
            @extend %tasks-table__text-field;
            width: 65px;
            color: #f5dd90;
          }
        }

        &__account {
          width: 65px;

          &--checkout-ready-light {
            width: 65px;
            color: #f68e5f;
          }

          &--checkout-ready-dark {
            width: 65px;
            color: #f5dd90;
          }
        }

        &__actions {
          width: 50px;

          &__button:first-child {
            margin-left: -10px;
            margin-top: 5.5px;
          }

          &__button:nth-child(2) {
            margin-top: 7.2px;
          }

          &__button:nth-child(3) {
            margin-top: 7px;
          }

          &__button:nth-child(4) {
            margin-top: 6.5px;
          }

          &__button {
            padding-bottom: 3px;
            margin-right: 1.5px;
            margin-left: 1.5px;
            width: 16px;
          }
        }
      }
    }
  }
}
