// Tasks Page Specific Rules

.view-line {
  margin: 0;
  border: 1px solid #edbcc6;
  flex: 1 1 100%;
}

.section-header {
  max-height: 32px;
  margin: 6px 0;

  &.section-header--no-top {
    margin-top: 0;
  }
}

.tasks__title {
  padding-top: 1px !important;
  padding-bottom: 3px !important;
}

.tasks__label {
  height: 12px;
  margin-bottom: 3px;
  margin-top: 0px;
  padding-left: 0.5px;
}

.tasks__delay {
  &--gutter-bottom {
    margin-bottom: 6px !important;
  }
}

.bulk-action-sidebar {
  &__button {
    padding-bottom: 15px;
    cursor: pointer;
  }
  &__monitor-delay {
    width: 60px;
    height: 29px;
    padding-left: 3.5px;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
  }
  &__error-delay {
    width: 60px;
    height: 29px;
    padding-left: 3.5px;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
  }
}
