.container {
  margin: 0 15px;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-around;
  margin: 0 -15px;
}
.row--start {
  justify-content: flex-start;
}
.row--end {
  justify-content: flex-end;
}
.row--between {
  justify-content: space-between;
}
.row--expand {
  flex: 1 1 auto;
}
.row--gutter-left {
  margin-left: 0 !important;
}
.row--gutter-right {
  margin-right: 0 !important;
}
.row--gutter {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-around;
  margin: 0 15px;
}
.col--start {
  justify-content: flex-start;
}
.col--end {
  justify-content: flex-end;
}
.col--between {
  justify-content: space-between;
}
.col--expand {
  flex: 1 1 auto;
}
.col--no-gutter-left {
  margin-left: 0 !important;
}
.col--no-gutter-right {
  margin-right: 0 !important;
}
.col--no-gutter {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

/*
 * Implementation of themes
 */
/*
 * Implementation of themes
 */
.tasks .tasks-create {
  height: 226px;
  width: 277px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
}
.theme-light .tasks .tasks-create {
  border-color: #f0405e;
}
.theme-dark .tasks .tasks-create {
  border-color: #f0405e;
}
.tasks .tasks-create__section-header {
  padding-bottom: 1px;
}
.tasks .tasks-create__label {
  font-family: AvenirNext-Medium;
  font-size: 9.5px;
  letter-spacing: 0;
  height: 12px;
  margin-bottom: 3px;
  margin-top: 9px;
  padding-left: 0.5px;
}
.theme-light .tasks .tasks-create__label {
  color: #161318;
}
.theme-dark .tasks .tasks-create__label {
  color: #efefef;
}
.theme-light .tasks .tasks-create__label {
  color: #161318;
}
.theme-dark .tasks .tasks-create__label {
  color: #dcdcdc;
}
.tasks .tasks-create__input-group {
  margin: 0 11.5px !important;
  padding-bottom: 2px;
}
.tasks .tasks-create__input-group--last {
  padding-top: 1px;
}
.tasks .tasks-create__input-group--site {
  padding-left: 14px;
}
.tasks .tasks-create__input-group--sizes {
  margin-right: 14px !important;
}
.tasks .tasks-create__input--bordered {
  border-width: 1px;
  border-style: solid;
}
.tasks .tasks-create__input--field {
  width: 119px;
  height: 29px;
}
.theme-light .tasks .tasks-create__input--field {
  background: #f4f4f4;
}
.theme-dark .tasks .tasks-create__input--field {
  background: #393c3f;
}
.theme-light .tasks .tasks-create__input--field:disabled {
  background: #dcdcdc;
}
.theme-dark .tasks .tasks-create__input--field:disabled {
  background: #262626;
}
.tasks .tasks-create__input--type-FAST {
  color: #858dbb;
}
.tasks .tasks-create__input--type-SAFE {
  color: #8aa27d;
}
.tasks .tasks-create__submit-row {
  align-self: flex-end;
}
.tasks .tasks-create__amount {
  width: 44px;
  height: 29px;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  font-family: AvenirNext-Medium;
  text-align: center;
}
.theme-light .tasks .tasks-create__amount {
  border-color: #f0405e;
  background: #f4f4f4;
}
.theme-dark .tasks .tasks-create__amount {
  border-color: #f0405e;
  background: #393c3f;
}
.tasks .tasks-create__submit {
  margin-right: -1px;
  width: 83px;
  height: 29px;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  font-family: AvenirNext-Medium;
  font-size: 12px;
  color: #efefef;
  letter-spacing: 0;
}
.theme-light .tasks .tasks-create__submit {
  background: #f0405e;
}
.theme-dark .tasks .tasks-create__submit {
  background: #f0405e;
}

/*
 * Implementation of themes
 */
.tasks .tasks-table .tasks-row-container .tasks-row__sizes--checkout-ready-dark, .tasks .tasks-table .tasks-row-container .tasks-row__sizes--checkout-ready-light, .tasks .tasks-table .tasks-row-container .tasks-row__sizes, .tasks .tasks-table .tasks-row-container .tasks-row__profile--checkout-ready-dark, .tasks .tasks-table .tasks-row-container .tasks-row__profile--checkout-ready-light, .tasks .tasks-table .tasks-row-container .tasks-row__profile, .tasks .tasks-table .tasks-row-container .tasks-row__product--checkout-ready-dark, .tasks .tasks-table .tasks-row-container .tasks-row__product--checkout-ready-light, .tasks .tasks-table .tasks-row-container .tasks-row__product, .tasks .tasks-log .tasks-row-container .tasks-row__log--output, .tasks .tasks-log .tasks-row-container .tasks-row__log--proxy, .tasks .tasks-log .tasks-row-container .tasks-row__log--size, .tasks .tasks-log .tasks-row-container .tasks-row__log--product, .tasks .tasks-log .tasks-row-container .tasks-row__log--store, .tasks .tasks-log .tasks-row-container .tasks-row__log--id {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
  vertical-align: middle;
}

.tasks .tasks-log__button--password, .tasks .tasks-log__button--links {
  font-family: AvenirNext-Medium;
  font-size: 9.5px;
  letter-spacing: 0;
  width: 64px;
  height: 29px;
  cursor: pointer;
  border: none;
  border-radius: 3px;
}

.tasks .tasks-log__header--output--fullscreen, .tasks .tasks-log__header--output, .tasks .tasks-log__header--proxy--fullscreen, .tasks .tasks-log__header--size, .tasks .tasks-log__header--product--fullscreen, .tasks .tasks-log__header--store, .tasks .tasks-log__header--id {
  margin: 0;
}
.tasks .tasks-log__header--output--fullscreen > p, .tasks .tasks-log__header--output > p, .tasks .tasks-log__header--proxy--fullscreen > p, .tasks .tasks-log__header--size > p, .tasks .tasks-log__header--product--fullscreen > p, .tasks .tasks-log__header--store > p, .tasks .tasks-log__header--id > p {
  font-family: AvenirNext-Medium;
  font-size: 12px;
  letter-spacing: 0;
  margin: 5px 0;
}
.theme-light .tasks .tasks-log__header--output--fullscreen > p, .tasks .theme-light .tasks-log__header--output--fullscreen > p, .theme-light .tasks .tasks-log__header--output > p, .tasks .theme-light .tasks-log__header--output > p, .theme-light .tasks .tasks-log__header--proxy--fullscreen > p, .tasks .theme-light .tasks-log__header--proxy--fullscreen > p, .theme-light .tasks .tasks-log__header--size > p, .tasks .theme-light .tasks-log__header--size > p, .theme-light .tasks .tasks-log__header--product--fullscreen > p, .tasks .theme-light .tasks-log__header--product--fullscreen > p, .theme-light .tasks .tasks-log__header--store > p, .tasks .theme-light .tasks-log__header--store > p, .theme-light .tasks .tasks-log__header--id > p, .tasks .theme-light .tasks-log__header--id > p {
  color: #161318;
}
.theme-dark .tasks .tasks-log__header--output--fullscreen > p, .tasks .theme-dark .tasks-log__header--output--fullscreen > p, .theme-dark .tasks .tasks-log__header--output > p, .tasks .theme-dark .tasks-log__header--output > p, .theme-dark .tasks .tasks-log__header--proxy--fullscreen > p, .tasks .theme-dark .tasks-log__header--proxy--fullscreen > p, .theme-dark .tasks .tasks-log__header--size > p, .tasks .theme-dark .tasks-log__header--size > p, .theme-dark .tasks .tasks-log__header--product--fullscreen > p, .tasks .theme-dark .tasks-log__header--product--fullscreen > p, .theme-dark .tasks .tasks-log__header--store > p, .tasks .theme-dark .tasks-log__header--store > p, .theme-dark .tasks .tasks-log__header--id > p, .tasks .theme-dark .tasks-log__header--id > p {
  color: #dcdcdc;
}

.tasks .tasks-log-container {
  width: 504px;
  height: 300px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
}
.theme-light .tasks .tasks-log-container {
  border-color: #f0405e;
}
.theme-dark .tasks .tasks-log-container {
  border-color: #f0405e;
}
.tasks .tasks-log-container--fullscreen {
  z-index: 999;
  position: absolute;
  top: 30px;
  left: 125px;
  height: calc(100% - 60px);
  width: calc(100% - 259px);
}
.theme-light .tasks .tasks-log-container--fullscreen {
  background-color: #f4f4f4;
}
.theme-dark .tasks .tasks-log-container--fullscreen {
  background-color: #313236;
}
.tasks .tasks-table__wrapper {
  min-width: 0;
  width: 100%;
  overflow: hidden;
  display: block;
}
.tasks .table--lower {
  flex-grow: 0 !important;
  height: 175px;
  min-height: 175px;
  width: calc(100% - 16px);
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0 16px 0 0 !important;
  border-top: 1px solid;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.theme-light .tasks .table--lower {
  border-top-color: #6d6e70;
  background-color: #dcdcdc;
}
.theme-dark .tasks .table--lower {
  border-top-color: #161318;
  background-color: #262626;
}
.tasks .tasks-live-log {
  min-width: 0;
  width: 100%;
  overflow: hidden;
  display: block;
}
.tasks .tasks-live-log__wrapper {
  border-collapse: collapse;
  border-spacing: 0 10px;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
.tasks .tasks-live-log__output-row {
  margin: 0;
  line-height: 0;
  padding-bottom: 10px;
  height: 15px;
  min-height: 15px;
}
.tasks .tasks-live-log__output-row-message {
  text-align: left;
  vertical-align: middle;
}
.theme-light .tasks .tasks-live-log__output-row-message--normal {
  color: #161318;
}
.theme-dark .tasks .tasks-live-log__output-row-message--normal {
  color: #efefef;
}
.tasks .tasks-live-log__output-row-message--success {
  color: #46adb4;
}
.tasks .tasks-live-log__output-row-message--failed {
  color: #ef415e;
}
.tasks .tasks-live-log__output-row-message--warning {
  color: #d8973c;
}
.tasks .tasks-log {
  border-collapse: collapse;
  border-spacing: 0 10px;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
.tasks .tasks-log__button--links {
  position: absolute;
  right: 14px;
  top: 105px;
}
.theme-light .tasks .tasks-log__button--links {
  background: #f0405e;
  color: #f4f4f4;
}
.theme-dark .tasks .tasks-log__button--links {
  background: #f0405e;
  color: #f4f4f4;
}
.tasks .tasks-log__button--password {
  position: absolute;
  right: 14px;
  top: 150px;
}
.theme-light .tasks .tasks-log__button--password {
  background: #f0405e;
  color: #f4f4f4;
}
.theme-dark .tasks .tasks-log__button--password {
  background: #f0405e;
  color: #f4f4f4;
}
.tasks .tasks-log__header {
  margin: 0;
  padding-bottom: 1px;
  height: 26px;
  min-height: 26px;
  cursor: sw-resize;
}
.tasks .tasks-log__header--fullscreen {
  cursor: ne-resize;
}
.tasks .tasks-log__header--id {
  width: 7px;
  padding-left: 14px;
}
.tasks .tasks-log__header--store {
  width: 110px;
  padding-left: 15px;
}
.tasks .tasks-log__header--product {
  display: none;
}
.tasks .tasks-log__header--product--fullscreen {
  display: unset;
  width: 110px;
  padding-left: 15px;
}
.tasks .tasks-log__header--size {
  width: 65px;
  padding-left: 18px;
}
.tasks .tasks-log__header--proxy {
  display: none;
}
.tasks .tasks-log__header--proxy--fullscreen {
  display: unset;
  width: 65px;
}
.tasks .tasks-log__header--output {
  width: 20px;
  padding-left: 30px;
}
.tasks .tasks-log__header--output--fullscreen {
  width: 20px;
  padding-left: 80px;
}
.tasks .tasks-log__section-header {
  padding-top: 1px;
}
.tasks .tasks-log__section-header--fullscreen {
  display: none;
}
.tasks .tasks-log .blank {
  padding-left: 10px;
}
.tasks .tasks-log .extend {
  padding-right: 4px;
}
.tasks .tasks-log .pad-left {
  padding-left: 5px;
  padding-bottom: 0;
}
.tasks .tasks-log .checkout-ready {
  color: #91a8d0;
}
.tasks .tasks-log .tasks-row-container {
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.theme-light .tasks .tasks-log .tasks-row-container {
  border-bottom-color: #cbcbcb;
}
.theme-dark .tasks .tasks-log .tasks-row-container {
  border-bottom-color: #6d6e70;
}
.tasks .tasks-log .tasks-row-container .tasks-row {
  width: 100% !important;
  display: flex;
  height: 30px;
}
.tasks .tasks-log .tasks-row-container .tasks-row--selected {
  width: 100% !important;
  display: flex;
  height: 30px;
}
.theme-light .tasks .tasks-log .tasks-row-container .tasks-row--selected {
  background-color: #dfdfdf;
}
.theme-dark .tasks .tasks-log .tasks-row-container .tasks-row--selected {
  background-color: #262626;
}
.tasks .tasks-log .tasks-row-container .tasks-row__log--success {
  color: #46adb4;
}
.tasks .tasks-log .tasks-row-container .tasks-row__log--failed {
  color: #ef415e;
}
.tasks .tasks-log .tasks-row-container .tasks-row__log--warning {
  color: #d8973c;
}
.tasks .tasks-log .tasks-row-container .tasks-row__log--id {
  margin-left: 8.5px;
  margin-right: 6.5px;
}
.tasks .tasks-log .tasks-row-container .tasks-row__log--id--fullscreen {
  margin-left: 12.5px;
  margin-right: 9.5px;
}
.tasks .tasks-log .tasks-row-container .tasks-row__log--store {
  width: 106px;
  margin-right: 10px !important;
}
.tasks .tasks-log .tasks-row-container .tasks-row__log--store--fullscreen {
  width: 112px;
}
.tasks .tasks-log .tasks-row-container .tasks-row__log--product {
  visibility: hidden;
  width: 0;
}
.tasks .tasks-log .tasks-row-container .tasks-row__log--product--fullscreen {
  visibility: visible;
  width: 116px;
  margin-right: 10px !important;
}
.tasks .tasks-log .tasks-row-container .tasks-row__log--size {
  width: 74px;
  margin-right: 10px !important;
}
.tasks .tasks-log .tasks-row-container .tasks-row__log--size--fullscreen {
  width: 54px;
}
.tasks .tasks-log .tasks-row-container .tasks-row__log--proxy {
  visibility: hidden;
  width: 0;
}
.tasks .tasks-log .tasks-row-container .tasks-row__log--proxy--fullscreen {
  visibility: visible;
  width: 132px;
  margin-right: 10px !important;
}
.tasks .tasks-log .tasks-row-container .tasks-row__log--output {
  width: 231px;
  margin-right: 10px !important;
}

/*
 * Implementation of themes
 */
/*
 * Implementation of themes
 */
.tasks .tasks-table .tasks-row-container .tasks-row__sizes--checkout-ready-dark, .tasks .tasks-table .tasks-row-container .tasks-row__sizes--checkout-ready-light, .tasks .tasks-table .tasks-row-container .tasks-row__sizes, .tasks .tasks-table .tasks-row-container .tasks-row__profile--checkout-ready-dark, .tasks .tasks-table .tasks-row-container .tasks-row__profile--checkout-ready-light, .tasks .tasks-table .tasks-row-container .tasks-row__profile, .tasks .tasks-table .tasks-row-container .tasks-row__product--checkout-ready-dark, .tasks .tasks-table .tasks-row-container .tasks-row__product--checkout-ready-light, .tasks .tasks-table .tasks-row-container .tasks-row__product, .tasks .tasks-log .tasks-row-container .tasks-row__log--id, .tasks .tasks-log .tasks-row-container .tasks-row__log--store, .tasks .tasks-log .tasks-row-container .tasks-row__log--product, .tasks .tasks-log .tasks-row-container .tasks-row__log--size, .tasks .tasks-log .tasks-row-container .tasks-row__log--proxy, .tasks .tasks-log .tasks-row-container .tasks-row__log--output {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
}

.tasks .tasks-table-container .tasks-table__header .tasks-table__header__actions, .tasks .tasks-table-container .tasks-table__header .tasks-table__header__pairs, .tasks .tasks-table-container .tasks-table__header .tasks-table__header__sizes, .tasks .tasks-table-container .tasks-table__header .tasks-table__header__profile, .tasks .tasks-table-container .tasks-table__header .tasks-table__header__sites, .tasks .tasks-table-container .tasks-table__header .tasks-table__header__product, .tasks .tasks-table-container .tasks-table__header .tasks-table__header__id, .tasks .tasks-table-container .tasks-table__header .tasks-table__header__edit {
  margin: 0;
}
.tasks .tasks-table-container .tasks-table__header .tasks-table__header__actions > p, .tasks .tasks-table-container .tasks-table__header .tasks-table__header__pairs > p, .tasks .tasks-table-container .tasks-table__header .tasks-table__header__sizes > p, .tasks .tasks-table-container .tasks-table__header .tasks-table__header__profile > p, .tasks .tasks-table-container .tasks-table__header .tasks-table__header__sites > p, .tasks .tasks-table-container .tasks-table__header .tasks-table__header__product > p, .tasks .tasks-table-container .tasks-table__header .tasks-table__header__id > p, .tasks .tasks-table-container .tasks-table__header .tasks-table__header__edit > p {
  font-family: AvenirNext-Medium;
  font-size: 12px;
  letter-spacing: 0;
  margin: 5px 0;
}
.theme-light .tasks .tasks-table-container .tasks-table__header .tasks-table__header__actions > p, .tasks .tasks-table-container .tasks-table__header .theme-light .tasks-table__header__actions > p, .theme-light .tasks .tasks-table-container .tasks-table__header .tasks-table__header__pairs > p, .tasks .tasks-table-container .tasks-table__header .theme-light .tasks-table__header__pairs > p, .theme-light .tasks .tasks-table-container .tasks-table__header .tasks-table__header__sizes > p, .tasks .tasks-table-container .tasks-table__header .theme-light .tasks-table__header__sizes > p, .theme-light .tasks .tasks-table-container .tasks-table__header .tasks-table__header__profile > p, .tasks .tasks-table-container .tasks-table__header .theme-light .tasks-table__header__profile > p, .theme-light .tasks .tasks-table-container .tasks-table__header .tasks-table__header__sites > p, .tasks .tasks-table-container .tasks-table__header .theme-light .tasks-table__header__sites > p, .theme-light .tasks .tasks-table-container .tasks-table__header .tasks-table__header__product > p, .tasks .tasks-table-container .tasks-table__header .theme-light .tasks-table__header__product > p, .theme-light .tasks .tasks-table-container .tasks-table__header .tasks-table__header__id > p, .tasks .tasks-table-container .tasks-table__header .theme-light .tasks-table__header__id > p, .theme-light .tasks .tasks-table-container .tasks-table__header .tasks-table__header__edit > p, .tasks .tasks-table-container .tasks-table__header .theme-light .tasks-table__header__edit > p {
  color: #161318;
}
.theme-dark .tasks .tasks-table-container .tasks-table__header .tasks-table__header__actions > p, .tasks .tasks-table-container .tasks-table__header .theme-dark .tasks-table__header__actions > p, .theme-dark .tasks .tasks-table-container .tasks-table__header .tasks-table__header__pairs > p, .tasks .tasks-table-container .tasks-table__header .theme-dark .tasks-table__header__pairs > p, .theme-dark .tasks .tasks-table-container .tasks-table__header .tasks-table__header__sizes > p, .tasks .tasks-table-container .tasks-table__header .theme-dark .tasks-table__header__sizes > p, .theme-dark .tasks .tasks-table-container .tasks-table__header .tasks-table__header__profile > p, .tasks .tasks-table-container .tasks-table__header .theme-dark .tasks-table__header__profile > p, .theme-dark .tasks .tasks-table-container .tasks-table__header .tasks-table__header__sites > p, .tasks .tasks-table-container .tasks-table__header .theme-dark .tasks-table__header__sites > p, .theme-dark .tasks .tasks-table-container .tasks-table__header .tasks-table__header__product > p, .tasks .tasks-table-container .tasks-table__header .theme-dark .tasks-table__header__product > p, .theme-dark .tasks .tasks-table-container .tasks-table__header .tasks-table__header__id > p, .tasks .tasks-table-container .tasks-table__header .theme-dark .tasks-table__header__id > p, .theme-dark .tasks .tasks-table-container .tasks-table__header .tasks-table__header__edit > p, .tasks .tasks-table-container .tasks-table__header .theme-dark .tasks-table__header__edit > p {
  color: #dcdcdc;
}

.tasks .tasks-table-container {
  width: 741px;
  height: 300px;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  margin: 0 16px 0 0 !important;
}
.theme-light .tasks .tasks-table-container {
  border-color: #f0405e;
}
.theme-dark .tasks .tasks-table-container {
  border-color: #f0405e;
}
.tasks .tasks-table-container .tasks-table__wrapper {
  min-width: 0;
  width: 100%;
  overflow: hidden;
  display: block;
}
.tasks .tasks-table-container .tasks-table__header {
  margin: 0;
  padding-bottom: 1px;
  height: 26px;
  min-height: 26px;
}
.tasks .tasks-table-container .tasks-table__header .tasks-table__header__edit {
  width: 5px;
}
.tasks .tasks-table-container .tasks-table__header .tasks-table__header__id {
  width: 26px;
}
.tasks .tasks-table-container .tasks-table__header .tasks-table__header__id > p {
  text-align: center;
}
.tasks .tasks-table-container .tasks-table__header .tasks-table__header__product {
  width: 200px;
}
.tasks .tasks-table-container .tasks-table__header .tasks-table__header__sites {
  width: 125px;
}
.tasks .tasks-table-container .tasks-table__header .tasks-table__header__profile {
  width: 125px;
}
.tasks .tasks-table-container .tasks-table__header .tasks-table__header__sizes {
  width: 65px;
}
.tasks .tasks-table-container .tasks-table__header .tasks-table__header__pairs {
  width: 65px;
}
.tasks .tasks-table-container .tasks-table__header .tasks-table__header__actions {
  width: 50px;
}
.tasks .tasks-table {
  border-collapse: collapse;
  border-spacing: 0 10px;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
.tasks .tasks-table__section-header {
  padding-top: 1px;
}
.tasks .tasks-table .blank {
  padding-left: 10px;
}
.tasks .tasks-table .extend {
  padding-right: 4px;
}
.tasks .tasks-table .pad-left {
  padding-left: 5px;
  padding-bottom: 0;
}
.tasks .tasks-table .tasks-row-container {
  width: calc(100% - 30px) !important;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.theme-light .tasks .tasks-table .tasks-row-container {
  border-bottom-color: #cbcbcb;
}
.theme-dark .tasks .tasks-table .tasks-row-container {
  border-bottom-color: #6d6e70;
}
.tasks .tasks-table .tasks-row-container .tasks-row {
  display: flex;
  height: 31px;
}
.tasks .tasks-table .tasks-row-container .tasks-row.tasks-row--edit {
  padding: 10px;
  height: 80px;
  align-items: flex-start;
  border-width: 1px;
  border-style: solid;
  margin: 0 -5px 5px -5px;
  border-radius: 3px;
}
.theme-light .tasks .tasks-table .tasks-row-container .tasks-row.tasks-row--edit {
  border-color: #b8d9d2;
}
.theme-dark .tasks .tasks-table .tasks-row-container .tasks-row.tasks-row--edit {
  border-color: #b8d9d2;
}
.tasks .tasks-table .tasks-row-container .tasks-row.tasks-row--edit .edit-field {
  vertical-align: middle;
  margin: 0 7px !important;
  width: 100px;
}
.tasks .tasks-table .tasks-row-container .tasks-row.tasks-row--edit .edit-field__label {
  margin: 0;
  font-family: AvenirNext-Medium;
  font-size: 9.5px;
  letter-spacing: 0;
}
.theme-light .tasks .tasks-table .tasks-row-container .tasks-row.tasks-row--edit .edit-field__label {
  color: #161318;
}
.theme-dark .tasks .tasks-table .tasks-row-container .tasks-row.tasks-row--edit .edit-field__label {
  color: #efefef;
}
.tasks .tasks-table .tasks-row-container .tasks-row.tasks-row--edit .edit-field__select {
  font-family: AvenirNext-Medium;
  font-size: 9.5px;
  letter-spacing: 0;
}
.theme-light .tasks .tasks-table .tasks-row-container .tasks-row.tasks-row--edit .edit-field__select {
  color: #161318;
}
.theme-dark .tasks .tasks-table .tasks-row-container .tasks-row.tasks-row--edit .edit-field__select {
  color: #efefef;
}
.tasks .tasks-table .tasks-row-container .tasks-row.tasks-row--edit .edit-field__input {
  vertical-align: middle;
  height: 29px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
}
.tasks .tasks-table .tasks-row-container .tasks-row.tasks-row--edit .action {
  margin: 12px 7px 0 7px;
}
.tasks .tasks-table .tasks-row-container .tasks-row.tasks-row--edit .action__button {
  width: 83px;
  height: 29px;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  font-family: AvenirNext-Medium;
  font-size: 12px;
  color: #efefef;
  letter-spacing: 0;
}
.theme-light .tasks .tasks-table .tasks-row-container .tasks-row.tasks-row--edit .action__button--cancel {
  background: #46adb4;
}
.theme-dark .tasks .tasks-table .tasks-row-container .tasks-row.tasks-row--edit .action__button--cancel {
  background: #46adb4;
}
.theme-light .tasks .tasks-table .tasks-row-container .tasks-row.tasks-row--edit .action__button--save {
  background: #f0405e;
}
.theme-dark .tasks .tasks-table .tasks-row-container .tasks-row.tasks-row--edit .action__button--save {
  background: #f0405e;
}
.tasks .tasks-table .tasks-row-container .tasks-row img {
  cursor: pointer;
  vertical-align: middle;
}
.tasks .tasks-table .tasks-row-container .tasks-row__edit {
  margin-top: 4.5px;
  width: 6px;
}
.tasks .tasks-table .tasks-row-container .tasks-row__id {
  width: 26px;
  text-align: center;
}
.tasks .tasks-table .tasks-row-container .tasks-row__id--FAST {
  width: 26px;
  text-align: center;
  color: #858dbb;
}
.tasks .tasks-table .tasks-row-container .tasks-row__id--SAFE {
  width: 26px;
  text-align: center;
  color: #8aa27d;
}
.tasks .tasks-table .tasks-row-container .tasks-row__product {
  width: 200px;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: middle;
  max-width: 200px;
  overflow: hidden;
}
.tasks .tasks-table .tasks-row-container .tasks-row__product--checkout-ready-light {
  width: 200px;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: middle;
  max-width: 200px;
  overflow: hidden;
  color: #f68e5f;
}
.tasks .tasks-table .tasks-row-container .tasks-row__product--checkout-ready-dark {
  width: 200px;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: middle;
  max-width: 200px;
  overflow: hidden;
  color: #f5dd90;
}
.tasks .tasks-table .tasks-row-container .tasks-row__sites {
  text-overflow: ellipsis;
  width: 125px;
}
.tasks .tasks-table .tasks-row-container .tasks-row__sites--checkout-ready-light {
  text-overflow: ellipsis;
  width: 125px;
  color: #f68e5f;
}
.tasks .tasks-table .tasks-row-container .tasks-row__sites--checkout-ready-dark {
  text-overflow: ellipsis;
  width: 125px;
  color: #f5dd90;
}
.tasks .tasks-table .tasks-row-container .tasks-row__profile {
  width: 125px;
}
.tasks .tasks-table .tasks-row-container .tasks-row__profile--checkout-ready-light {
  width: 125px;
  color: #f68e5f;
}
.tasks .tasks-table .tasks-row-container .tasks-row__profile--checkout-ready-dark {
  width: 125px;
  color: #f5dd90;
}
.tasks .tasks-table .tasks-row-container .tasks-row__profile > p {
  text-overflow: ellipsis;
}
.tasks .tasks-table .tasks-row-container .tasks-row__sizes {
  width: 65px;
}
.tasks .tasks-table .tasks-row-container .tasks-row__sizes--checkout-ready-light {
  width: 65px;
  color: #f68e5f;
}
.tasks .tasks-table .tasks-row-container .tasks-row__sizes--checkout-ready-dark {
  width: 65px;
  color: #f5dd90;
}
.tasks .tasks-table .tasks-row-container .tasks-row__account {
  width: 65px;
}
.tasks .tasks-table .tasks-row-container .tasks-row__account--checkout-ready-light {
  width: 65px;
  color: #f68e5f;
}
.tasks .tasks-table .tasks-row-container .tasks-row__account--checkout-ready-dark {
  width: 65px;
  color: #f5dd90;
}
.tasks .tasks-table .tasks-row-container .tasks-row__actions {
  width: 50px;
}
.tasks .tasks-table .tasks-row-container .tasks-row__actions__button:first-child {
  margin-left: -10px;
  margin-top: 5.5px;
}
.tasks .tasks-table .tasks-row-container .tasks-row__actions__button:nth-child(2) {
  margin-top: 7.2px;
}
.tasks .tasks-table .tasks-row-container .tasks-row__actions__button:nth-child(3) {
  margin-top: 7px;
}
.tasks .tasks-table .tasks-row-container .tasks-row__actions__button:nth-child(4) {
  margin-top: 6.5px;
}
.tasks .tasks-table .tasks-row-container .tasks-row__actions__button {
  padding-bottom: 3px;
  margin-right: 1.5px;
  margin-left: 1.5px;
  width: 16px;
}

.view-line {
  margin: 0;
  border: 1px solid #edbcc6;
  flex: 1 1 100%;
}

.section-header {
  max-height: 32px;
  margin: 6px 0;
}
.section-header.section-header--no-top {
  margin-top: 0;
}

.tasks__title {
  padding-top: 1px !important;
  padding-bottom: 3px !important;
}

.tasks__label {
  height: 12px;
  margin-bottom: 3px;
  margin-top: 0px;
  padding-left: 0.5px;
}

.tasks__delay--gutter-bottom {
  margin-bottom: 6px !important;
}

.bulk-action-sidebar__button {
  padding-bottom: 15px;
  cursor: pointer;
}
.bulk-action-sidebar__monitor-delay {
  width: 60px;
  height: 29px;
  padding-left: 3.5px;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
}
.bulk-action-sidebar__error-delay {
  width: 60px;
  height: 29px;
  padding-left: 3.5px;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
}

/* Temporary */
.temp-debug {
  background-color: gray;
}
