$themes: (
  light: (
    background: #f5f5f5,
    // page backgrounds
      navbarDividerColor: #efefef,
    // navbar seperator color
      inputBackground: #dcdcdc,
    // text input background
      inputBackgroundDisabled: #6d6e70,
    // text input background (disabled)
      textColor: #161318,
    // main text color
      placerholderColor: #6d6e70,
    // main text placeholder color
      pageTitleColor: #6d6e70,
    // main page title color
      sectionHeaderColor: #f0405e,
    // section title color within pages
      tableBorderColor: #f0405e,
    // table border color
      tableHeaderLineColor: #edbcc6,
    // table header color
      buttonColorPrimary: #f0405e,
    // positive button color
      buttonColorSecondary: #46adb4,
    // negative button color,
  ),
  dark: (
    background: #1d1e22,
    // page backgrounds
      navbarDividerColor: #6d6e70,
    // navbar seperator color
      inputBackground: #23272a,
    // text input background
      inputBackgroundDisabled: #262626,
    // text input background (disabled)
      textColor: #f5f5f5,
    // main text color
      placeHolderColor: #6d6e70,
    // main text placeholder color
      pageTitleColor: #c9af98,
    // main page title color
      sectionHeaderColor: #ed8a63,
    // section title color with pages
      tableBorderColor: #ed8a63,
    //
      buttonColorPrimary: #f0405e,
    buttonColorSecondary: #46adb4,
  ),
);
