/*
 * Implementation of themes
 */
@font-face {
  font-family: "AvenirNext-Bold";
  src: url("./_assets/fonts/AvenirNext-Bold.eot");
  src: url("./_assets/fonts/AvenirNext-Bold.woff2") format("woff2"), url("./_assets/fonts/AvenirNext-Bold.woff") format("woff"), url("./_assets/fonts/AvenirNext-Bold.ttf") format("truetype"), url("./_assets/fonts/AvenirNext-Bold.svg#AvenirNext-Bold") format("svg"), url("./_assets/fonts/AvenirNext-Bold.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNext-BoldItalic";
  src: url("./_assets/fonts/AvenirNext-BoldItalic.eot");
  src: url("./_assets/fonts/AvenirNext-BoldItalic.woff2") format("woff2"), url("./_assets/fonts/AvenirNext-BoldItalic.woff") format("woff"), url("./_assets/fonts/AvenirNext-BoldItalic.ttf") format("truetype"), url("./_assets/fonts/AvenirNext-BoldItalic.svg#AvenirNext-BoldItalic") format("svg"), url("./_assets/fonts/AvenirNext-BoldItalic.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNext-DemiBold";
  src: url("./_assets/fonts/AvenirNext-DemiBold.eot");
  src: url("./_assets/fonts/AvenirNext-DemiBold.woff2") format("woff2"), url("./_assets/fonts/AvenirNext-DemiBold.woff") format("woff"), url("./_assets/fonts/AvenirNext-DemiBold.ttf") format("truetype"), url("./_assets/fonts/AvenirNext-DemiBold.svg#AvenirNext-DemiBold") format("svg"), url("./_assets/fonts/AvenirNext-DemiBold.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNext-DemiBoldItalic";
  src: url("./_assets/fonts/AvenirNext-DemiBoldItalic.eot");
  src: url("./_assets/fonts/AvenirNext-DemiBoldItalic.woff2") format("woff2"), url("./_assets/fonts/AvenirNext-DemiBoldItalic.woff") format("woff"), url("./_assets/fonts/AvenirNext-DemiBoldItalic.ttf") format("truetype"), url("./_assets/fonts/AvenirNext-DemiBoldItalic.svg#AvenirNext-DemiBoldItalic") format("svg"), url("./_assets/fonts/AvenirNext-DemiBoldItalic.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNext-Heavy";
  src: url("./_assets/fonts/AvenirNext-Heavy.eot");
  src: url("./_assets/fonts/AvenirNext-Heavy.woff2") format("woff2"), url("./_assets/fonts/AvenirNext-Heavy.woff") format("woff"), url("./_assets/fonts/AvenirNext-Heavy.ttf") format("truetype"), url("./_assets/fonts/AvenirNext-Heavy.svg#AvenirNext-Heavy") format("svg"), url("./_assets/fonts/AvenirNext-Heavy.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNext-HeavyItalic";
  src: url("./_assets/fonts/AvenirNext-HeavyItalic.eot");
  src: url("./_assets/fonts/AvenirNext-HeavyItalic.woff2") format("woff2"), url("./_assets/fonts/AvenirNext-HeavyItalic.woff") format("woff"), url("./_assets/fonts/AvenirNext-HeavyItalic.ttf") format("truetype"), url("./_assets/fonts/AvenirNext-HeavyItalic.svg#AvenirNext-HeavyItalic") format("svg"), url("./_assets/fonts/AvenirNext-HeavyItalic.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNext-Italic";
  src: url("./_assets/fonts/AvenirNext-Italic.eot");
  src: url("./_assets/fonts/AvenirNext-Italic.woff2") format("woff2"), url("./_assets/fonts/AvenirNext-Italic.woff") format("woff"), url("./_assets/fonts/AvenirNext-Italic.ttf") format("truetype"), url("./_assets/fonts/AvenirNext-Italic.svg#AvenirNext-Italic") format("svg"), url("./_assets/fonts/AvenirNext-Italic.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNext-Medium";
  src: url("./_assets/fonts/AvenirNext-Medium.eot");
  src: url("./_assets/fonts/AvenirNext-Medium.woff2") format("woff2"), url("./_assets/fonts/AvenirNext-Medium.woff") format("woff"), url("./_assets/fonts/AvenirNext-Medium.ttf") format("truetype"), url("./_assets/fonts/AvenirNext-Medium.svg#AvenirNext-Medium") format("svg"), url("./_assets/fonts/AvenirNext-Medium.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNext-MediumItalic";
  src: url("./_assets/fonts/AvenirNext-MediumItalic.eot");
  src: url("./_assets/fonts/AvenirNext-MediumItalic.woff2") format("woff2"), url("./_assets/fonts/AvenirNext-MediumItalic.woff") format("woff"), url("./_assets/fonts/AvenirNext-MediumItalic.ttf") format("truetype"), url("./_assets/fonts/AvenirNext-MediumItalic.svg#AvenirNext-MediumItalic") format("svg"), url("./_assets/fonts/AvenirNext-MediumItalic.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNext-Regular";
  src: url("./_assets/fonts/AvenirNext-Regular.eot");
  src: url("./_assets/fonts/AvenirNext-Regular.woff2") format("woff2"), url("./_assets/fonts/AvenirNext-Regular.woff") format("woff"), url("./_assets/fonts/AvenirNext-Regular.ttf") format("truetype"), url("./_assets/fonts/AvenirNext-Regular.svg#AvenirNext-Regular") format("svg"), url("./_assets/fonts/AvenirNext-Regular.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNext-UltraLight";
  src: url("./_assets/fonts/AvenirNext-UltraLight.eot");
  src: url("./_assets/fonts/AvenirNext-UltraLight.woff2") format("woff2"), url("./_assets/fonts/AvenirNext-UltraLight.woff") format("woff"), url("./_assets/fonts/AvenirNext-UltraLight.ttf") format("truetype"), url("./_assets/fonts/AvenirNext-UltraLight.svg#AvenirNext-UltraLight") format("svg"), url("./_assets/fonts/AvenirNext-UltraLight.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNext-UltraLightItalic";
  src: url("./_assets/fonts/AvenirNext-UltraLightItalic.eot");
  src: url("./_assets/fonts/AvenirNext-UltraLightItalic.woff2") format("woff2"), url("./_assets/fonts/AvenirNext-UltraLightItalic.woff") format("woff"), url("./_assets/fonts/AvenirNext-UltraLightItalic.ttf") format("truetype"), url("./_assets/fonts/AvenirNext-UltraLightItalic.svg#AvenirNext-UltraLightItalic") format("svg"), url("./_assets/fonts/AvenirNext-UltraLightItalic.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
.body-text, td, * {
  font-family: AvenirNext-Medium;
  font-size: 9px;
  letter-spacing: 0;
}
.body-text .theme-light, td .theme-light, * .theme-light {
  color: #161318;
}
.body-text .theme-dark, td .theme-dark, * .theme-dark {
  color: #f5f5f5;
}

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  text-rendering: geometricPrecision;
}
* :focus {
  outline: 0px solid transparent;
}

html,
body {
  width: 100%;
  height: 100%;
  max-width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.theme-light html,
.theme-light body {
  background: #f4f4f4;
}
.theme-dark html,
.theme-dark body {
  background: #6d6e70;
}

td {
  font-size: 12px;
}

select {
  -webkit-appearance: none;
  /* Safari and Chrome */
  -moz-appearance: none;
  appearance: none;
}

#app,
#container-wrapper {
  overflow: hidden;
  height: inherit !important;
  width: 100%;
  margin: 0;
  padding: 0;
}

.titlebar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 25px;
  background: transparent;
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

.close-area-1 {
  position: absolute;
  top: 0;
  right: 25px;
  width: 25px;
  height: 25px;
  background: #46adb4;
  border-bottom-left-radius: 5px;
  -webkit-user-select: none;
  -webkit-app-region: no-drag;
  z-index: 1;
  cursor: pointer;
}

.close-area-2 {
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  height: 25px;
  background: #ef415e;
  -webkit-user-select: none;
  -webkit-app-region: no-drag;
  z-index: 1;
  cursor: pointer;
}

.theme-toggle {
  position: absolute;
  top: 0;
  right: 52px;
  width: 25px;
  height: 25px;
  -webkit-user-select: none;
  -webkit-app-region: no-drag;
  z-index: 1;
  cursor: pointer;
}

.close-area-1 > img,
.close-area-2 > img {
  cursor: pointer;
}

.active > svg {
  opacity: 0.5;
}

.close-area-2:hover {
  opacity: 0.8333;
  cursor: pointer;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

input,
select {
  text-transform: capitalize;
  padding-left: 7.5px;
  padding-right: 7.5px;
  box-sizing: border-box;
  cursor: pointer;
}

input:disabled,
select:disabled {
  cursor: default;
}

/*clear placeholder text on input focus*/
input:focus::-webkit-input-placeholder {
  opacity: 0;
}

input:focus {
  cursor: default;
}

.main-container {
  margin-left: 140px;
  /*width of navbar*/
  margin-top: 25px;
  /*height of transparent titlebar for dragging*/
  margin-bottom: 30px;
  margin-right: 0;
  width: calc(100% - 140px);
  height: 665px;
}

input,
select {
  /* Rectangle 163: */
  border: 2px solid rgba(0, 0, 0, 0.33);
  border-radius: 4px;
  cursor: pointer;
}
.theme-light input,
.theme-light select {
  background: #f5f5f5;
}
.theme-dark input,
.theme-dark select {
  background: #222;
  background: #f4f4f4;
}
.theme-dark input,
.theme-dark select {
  background: #f5f5f5;
}
.theme-dark input,
.theme-dark select {
  background: #6d6e70;
}

/*clear placeholder text on input focus*/
input:focus::-webkit-input-placeholder {
  opacity: 0;
}

input:focus {
  cursor: default;
}

/* GENERIC CLASSES */
.text-header {
  margin: 0;
  font-family: AvenirNext-DemiBold;
  font-size: 48px;
  color: #6d6e70;
  letter-spacing: 0.01px;
}

.body-text {
  font-size: 12px;
  letter-spacing: 0;
}
.body-text .theme-light {
  color: #f0405e;
}
.body-text .theme-dark {
  color: #f0405e;
}

.flex-container {
  height: 100%;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

#task-header {
  position: absolute;
  top: 26px;
  left: 140px;
  width: 118px;
  height: 66px;
}

button:enabled:hover {
  opacity: 0.8333;
}

/* END GENERIC CLASSES*/
