$themes: (
  light: (
    backgroundColor: #f4f4f4,
    textColor: #161318,
    buttonTextColor: #efefef,
    buttonColorPrimary: #f0405e,
    buttonColorSecondary: #46adb4,
  ),
  dark: (
    backgroundColor: #6d6e70,
    textColor: #f4f4f4,
    buttonTextColor: #efefef,
    buttonColorPrimary: #f0405e,
    buttonColorSecondary: #46adb4,
  ),
);
