/* Navbar */

.nav-container {
    height: 100%;
    width: 112px; /* 2px extra for border*/
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
}
.react-bodymovin-container {
    position: absolute;
    top: 28px;
    left: 19px;
    width: 74px;
    height: 74px;
}

#vert-line {
    position: absolute;
    display: block;
    top: 8.5px;
    left: 110px;
    height: 700.28px;
    width: 1px;
    border-left: 2px solid #EFEFEF;
}

.active {
    opacity: 0.5;
}

#icon-tasks {
    position:absolute;
    top:175px;
    left:32px;
    width:61px;
    height:49px;
    cursor: pointer;
}

#icon-profiles {
    position:absolute;
    top:271px;
    left:32px;
    width:44px;
    height:43px;
    cursor: pointer;
}

#icon-server {
    position:absolute;
    top:360px;
    left:32px;
    width:42px;
    height:46px;
    cursor: pointer;
}

#icon-settings {
    position:absolute;
    top:445px;
    left:32px;
    width:40px;
    height:60px;
    cursor: pointer;
}

/* TEMPORARY */
#icon-tasks1 {
    position: absolute;
    top:520px;
    left:29px;
    width:61px;
    height:49px;
    cursor: pointer;
}

#icon-information {
    position:absolute;
    top:692px;
    left: 26px;
    width: 12px;
    height: 12px;
    cursor: pointer;
}

#icon-deactivate {
    position:absolute;
    top:692px;
    left:48px;
    width:17px;
    height:12px;
    cursor: pointer;
}

#icon-logout {
    position:absolute;
    top:692px;
    left:72px;
    width:12px;
    height:12px;
    cursor: pointer;
}