/* Navbar */

.nav {
    height: 100%;
    width: 70px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 10px;
    background: rgba(236, 235, 228, .1);
    border-right: 4px solid rgba(0,0,0,0.02);
    display: flex;
    flex-direction: column;
}

a {
    cursor: pointer;
}

.BottomIcons {
    position: absolute;
    bottom: 16px;
    left: 5px;
    flex-direction: row;
    justify-content: center;
}

.App-logo {
    padding: 30px 0 30px 0;
    max-height: 50px;
    -webkit-animation: App-logo-spin 7.5s infinite linear; /* Safari 4+ */
    -moz-animation:    App-logo-spin 7.5s infinite linear; /* Fx 5+ */
    -o-animation:      App-logo-spin 7.5s infinite linear; /* Opera 12+ */
    animation:         App-logo-spin 7.5s infinite linear; /* IE 10+, Fx 29+ */
}

.App-icon-first {
    margin: 55px 0 15px 0;
    max-height: 45px;
    cursor: pointer;
}

.App-icons {
    margin: 25px 0 15px 0;
    max-height: 45px;
    cursor: pointer;
}


.App-icons-btm {
    padding: 0 4px 0 4px;
    max-height: 12px;
}

@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}