// Proxy Options Specific Rules
@import '_mixins';
@import '../themes';

.server {
  .server-options {
    border: 1px solid #f0405e;
    border-radius: 3px;

    &__section-header {
      padding-top: 71px;
    }

    &__label {
      @include server-select-font();
      height: 12px;
      margin-bottom: 3px;
      margin-top: 9px;
      padding-left: 0.5px;
    }

    &__input-group {
      margin: 0 11.5px !important;
      padding-bottom: 2px;
    }

    &__input {
      @include server-select-font();

      &--bordered {
        border: 1px solid #f0405e;
      }

      &--field {
        width: 234px;
        height: 29px;
        &:disabled {
          background: rgb(229, 229, 229);
          cursor: not-allowed;
        }
      }

      &--select {
        width: 234px;
        height: 29px;
      }
    }

    &__submit-row {
      align-self: flex-end;
    }

    &__create {
      @include button-base();
      margin-right: -3px;
      @include themify($themes) {
        background: themed('buttonColorPrimary');
      }
    }

    &__destroy {
      @include button-base();
      margin-right: -17px;
      @include themify($themes) {
        background: themed('buttonColorSecondary');
      }
    }
  }
}
