// AWS Login Specific Rules
@import '_mixins';

.server {
  .server-credentials {
    margin-top: 1px;
    border: 1px solid #f0405e;
    border-radius: 3px;

    &__label {
      @include server-select-font();
      height: 12px;
      margin-bottom: 3px;
      margin-top: 9px;
      padding-left: 0.5px;
    }

    &__input-group {
      margin: 0 11.5px !important;
      padding-top: -1px;
      padding-bottom: 2px;

      &--middle {
        margin: 0 11.5px !important;
        padding-top: 5px;
        padding-bottom: 2px;
      }
    }

    &__input {
      @include server-select-font();

      &--bordered {
        border: 1px solid #f0405e;
      }

      &--field {
        width: 252px;
        height: 29px;
        &:disabled {
          cursor: not-allowed;
        }
      }

      &--name {
        width: 119px;
        height: 29px;
        margin-top: 12px;
        &:disabled {
          cursor: not-allowed;
        }
      }
    }

    &__submit-row {
      align-self: flex-end;
    }

    &__submit {
      margin-top: 12px;
      margin-right: 2px;
      width: 83px;
      height: 29px;
      cursor: pointer;
      background: #f0405e;
      border: none;
      border-radius: 3px;
      font-family: AvenirNext-Medium;
      font-size: 12px;
      color: #efefef;
      letter-spacing: 0;
    }
  }
}
