@import '../themes';

// Shared Mixins
@mixin image() {
  cursor: pointer;
  vertical-align: middle;
}

@mixin server-select-font() {
  font-family: AvenirNext-Medium;
  font-size: 9.5px;
  color: #161318;
  letter-spacing: 0;
}

@mixin button-base {
  width: 110px;
  height: 29px;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  font-family: AvenirNext-Medium;
  font-size: 12px;
  letter-spacing: 0;
  @include themify($themes) {
    color: themed('buttonPrimaryText');
  }

  &:hover {
    opacity: 0.8333;
  }
}
