// Proxy Options Specific Rules
@import '_mixins';

.server {
  .proxy-options {
    margin-left: -10px;
    height: 219px;
    width: 277px;
    border: 1px solid #f0405e;
    border-radius: 3px;

    &__section-header {
      padding-top: 21px;
    }

    &__label {
      @include server-select-font();
      height: 12px;
      margin-bottom: 3px;
      margin-top: 9px;
      padding-left: 0.5px;
    }

    &__input-group {
      margin: 0 11.5px !important;
      padding-bottom: 2px;
    }

    &__input {
      @include server-select-font();

      &--bordered {
        border: 1px solid #f0405e;
      }

      &--number {
        width: 60px;
        height: 29px;
      }

      &--credentials {
        width: 176px;
        height: 29px;
      }

      &--location {
        width: 252px;
        height: 29px;
      }

      &--field {
        width: 118.3px;
        height: 29px;
        @include themify($themes) {
          background: themed('inputBackground');
        }
        &:disabled {
          @include themify($themes) {
            background: themed('inputBackgroundDisabled');
          }
          cursor: not-allowed;
        }
      }
    }

    &__submit-row {
      align-self: flex-end;
    }

    &__generate {
      width: 83px;
      height: 29px;
      cursor: pointer;
      background: #f0405e;
      border: none;
      border-radius: 3px;
      font-family: AvenirNext-Medium;
      font-size: 12px;
      color: #efefef;
      letter-spacing: 0;

      &:hover {
        opacity: 0.8333;
      }

      &:disabled {
        cursor: not-allowed;
      }
    }

    &__destroy {
      width: 83px;
      height: 29px;
      cursor: pointer;
      background: #46adb4;
      border: none;
      border-radius: 3px;
      font-family: AvenirNext-Medium;
      font-size: 12px;
      color: #efefef;
      letter-spacing: 0;

      &:hover {
        opacity: 0.8333;
      }

      &:disabled {
        cursor: not-allowed;
      }
    }
  }
}
