// Tasks Table Specific Rules
@import '_mixins';
@import '../themes';

%server-table__text-field {
  text-overflow: ellipsis;
}

%server-table__header__field {
  margin: 0;

  & > p {
    @include themify($themes) {
      color: themed('textColor');
    }
    font-family: AvenirNext-Medium;
    font-size: 12px;
    letter-spacing: 0;
    margin: 5px 0;
  }
}

.server {
  .server-table-container {
    width: 823px;
    height: 323px;
    margin-left: -1px !important;
    border: 1px solid #f0405e;
    border-radius: 3px;
    margin: 0 !important;

    .server-table__wrapper {
      min-width: 0;
      width: 100%;
      overflow: hidden;
      display: block;
    }

    .server-table__header {
      margin: 0;
      padding-bottom: 1px;
      height: 26px;
      min-height: 26px;

      .server-table__header__type {
        @extend %server-table__header__field;
        margin-left: -20px;
        width: 99px;
      }

      .server-table__header__size {
        @extend %server-table__header__field;
        width: 45px;
      }

      .server-table__header__location {
        @extend %server-table__header__field;
        width: 55px;
      }

      .server-table__header__charges {
        @extend %server-table__header__field;
        width: 15px;
      }

      .server-table__header__status {
        @extend %server-table__header__field;
        width: 35px;
      }

      .server-table__header__actions {
        @extend %server-table__header__field;
        width: 50px;
      }
    }
  }

  .server-table {
    border-collapse: collapse;
    border-spacing: 0 10px;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;

    &__section-header {
      margin-top: -9px;
      margin-left: -1px !important;
    }

    .blank {
      padding-left: 10px;
    }

    .extend {
      padding-right: 4px;
    }

    .pad-left {
      padding-left: 5px;
      padding-bottom: 0;
    }

    .server-row-container {
      border-bottom-style: solid;
      border-bottom-width: 1px;
      @include themify($themes) {
        border-bottom-color: themed('tableRowBottomBorderColow');
      }

      .server-row {
        display: flex;
        height: 30px;

        img {
          @include image();
        }

        &__type {
          margin-left: -2px;
          width: 135px;
        }

        &__size {
          @extend %server-table__text-field;
          width: 80px;
        }

        &__location {
          text-overflow: ellipsis;
          width: 100px;
        }

        &__charges {
          @extend %server-table__text-field;
          margin-left: 8px;
          width: 30px;
          & > p {
            text-align: center;
          }
        }

        &__status {
          @extend %server-table__text-field;
          width: 67px;
        }

        &__actions {
          width: 50px;

          &__button {
            padding-bottom: 2px;
            margin-right: 4px;
            width: 16px;
          }

          &__button:nth-child(1) {
            margin-left: 2px;
          }

          &__button:nth-child(2) {
            margin-bottom: 2px;
          }
        }
      }
    }
  }
}
