// Tasks Table Specific Rules
@import '_mixins';
@import '../themes';

%server-table__text-field {
  text-overflow: ellipsis;
}

%server-table__header__field {
  margin: 0;

  & > p {
    @include themify($themes) {
      color: themed('textColor');
    }
    font-family: AvenirNext-Medium;
    font-size: 12px;
    letter-spacing: 0;
    margin: 5px 0;
  }
}

.server {
  .server-table-container {
    width: 523px;
    height: 531px;
    @include themify($themes) {
      border-color: themed('tableBorderColor');
    }
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    margin: 0 !important;
  }

  .server-log {
    margin-top: 50px;
  }

  .server-table {
    border-collapse: collapse;
    border-spacing: 0 10px;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;

    &__wrapper {
      padding: 5px;
      min-width: 0;
      width: 100%;
      overflow: hidden;
      display: block;
    }

    &__section-header {
      margin-top: -9px;
      margin-left: -1px !important;
    }

    &__header {
      margin: 0;
      padding-bottom: 1px;
      height: 26px;
      min-height: 26px;

      &--account {
        @extend %server-table__header__field;
        width: 45px;
      }

      &--region {
        @extend %server-table__header__field;
        width: 55px;
      }

      &--proxy {
        @extend %server-table__header__field;
        width: 35px;
      }

      &--speed {
        @extend %server-table__header__field;
        width: 55px;
      }

      &--actions {
        @extend %server-table__header__field;
        width: 55px;
      }
    }

    .blank {
      padding-left: 10px;
    }

    .extend {
      padding-right: 4px;
    }

    .pad-left {
      padding-left: 5px;
      padding-bottom: 0;
    }

    .proxy-row-container {
      border-bottom-style: solid;
      border-bottom-width: 1px;
      @include themify($themes) {
        border-bottom-color: themed('tableRowBottomBorderColow');
      }

      .proxy-log {
        display: flex;
        height: 30px;

        &__row {
          &--status,
          > * {
            width: 10px;
            height: 10px;
          }

          &--account {
            width: 15px;
            text-overflow: ellipse;
          }

          &--region {
            width: 25px;
          }

          &--proxy {
            width: 55px;
          }

          &--speed {
            width: 20px;
          }

          &--actions {
            width: 55px;

            &__button {
              padding-bottom: 2px;
              margin-right: 4px;
              width: 16px;
            }

            &__button:nth-child(1) {
              margin-left: 2px;
            }

            &__button:nth-child(2) {
              margin-bottom: 2px;
            }
          }
        }
      }
    }
  }
}
