.container {
  margin: 0 15px;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-around;
  margin: 0 -15px;
}
.row--start {
  justify-content: flex-start;
}
.row--end {
  justify-content: flex-end;
}
.row--between {
  justify-content: space-between;
}
.row--expand {
  flex: 1 1 auto;
}
.row--gutter-left {
  margin-left: 0 !important;
}
.row--gutter-right {
  margin-right: 0 !important;
}
.row--gutter {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-around;
  margin: 0 15px;
}
.col--start {
  justify-content: flex-start;
}
.col--end {
  justify-content: flex-end;
}
.col--between {
  justify-content: space-between;
}
.col--expand {
  flex: 1 1 auto;
}
.col--no-gutter-left {
  margin-left: 0 !important;
}
.col--no-gutter-right {
  margin-right: 0 !important;
}
.col--no-gutter {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

/*
 * Implementation of themes
 */
.server .server-credentials {
  margin-top: 1px;
  height: 219px;
  width: 277px;
  border: 1px solid #f0405e;
  border-radius: 3px;
}
.server .server-credentials__label {
  font-family: AvenirNext-Medium;
  font-size: 9.5px;
  letter-spacing: 0;
  height: 12px;
  margin-bottom: 3px;
  margin-top: 9px;
  padding-left: 0.5px;
}
.theme-light .server .server-credentials__label {
  color: #161318;
}
.theme-dark .server .server-credentials__label {
  color: #efefef;
}
.server .server-credentials__input-group {
  margin: 0 11.5px !important;
  padding-top: -1px;
  padding-bottom: 2px;
}
.server .server-credentials__input {
  font-family: AvenirNext-Medium;
  font-size: 9.5px;
  letter-spacing: 0;
}
.theme-light .server .server-credentials__input {
  color: #161318;
}
.theme-dark .server .server-credentials__input {
  color: #efefef;
}
.server .server-credentials__input--bordered {
  border: 1px solid #f0405e;
}
.server .server-credentials__input--field {
  width: 252px;
  height: 29px;
}
.server .server-credentials__input--field:disabled {
  background: #e5e5e5;
  cursor: not-allowed;
}
.server .server-credentials__submit-row {
  align-self: flex-end;
}
.server .server-credentials__submit {
  margin-right: -1px;
  width: 83px;
  height: 29px;
  cursor: pointer;
  background: #f0405e;
  border: none;
  border-radius: 3px;
  font-family: AvenirNext-Medium;
  font-size: 12px;
  color: #efefef;
  letter-spacing: 0;
}

/*
 * Implementation of themes
 */
/*
 * Implementation of themes
 */
.server .server-options {
  height: 219px;
  width: 258px;
  border: 1px solid #f0405e;
  border-radius: 3px;
}
.server .server-options__section-header {
  padding-top: 71px;
}
.server .server-options__label {
  font-family: AvenirNext-Medium;
  font-size: 9.5px;
  letter-spacing: 0;
  height: 12px;
  margin-bottom: 3px;
  margin-top: 9px;
  padding-left: 0.5px;
}
.theme-light .server .server-options__label {
  color: #161318;
}
.theme-dark .server .server-options__label {
  color: #efefef;
}
.server .server-options__input-group {
  margin: 0 11.5px !important;
  padding-bottom: 2px;
}
.server .server-options__input {
  font-family: AvenirNext-Medium;
  font-size: 9.5px;
  letter-spacing: 0;
}
.theme-light .server .server-options__input {
  color: #161318;
}
.theme-dark .server .server-options__input {
  color: #efefef;
}
.server .server-options__input--bordered {
  border: 1px solid #f0405e;
}
.server .server-options__input--field {
  width: 234px;
  height: 29px;
}
.server .server-options__input--field:disabled {
  background: #e5e5e5;
  cursor: not-allowed;
}
.server .server-options__input--select {
  width: 234px;
  height: 29px;
}
.server .server-options__submit-row {
  align-self: flex-end;
}
.server .server-options__create {
  width: 110px;
  height: 29px;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  font-family: AvenirNext-Medium;
  font-size: 12px;
  letter-spacing: 0;
  margin-right: -3px;
}
.theme-light .server .server-options__create {
  color: #f4f4f4;
}
.theme-dark .server .server-options__create {
  color: #f4f4f4;
}
.server .server-options__create:hover {
  opacity: 0.8333;
}
.server .server-options__create:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.theme-light .server .server-options__create {
  background: #f0405e;
}
.theme-dark .server .server-options__create {
  background: #f0405e;
}
.server .server-options__destroy {
  width: 110px;
  height: 29px;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  font-family: AvenirNext-Medium;
  font-size: 12px;
  letter-spacing: 0;
  margin-right: -17px;
}
.theme-light .server .server-options__destroy {
  color: #f4f4f4;
}
.theme-dark .server .server-options__destroy {
  color: #f4f4f4;
}
.server .server-options__destroy:hover {
  opacity: 0.8333;
}
.server .server-options__destroy:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.theme-light .server .server-options__destroy {
  background: #46adb4;
}
.theme-dark .server .server-options__destroy {
  background: #46adb4;
}

/*
 * Implementation of themes
 */
.server .proxy-options {
  margin-left: -10px;
  height: 219px;
  width: 277px;
  border: 1px solid #f0405e;
  border-radius: 3px;
}
.server .proxy-options__section-header {
  padding-top: 21px;
}
.server .proxy-options__label {
  font-family: AvenirNext-Medium;
  font-size: 9.5px;
  letter-spacing: 0;
  height: 12px;
  margin-bottom: 3px;
  margin-top: 9px;
  padding-left: 0.5px;
}
.theme-light .server .proxy-options__label {
  color: #161318;
}
.theme-dark .server .proxy-options__label {
  color: #efefef;
}
.server .proxy-options__input-group {
  margin: 0 11.5px !important;
  padding-bottom: 2px;
}
.server .proxy-options__input {
  font-family: AvenirNext-Medium;
  font-size: 9.5px;
  letter-spacing: 0;
}
.theme-light .server .proxy-options__input {
  color: #161318;
}
.theme-dark .server .proxy-options__input {
  color: #efefef;
}
.server .proxy-options__input--bordered {
  border: 1px solid #f0405e;
}
.server .proxy-options__input--number {
  width: 60px;
  height: 29px;
}
.server .proxy-options__input--credentials {
  width: 176px;
  height: 29px;
}
.server .proxy-options__input--location {
  width: 252px;
  height: 29px;
}
.server .proxy-options__input--field {
  width: 118.3px;
  height: 29px;
}
.theme-light .server .proxy-options__input--field {
  background: #f4f4f4;
}
.theme-dark .server .proxy-options__input--field {
  background: #393c3f;
}
.server .proxy-options__input--field:disabled {
  cursor: not-allowed;
}
.theme-light .server .proxy-options__input--field:disabled {
  background: #dcdcdc;
}
.theme-dark .server .proxy-options__input--field:disabled {
  background: #262626;
}
.server .proxy-options__submit-row {
  align-self: flex-end;
}
.server .proxy-options__generate {
  width: 83px;
  height: 29px;
  cursor: pointer;
  background: #f0405e;
  border: none;
  border-radius: 3px;
  font-family: AvenirNext-Medium;
  font-size: 12px;
  color: #efefef;
  letter-spacing: 0;
}
.server .proxy-options__generate:hover {
  opacity: 0.8333;
}
.server .proxy-options__generate:disabled {
  cursor: not-allowed;
}
.server .proxy-options__destroy {
  width: 83px;
  height: 29px;
  cursor: pointer;
  background: #46adb4;
  border: none;
  border-radius: 3px;
  font-family: AvenirNext-Medium;
  font-size: 12px;
  color: #efefef;
  letter-spacing: 0;
}
.server .proxy-options__destroy:hover {
  opacity: 0.8333;
}
.server .proxy-options__destroy:disabled {
  cursor: not-allowed;
}

/*
 * Implementation of themes
 */
/*
 * Implementation of themes
 */
.server .server-table .server-row-container .server-row__status, .server .server-table .server-row-container .server-row__charges, .server .server-table .server-row-container .server-row__size {
  text-overflow: ellipsis;
}

.server .server-table-container .server-table__header--actions, .server .server-table-container .server-table__header--charges, .server .server-table-container .server-table__header--ip, .server .server-table-container .server-table__header--location {
  margin: 0;
}
.server .server-table-container .server-table__header--actions > p, .server .server-table-container .server-table__header--charges > p, .server .server-table-container .server-table__header--ip > p, .server .server-table-container .server-table__header--location > p {
  font-family: AvenirNext-Medium;
  font-size: 12px;
  letter-spacing: 0;
  margin: 5px 0;
}
.theme-light .server .server-table-container .server-table__header--actions > p, .server .server-table-container .theme-light .server-table__header--actions > p, .theme-light .server .server-table-container .server-table__header--charges > p, .server .server-table-container .theme-light .server-table__header--charges > p, .theme-light .server .server-table-container .server-table__header--ip > p, .server .server-table-container .theme-light .server-table__header--ip > p, .theme-light .server .server-table-container .server-table__header--location > p, .server .server-table-container .theme-light .server-table__header--location > p {
  color: #161318;
}
.theme-dark .server .server-table-container .server-table__header--actions > p, .server .server-table-container .theme-dark .server-table__header--actions > p, .theme-dark .server .server-table-container .server-table__header--charges > p, .server .server-table-container .theme-dark .server-table__header--charges > p, .theme-dark .server .server-table-container .server-table__header--ip > p, .server .server-table-container .theme-dark .server-table__header--ip > p, .theme-dark .server .server-table-container .server-table__header--location > p, .server .server-table-container .theme-dark .server-table__header--location > p {
  color: #efefef;
}

.server .server-table-container {
  width: 523px;
  height: 531px;
  margin-left: -1px !important;
  border: 1px solid #f0405e;
  border-radius: 3px;
  margin: 0 !important;
}
.server .server-table-container .server-table__wrapper {
  min-width: 0;
  width: 100%;
  overflow: hidden;
  display: block;
}
.server .server-table-container .server-table__header {
  margin: 0;
  padding-bottom: 1px;
  height: 26px;
  min-height: 26px;
}
.server .server-table-container .server-table__header--location {
  width: 55px;
}
.server .server-table-container .server-table__header--ip {
  width: 55px;
}
.server .server-table-container .server-table__header--charges {
  width: 55px;
}
.server .server-table-container .server-table__header--actions {
  width: 55px;
}
.server .server-log {
  margin-top: 50px;
}
.server .server-table {
  border-collapse: collapse;
  border-spacing: 0 10px;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
.server .server-table__section-header {
  margin-top: -9px;
  margin-left: -1px !important;
}
.server .server-table .blank {
  padding-left: 10px;
}
.server .server-table .extend {
  padding-right: 4px;
}
.server .server-table .pad-left {
  padding-left: 5px;
  padding-bottom: 0;
}
.server .server-table .server-row-container {
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.theme-light .server .server-table .server-row-container {
  border-bottom-color: #cbcbcb;
}
.theme-dark .server .server-table .server-row-container {
  border-bottom-color: #6d6e70;
}
.server .server-table .server-row-container .server-row {
  display: flex;
  height: 30px;
}
.server .server-table .server-row-container .server-row img {
  cursor: pointer;
  vertical-align: middle;
}
.server .server-table .server-row-container .server-row__type {
  margin-left: -2px;
  width: 135px;
}
.server .server-table .server-row-container .server-row__size {
  width: 80px;
}
.server .server-table .server-row-container .server-row__location {
  text-overflow: ellipsis;
  width: 100px;
}
.server .server-table .server-row-container .server-row__charges {
  margin-left: 8px;
  width: 30px;
}
.server .server-table .server-row-container .server-row__charges > p {
  text-align: center;
}
.server .server-table .server-row-container .server-row__status {
  width: 67px;
}
.server .server-table .server-row-container .server-row__actions {
  width: 50px;
}
.server .server-table .server-row-container .server-row__actions__button {
  padding-bottom: 2px;
  margin-right: 4px;
  width: 16px;
}
.server .server-table .server-row-container .server-row__actions__button:nth-child(1) {
  margin-left: 2px;
}
.server .server-table .server-row-container .server-row__actions__button:nth-child(2) {
  margin-bottom: 2px;
}

.view-line {
  margin: 0;
  border: 1px solid #edbcc6;
  flex: 1 1 100%;
}

.section-header {
  max-height: 32px;
  margin: 6px 0;
}
.section-header.section-header--no-top {
  margin-top: 0;
}

.server__title {
  padding-top: 1px;
  padding-bottom: 3px;
}

/* Temporary */
.temp-debug {
  background-color: gray;
}
