@import './grid.css';

* {
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  letter-spacing: 0;
  animation: fadein 0.5s;
  border-radius: 4px !important;
}

#bodymovin {
    width: 250px;
    height: 250px;
    position: relative;
    margin-left: 26.5% !important;
}

#bodymovin > div {
  width: 100px;
  height: 100px;
  display: block;
  transform-origin: 0px 0px 0px;
  backface-visibility: visible;
  transform-style: flat;
  overflow: hidden;
  transform: matrix3d(2.5, 0, 0, 0, 0, 2.5, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}

body, html {
  height: 100%;
  width:100%;
  margin: 0;
  border: transparent;
  background: #edbcc6;
  overflow: hidden;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
