@import './grid.css';

@font-face {
  font-family: 'AvenirNext-Bold';
  src: url('../assets/fonts/AvenirNext-Bold.eot');
  src: url('../assets/fonts/AvenirNext-Bold.woff2') format('woff2'),
    url('../assets/fonts/AvenirNext-Bold.woff') format('woff'),
    url('../assets/fonts/AvenirNext-Bold.ttf') format('truetype'),
    url('../assets/fonts/AvenirNext-Bold.svg#AvenirNext-Bold') format('svg'),
    url('../assets/fonts/AvenirNext-Bold.eot?#iefix')
      format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirNext-BoldItalic';
  src: url('../assets/fonts/AvenirNext-BoldItalic.eot');
  src: url('../assets/fonts/AvenirNext-BoldItalic.woff2') format('woff2'),
    url('../assets/fonts/AvenirNext-BoldItalic.woff') format('woff'),
    url('../assets/fonts/AvenirNext-BoldItalic.ttf') format('truetype'),
    url('../assets/fonts/AvenirNext-BoldItalic.svg#AvenirNext-BoldItalic')
      format('svg'),
    url('../assets/fonts/AvenirNext-BoldItalic.eot?#iefix')
      format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirNext-DemiBold';
  src: url('../assets/fonts/AvenirNext-DemiBold.eot');
  src: url('../assets/fonts/AvenirNext-DemiBold.woff2') format('woff2'),
    url('../assets/fonts/AvenirNext-DemiBold.woff') format('woff'),
    url('../assets/fonts/AvenirNext-DemiBold.ttf') format('truetype'),
    url('../assets/fonts/AvenirNext-DemiBold.svg#AvenirNext-DemiBold')
      format('svg'),
    url('../assets/fonts/AvenirNext-DemiBold.eot?#iefix')
      format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirNext-DemiBoldItalic';
  src: url('../assets/fonts/AvenirNext-DemiBoldItalic.eot');
  src: url('../assets/fonts/AvenirNext-DemiBoldItalic.woff2') format('woff2'),
    url('../assets/fonts/AvenirNext-DemiBoldItalic.woff') format('woff'),
    url('../assets/fonts/AvenirNext-DemiBoldItalic.ttf') format('truetype'),
    url('../assets/fonts/AvenirNext-DemiBoldItalic.svg#AvenirNext-DemiBoldItalic')
      format('svg'),
    url('../assets/fonts/AvenirNext-DemiBoldItalic.eot?#iefix')
      format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirNext-Heavy';
  src: url('../assets/fonts/AvenirNext-Heavy.eot');
  src: url('../assets/fonts/AvenirNext-Heavy.woff2') format('woff2'),
    url('../assets/fonts/AvenirNext-Heavy.woff') format('woff'),
    url('../assets/fonts/AvenirNext-Heavy.ttf') format('truetype'),
    url('../assets/fonts/AvenirNext-Heavy.svg#AvenirNext-Heavy') format('svg'),
    url('../assets/fonts/AvenirNext-Heavy.eot?#iefix')
      format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirNext-HeavyItalic';
  src: url('../assets/fonts/AvenirNext-HeavyItalic.eot');
  src: url('../assets/fonts/AvenirNext-HeavyItalic.woff2') format('woff2'),
    url('../assets/fonts/AvenirNext-HeavyItalic.woff') format('woff'),
    url('../assets/fonts/AvenirNext-HeavyItalic.ttf') format('truetype'),
    url('../assets/fonts/AvenirNext-HeavyItalic.svg#AvenirNext-HeavyItalic')
      format('svg'),
    url('../assets/fonts/AvenirNext-HeavyItalic.eot?#iefix')
      format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirNext-Italic';
  src: url('../assets/fonts/AvenirNext-Italic.eot');
  src: url('../assets/fonts/AvenirNext-Italic.woff2') format('woff2'),
    url('../assets/fonts/AvenirNext-Italic.woff') format('woff'),
    url('../assets/fonts/AvenirNext-Italic.ttf') format('truetype'),
    url('../assets/fonts/AvenirNext-Italic.svg#AvenirNext-Italic') format('svg'),
    url('../assets/fonts/AvenirNext-Italic.eot?#iefix')
      format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirNext-Medium';
  src: url('../assets/fonts/AvenirNext-Medium.eot');
  src: url('../assets/fonts/AvenirNext-Medium.woff2') format('woff2'),
    url('../assets/fonts/AvenirNext-Medium.woff') format('woff'),
    url('../assets/fonts/AvenirNext-Medium.ttf') format('truetype'),
    url('../assets/fonts/AvenirNext-Medium.svg#AvenirNext-Medium') format('svg'),
    url('../assets/fonts/AvenirNext-Medium.eot?#iefix')
      format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirNext-MediumItalic';
  src: url('../assets/fonts/AvenirNext-MediumItalic.eot');
  src: url('../assets/fonts/AvenirNext-MediumItalic.woff2') format('woff2'),
    url('../assets/fonts/AvenirNext-MediumItalic.woff') format('woff'),
    url('../assets/fonts/AvenirNext-MediumItalic.ttf') format('truetype'),
    url('../assets/fonts/AvenirNext-MediumItalic.svg#AvenirNext-MediumItalic')
      format('svg'),
    url('../assets/fonts/AvenirNext-MediumItalic.eot?#iefix')
      format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirNext-Regular';
  src: url('../assets/fonts/AvenirNext-Regular.eot');
  src: url('../assets/fonts/AvenirNext-Regular.woff2') format('woff2'),
    url('../assets/fonts/AvenirNext-Regular.woff') format('woff'),
    url('../assets/fonts/AvenirNext-Regular.ttf') format('truetype'),
    url('../assets/fonts/AvenirNext-Regular.svg#AvenirNext-Regular')
      format('svg'),
    url('../assets/fonts/AvenirNext-Regular.eot?#iefix')
      format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirNext-UltraLight';
  src: url('../assets/fonts/AvenirNext-UltraLight.eot');
  src: url('../assets/fonts/AvenirNext-UltraLight.woff2') format('woff2'),
    url('../assets/fonts/AvenirNext-UltraLight.woff') format('woff'),
    url('../assets/fonts/AvenirNext-UltraLight.ttf') format('truetype'),
    url('../assets/fonts/AvenirNext-UltraLight.svg#AvenirNext-UltraLight')
      format('svg'),
    url('../assets/fonts/AvenirNext-UltraLight.eot?#iefix')
      format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirNext-UltraLightItalic';
  src: url('../assets/fonts/AvenirNext-UltraLightItalic.eot');
  src: url('../assets/fonts/AvenirNext-UltraLightItalic.woff2') format('woff2'),
    url('../assets/fonts/AvenirNext-UltraLightItalic.woff') format('woff'),
    url('../assets/fonts/AvenirNext-UltraLightItalic.ttf') format('truetype'),
    url('../assets/fonts/AvenirNext-UltraLightItalic.svg#AvenirNext-UltraLightItalic')
      format('svg'),
    url('../assets/fonts/AvenirNext-UltraLightItalic.eot?#iefix')
      format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: AvenirNext-Medium;
  letter-spacing: 0;
  animation: fadein 0.5s;
  border-radius: 4px !important;
}

#bodymovin {
    width: 250px;
    height: 250px;
    position: relative;
    margin-left: 26.5% !important;
}

#bodymovin > div {
  width: 100px;
  height: 100px;
  display: block;
  transform-origin: 0px 0px 0px;
  backface-visibility: visible;
  transform-style: flat;
  overflow: hidden;
  transform: matrix3d(2.5, 0, 0, 0, 0, 2.5, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}

body, html {
  height: 100%;
  width:100%;
  margin: 0;
  border: transparent;
  background: #edbcc6;
  overflow: hidden;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
