@font-face {
  font-family: AvenirNext-Regular;
  src:url(./_assets/fonts/AvenirNext-Regular-08.ttf);
}

@font-face {
  font-family: AvenirNext-Medium;
  src:url(./_assets/fonts/AvenirNext-Medium-06.ttf);
}

@font-face {
  font-family: AvenirNext-UltraLight;
  src:url(./_assets/fonts/AvenirNext-UltraLight-11.ttf);
}

@font-face {
  font-family: AvenirNext-Bold;
  src:url(./_assets/fonts/AvenirNext-Bold-01.ttf);
}

@font-face {
  font-family: AvenirNext-DemiBold;
  src: url(./_assets/fonts/AvenirNext-DemiBold-03.ttf);
}

@font-face {
  font-family: AvenirNext-Heavy;
  src:url(./_assets/fonts/AvenirNext-Heavy-09.ttf);
}

@font-face {
  font-family: AvenirNext-Italic;
  src:url(./_assets/fonts/AvenirNext-Italic-05.ttf);
}

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

*:focus {
  outline: 0px solid transparent;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: AvenirNext-Regular;
  font-size: 100%;
  padding:0;
  margin:0;
  background: #F5F5F5;
  overflow: hidden;
}

input, a, h1, h2, h3, h4, h5, h6, p, link {
  font-family: AvenirNext-Medium;
  font-size: 9px;
  color: #161318;
  letter-spacing: 0;
}

td {
  font-family: AvenirNext-Medium;
  font-size: 12px;
  color: #161318;
  letter-spacing: 0;
}

select {
  -webkit-appearance:none; /* Safari and Chrome */
  -moz-appearance: none;
  appearance:none;
}

select *.opt {
  background: #161318 !important;
}

#app, #container-wrapper {
  overflow: hidden;
  height:inherit !important;
  width:100%;
  margin: 0;
  padding: 0;
}

.titlebar {
  position: absolute;
  top:0;
  left:0;
  right:0;
  height:25px;
  color: transparent;
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

.close-area-1 {
  position: absolute;
  top: 0;
  right: 25px;
  width: 25px;
  height: 25px;
  background: #46ADB4;
  border-bottom-left-radius: 5px;
  -webkit-user-select: none;
  -webkit-app-region: no-drag;
  z-index: 1;
  cursor: pointer;
}

.active {
  opacity: 0.5;
}

.close-area-1:hover, .close-area-2:hover {
  opacity: 0.5;
  cursor: pointer;
}

.close-area-2 {
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  height: 25px;
  background: #EF415E;
  -webkit-user-select: none;
  -webkit-app-region: no-drag;
  z-index: 1;
  cursor: pointer;
}

.close-area:hover {
  /* background: #F0405E; */
  cursor: pointer;
  opacity: 1;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

input, select {
  text-transform: capitalize;
  padding-left: 7.5px;
  padding-right: 7.5px;
  box-sizing: border-box;
  cursor: pointer;
}

input:disabled, select:disabled {
  cursor: default;
}

/*clear placeholder text on input focus*/
input:focus::-webkit-input-placeholder {
  opacity: 0;
}

input:focus {
  cursor: default;
}

.main-container {
  margin-left: 140px; /*width of navbar*/
  margin-top: 30px; /*height of transparent titlebar for dragging*/
  margin-bottom: 30px;
  margin-right: 30px;
  width: calc(100% - 140px);
  height:100% !important;
}

input, select {
  /* Rectangle 163: */
  background: #F5F5F5;
  border: 2px solid rgba(0, 0, 0, 0.33);
  border-radius: 4px;
  cursor: pointer;
}

/*clear placeholder text on input focus*/
input:focus::-webkit-input-placeholder {
  opacity: 0;
}

input:focus {
  cursor: default;
}

/* GENERIC CLASSES */
.text-header {
  margin:0;
  font-family: AvenirNext-DemiBold;
  font-size: 48px;
  color: #6D6E70;
  letter-spacing: 0.01px;
}

.body-text {
  font-family: AvenirNext-Medium;
  font-size: 12px;
  color: #F0405E;
  letter-spacing: 0;
}

.flex-container {
  height: 100%;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

#task-header {
  position: absolute;
  top: 26px;
  left: 140px;
  width: 118px;
  height: 66px;
}
/* END GENERIC CLASSES*/