@import '../../styles/themes';
@import '../../styles/mixins';

$randomNumber: random(5);

%icons-base {
  cursor: pointer;
  &--active {
    opacity: 0.8333;
  }
}

%button-base {
  @include select-font();
  font-size: 12px;
  width: 65px;
  height: 29px;
  cursor: pointer;
  border: none;
  border-radius: 3px;
}

@keyframes rotation {
  0% {
    transform: rotate3d(0);
  }
  50% {
    transform: rotate3d(1, 1, 180, 45deg);
  }
  100% {
    transform: rotate3d(0);
  }
}

.react-bodymovin-container > svg {
  cursor: default !important;
}

.active {
  opacity: 0.833;
}

.navbar {
  height: 100%;
  position: fixed;

  &--separator {
    @include themify($themes) {
      border-style: solid;
      border-width: 1px;
      border-color: themed('navbarDividerColor');
    }
    margin-top: 8.5px;
    margin-bottom: 8.5px;
    height: 100%;
    display: block;
  }

  &__logo {
    margin-top: 15px !important;

    &--image {
      @include themify($themes) {
        filter: drop-shadow(8px 8px 1px themed('liveLogtableRowSelected'));
      }
    }

    &:hover {
      animation: rotation linear infinite;
      animation-duration: $randomNumber + s;
    }
  }

  &__icons {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
  }

  &__icon {
    &--tasks {
      @extend %icons-base;
      margin-left: 13px;
      width: 61px;
    }
    &--profiles {
      @extend %icons-base;
      width: 44px;
    }
    &--server {
      @extend %icons-base;
      margin-left: 2px;
      width: 42px;
    }
    &--settings {
      @extend %icons-base;
      margin-left: -5px;
      width: 40px;
    }
  }

  &__button {
    &--open-captcha {
      @extend %button-base;
      @include themify($themes) {
        background: themed('buttonColorPrimary');
        color: themed('buttonPrimaryText');
      }
      margin-top: 19px;
      width: 75px;
    }
    &--close-captcha {
      @extend %button-base;
      @include themify($themes) {
        background: themed('buttonColorSecondary');
        color: themed('buttonPrimaryText');
      }
      margin-top: 19px;
      width: 75px;
    }
  }

  &__text {
    &--gap {
      margin-top: 15px !important;
    }

    &--app-name {
      text-transform: capitalize;
      text-align: center;
      margin: 0;
      margin-top: 10px;
      opacity: 0.75;
      color: #46adb4 !important;
    }
    &--app-version {
      text-align: center;
      cursor: pointer;
      opacity: 0.75;
      color: #f0405e !important;
      cursor: pointer;
    }
  }
}
