input::placeholder, input {
    text-transform: none;
}

#proxy-list-label {
    margin: 0;
    position: absolute;
    top: 101px;
    left: 140px;
}

#proxy-list-box {
    position: absolute;
    top: 124px;
    left: 140px;
    width: 351px;
    height: 286px;
    border: 1px solid #F0405E;
    padding-bottom: 3px;
    border-radius: 3px;
}

#proxy-list-text {
    position:absolute;
    font-family: AvenirNext-Medium;
    text-transform: capitalize;
    font-size: 9px;
    color: #6D6E70;
    letter-spacing: 0;
    top:135px;
    left:151px;
    width:330px;
    height:270px;
    background: #f4f4f4;
    border-radius: 3px;
    border: none;
    overflow-y: scroll;
}

.invalidProxy {
    color: red;
}

.proxy-list-input {
    border-width: 1px;
    border-radius: 1px;
    width: 330px;
}

#proxy-list-save {
    position: absolute;
    top: 383px;
    left: 463px;
    cursor: pointer;
}

#proxy-button-youtube {
    position: absolute;
    top: 450px;
    left: 140px;
    width: 83px;
    height: 29px;
    cursor: pointer;
    background: #F0405E;
    border: none;
    border-radius: 3px;
    font-family: AvenirNext-Medium;
    font-size: 12px;
    color: #EFEFEF;
    letter-spacing: 0;
}

#proxy-button-captcha {
    position: absolute;
    top: 450px;
    left: 246px;
    width: 111px;
    height: 29px;
    cursor: pointer;
    background: #F0405E;
    border: none;
    border-radius: 3px;
    font-family: AvenirNext-Medium;
    font-size: 12px;
    color: #EFEFEF;
    letter-spacing: 0;
}

#proxy-button-close-session {
    position: absolute;
    top: 450px;
    left: 380px;
    width: 110px;
    height: 29px;
    cursor: pointer;
    background: #F0405E;
    border: none;
    border-radius: 3px;
    font-family: AvenirNext-Medium;
    font-size: 12px;
    color: #EFEFEF;
    letter-spacing: 0;
}

#discord-label {
    position: absolute;
    font-family: AvenirNext-Medium;
    font-size: 9px;
    letter-spacing: 0;
    margin: 0;
    top: 124px;
    left: 522px;
    width: 51px;
    height: 12px;
}

#slack-label {
    position: absolute;
    font-family: AvenirNext-Medium;
    font-size: 9px;
    letter-spacing: 0;
    top: 194px;
    left: 522px;
    width: 51px;
    height: 12px;
    margin: 0;
}

#discord-input {
    position: absolute;
    top: 143px;
    left: 522px;
    width: 422px;
    height: 29px;
    border: 1px solid #F0405E;
    border-radius: 3px;
}

#slack-input {
    position: absolute;
    top: 213px;
    left: 522px;
    width: 422px;
    height: 29px;
    border: 1px solid #F0405E;
    border-radius: 3px;
}

#defaults-label {
    margin: 0;
    position: absolute;
    top: 265px;
    left: 522px;
}

#defaults-box {
    position: absolute;
    top: 288px;
    left: 522px;
    width: 422px;
    height: 108px;
    border: 1px solid #F0405E;
    padding-bottom: 3px;
    border-radius: 3px;
}

#default-profile-label {
    position: absolute;
    top: 298px;
    margin: 0;
    left: 535px;
    font-family: AvenirNext-Medium;
    font-size: 9px;
    letter-spacing: 0;
}

#default-profile {
    position: absolute;
    top: 314px;
    left: 535px;
    width: 200px;
    border-radius: 3px;
    font-family: AvenirNext-Medium;
    font-size: 9px;
    letter-spacing: 0;
    cursor: pointer;
}

.select__control, .select__value-container, .select__indicators {
    cursor: pointer;
}

#default-sizes-label {
    position: absolute;
    top: 298px;
    margin: 0;
    left: 749px;
    font-family: AvenirNext-Medium;
    font-size: 9px;
    letter-spacing: 0;
}

#default-sizes {
    position: absolute;
    top: 314px;
    left: 749px;
    width: 185px;
    border-radius: 3px;
    font-family: AvenirNext-Medium;
    font-size: 9px;
    letter-spacing: 0;
}

#save-defaults {
    position: absolute;
    top: 358px;
    left: 851px;
    width: 83px;
    height: 29px;
    cursor: pointer;
    background: #F0405E;
    border: none;
    border-radius: 3px;
    font-family: AvenirNext-Medium;
    font-size: 12px;
    color: #EFEFEF;
    letter-spacing: 0;
}

#clear-defaults {
    position: absolute;
    top: 358px;;
    left: 752px;
    width: 83px;
    height: 29px;
    cursor: pointer;
    background: #46ADB4;
    border: none;
    border-radius: 3px;
    font-family: AvenirNext-Medium;
    font-size: 12px;
    color: #EFEFEF;
    letter-spacing: 0;
}